#python
*.pyc
*.sqlite3
**/migrations
__init__.py
/reservas/settings.py
calles.txt
calles.csv
calles BA y CABA.csv
settings.py
media/adjuntos/reservas_primer_draft.pptx
media/adjuntos/personas_owner_y_chof.csv
db.json
db1.json
db1.zip
bk20190430.rar
bk20190508.rar
bk20190524.zip
bk20190531.json
bk20190611.json
sistema/fixtures/db.json
sistema/fixtures/db1.zip
sistema/fixtures/db2.json
sistema/fixtures/db2.zip
sistema/fixtures/bk20190524.json
sistema/fixtures/bk20190508.json
sistema/fixtures/bk.json
sistema/fixtures/jsonmarz.jsons
sistema/fixtures/jsonmarz.json
/static/admin
/sistema/fixtures
media/adjuntos
bkp20190914_mod.json
db.json
db.json
