{% load static %}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="es">
    <!--<![endif]-->
    {% include "sistema/cabecera.html" %}
    <body class="page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid page-sidebar-reversed page-sidebar-fixed page-md">
        {% include "sistema/barra_top.html" %}
        <div class="page-container">
            {% include "sistema/barra_lat.html" %}
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                    <div class="page-bar">
                        <ul class="page-breadcrumb">
                            <li>
                                <i class="icon-directions"></i>
                                <a href="/sistema/operaciones/">Operaciones</a>
                                <i class="fa fa-angle-right"></i>
                            </li>
                            <li>
                                <a href="/sistema/listadoAdelanto/">Listado de Adelantos</a>
                                <i class="fa fa-angle-right"></i>
                            </li>
                            <li>
                                <span>Adelanto</span>
                            </li>
                        </ul>
                    </div>
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2">
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <div class="portlet light ">
                                <div class="portlet-title">
                                    <div class="caption font-blue">
                                        <i class="icon-credit-card font-blue"></i>
                                        <span class="caption-subject bold uppercase">Alta/Edición de Adelanto</span>
                                    </div>
                                    <div class="tools"> </div>
                                </div>
                                <div class="portlet-body">
                                    <form role="form" method="post" id="formGuardarAdelanto" action="/sistema/guardarAdelanto/">{% csrf_token %}
                                        <input type="hidden" id="idAdelanto" name="idAdelanto" value="{{ adelanto.id }}">
                                        <input type="hidden" id="estado" name="estado" value="{{ estado }}">
                                        <div class="form-body">
                                            <div class="row">
                                                <div class="col-sm-5">
                                                    <div class="form-group form-md-line-input">
                                                        <select class="form-control select2me" id="provedor" name="provedor">
                                                          <option value="">Seleccionar Provedor</option>
                                                            {% for p in proveedores %}
                                                                <option value="{{ p.id }}">{{p.id}} - {{ p.nombreCompleto }}</option>
                                                            {% endfor %}
                                                        </select>
                                                        <label for="provedor">Provedor</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <div class="form-group form-md-line-input form-md-floating-label">
                                                        <input type="text" class="form-control" id="monto" name="monto" value="{{ adelanto.monto|default_if_none:"0" }}">
                                                        <label for="monto">Monto</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-group form-md-line-input form-md-floating-label">
                                                        <select class="form-control" id="tipoAdelanto" name="tipoAdelanto" >
                                                            <option value="0">Seleccioná un tipo</option>
                                                            {% for t in tipos_adelanto %}
                                                                <option value="{{ t.id }}" selected="selected" >{{ t.descripcion }}</option>
                                                            {% endfor %}
                                                        </select>
                                                        <label for="tipoAdelanto">Tipo de Adelanto</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-group form-md-line-input form-md-floating-label">
                                                        <input type="text" class="form-control" id="descripcion" name="descripcion" value="{{ adelanto.descripcion|default_if_none:"" }}">
                                                        <label for="descripcion">Descripción</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <label for="fecha font-12">Fecha</label>
                                                    <input class="form-control form-control-inline date-picker" id="fecha" name="fecha" size="16" type="text" value="{{ adelanto.getFecha }}" />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-group form-md-line-input form-md-floating-label">
                                                        <input type="text" class="form-control" id="factura" name="factura" value="{{ adelanto.factura|default_if_none:"" }}">
                                                        <label for="factura">Factura</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-actions noborder flex flex-j-between">
                                            <button type="button" onclick="guardarAdelanto()" class="btn green">Guardar</button>
                                            <button type="button" onclick="location.href='/sistema/listadoAdelanto/';" class="btn red">Cancelar</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- END EXAMPLE TABLE PORTLET-->
                        </div>
                    </div>

                </div>
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
            <!-- BEGIN QUICK SIDEBAR -->
            <!-- END QUICK SIDEBAR -->
        </div>
        <!-- END CONTAINER -->
        {% include "sistema/footer.html" %}

            <!-- SCRIPTS PROPIOS DE ESTA VISTA -->
            <script>
                $(document).ready(function(){
                    $(document).prop('title', 'Adelanto - Central LT');

                    $('#fecha').datepicker({
                        language: 'es',
                        dateFormat: 'dd/mm/yy',
                        // todayBtn: true,
                        todayHighlight: true,
                        autoclose: true
                    });
                    $('#fecha').datepicker('setDate', new Date());

                    idAdelanto = $("#idAdelanto").val()
                    estado = $("#estado").val()

                    if (idAdelanto != "0"){
                        if (estado != ''){
                            alert("Se guardó el adelanto correctamente.");
                        }
                        $("#tipoAdelanto").val('{{ tipoAdelantoId }}')
                        $('#provedor').val('{{ provedorId }}');
                    }

                    $("#provedor").select2({
                        placeholder: "Seleccionar Provedor",
                        allowClear: true,
                        dropdownAutoWidth : true,
                        width: 'auto'
                    });
                });

                function guardarAdelanto(){
                    if ($("#provedor").val() == ""){
                        alert("El campo Provedor es obligatorio.");
                        return false;
                    }
                    if ($("#tipoAdelanto").val() == ""){
                        alert("El campo Tipo Adelanto es obligatorio.");
                        return false;
                    }

                    $("#formGuardarAdelanto").submit();
                }

            </script>

        </div>
    </body>

</html>