{% load static %}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
    <!--<![endif]-->
    {% include "sistema/cabecera.html" %}
    <body class="page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid page-sidebar-reversed page-sidebar-fixed page-md">
        {% include "sistema/barra_top.html" %}
        <!-- BEGIN HEADER & CONTENT DIVIDER -->
        <div class="clearfix"> </div>
        <!-- END HEADER & CONTENT DIVIDER -->
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            {% include "sistema/barra_lat.html" %}
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                    <!-- BEGIN PAGE HEADER-->
                    <h1 class="page-title">Cliente</h1>
                    <!-- END PAGE HEADER-->
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2">
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <div class="portlet light ">
                                <div class="portlet-title">
                                    <div class="caption font-blue">
                                        <i class="icon-briefcase font-blue"></i>
                                        <span class="caption-subject bold uppercase">Alta/Edición de cliente</span>
                                    </div>
                                    <div class="tools"> </div>
                                </div>
                                <div id="clienteValidacion" class="alert alert-danger">
                                    <button class="close" data-close="alert"></button> 
                                    <div></div> <div id="mensajeValidacion" ></div> 
                                </div>
                                <div class="portlet-body">
                                    <form role="form" method="post" id="formGuardarCliente" action="/sistema/guardarCliente/">{% csrf_token %}
                                        <div class="form-body">
                                            <div class="row">
                                                <div class="col-sm-7">
                                                    <div class="form-group form-md-line-input form-md-floating-label">
                                                        <input type="text" class="form-control" id="razonSocial" name="razonSocial">
                                                        <label for="form_control_1">Nombre o Razón Social</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-5">
                                                    <div class="form-group form-md-line-input form-md-floating-label">
                                                        <input type="text" class="form-control" id="cuil" name="cuil" >
                                                        <label for="form_control_2">CUIL/CUIT</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-7">
                                                    <div class="form-group form-md-line-input form-md-floating-label">
                                                        <input type="text" class="form-control" id="direccion" name="direccion">
                                                        <label for="form_control_3">Dirección</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-5">
                                                    <div class="form-group form-md-line-input form-md-floating-label">
                                                        <input type="text" class="form-control" id="telefono" name="telefono">
                                                        <label for="form_control_4">Teléfono</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group form-md-line-input form-md-floating-label">
                                                        <select class="form-control" id="categorias" name="categorias">
                                                            <option value=""></option>
                                                            {% for c in categorias %}
                                                                <option value="{{ c.id }}">{{ c.categoria }}</option>
                                                            {% endfor %}
                                                        </select>
                                                        <label for="form_control_5">Categoría</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group form-md-line-input form-md-floating-label">
                                                        <select class="form-control" id="tarifarios" name="tarifarios">
                                                            <option value=""></option>
                                                            {% for t in tarifarios %}
                                                                <option value="{{ t.id }}">{{ t.nombre }}</option>
                                                            {% endfor %}
                                                        </select>
                                                        <label for="form_control_6">Tarifario</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-actions noborder flex flex-j-between">
                                            <button type="button" onclick="guardarCliente();" class="btn green">Guardar</button>
                                            <button type="button" class="btn red">Cancelar</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- END EXAMPLE TABLE PORTLET-->
                        </div>
                    </div>

                </div>
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
            <!-- BEGIN QUICK SIDEBAR -->
            <!-- END QUICK SIDEBAR -->
        </div>
        <!-- END CONTAINER -->
        {% include "sistema/footer.html" %}

            <!-- SCRIPTS PROPIOS DE ESTA VISTA -->
            <script>
                $(document).ready(function(){
                    $("#mensajeValidacion").html("");
                    $("#clienteValidacion").hide();
                });

                function guardarCliente(){

                    if ($("#razonSocial").val() == ""){
                        $("#mensajeValidacion").html("El campo Razon Social es obligatorio.");
                        $("#clienteValidacion").show()
                        return false;
                    }
                    if ($("#cuil").val() == ""){
                        $("#mensajeValidacion").html("El campo CUIL/CUIT es obligatorio.");
                        $("#clienteValidacion").show()
                        return false;
                    }
                    if ($("#direccion").val() == ""){
                        $("#mensajeValidacion").html("El campo Direccion es obligatorio.");
                        $("#clienteValidacion").show()
                        return false;
                    }
                    if ($("#telefono").val() == ""){
                        $("#mensajeValidacion").html("El campo Telefono es obligatorio.");
                        $("#clienteValidacion").show()
                        return false;
                    }
                    if ($("#categorias").val() == ""){
                        $("#mensajeValidacion").html("El campo Categoria es obligatorio.");
                        $("#clienteValidacion").show()
                        return false;
                    }
                    if ($("#tarifarios").val() == ""){
                        $("#mensajeValidacion").html("El Tarifario es obligatorio.");
                        $("#clienteValidacion").show()
                        return false;
                    }

                    $("#formGuardarCliente").submit();
                    
                }

            </script>

        </div>
    </body>

</html>