{% load static %}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
    <!--<![endif]-->
    {% include "sistema/cabecera.html" %}
    <body class="page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid page-sidebar-reversed page-sidebar-fixed page-md">
        {% include "sistema/barra_top.html" %}
        <!-- BEGIN HEADER & CONTENT DIVIDER -->
        <div class="clearfix"> </div>
        <!-- END HEADER & CONTENT DIVIDER -->
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            {% include "sistema/barra_lat.html" %}
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                    <!-- BEGIN PAGE HEADER-->
                    <h1 class="page-title">Cliente</h1>
                    <!-- END PAGE HEADER-->
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2">
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <div class="portlet light ">
                                <div class="portlet-title">
                                    <div class="caption font-blue">
                                        <i class="icon-briefcase font-blue"></i>
                                        <span class="caption-subject bold uppercase">Alta/Edición de cliente</span>
                                    </div>
                                    <div class="tools"> </div>
                                </div>
                                <div class="portlet-body">
                                    <form role="form">
                                        <div class="form-body">
                                            <div class="row">
                                                <div class="col-sm-7">
                                                    <div class="form-group form-md-line-input form-md-floating-label">
                                                        <input type="text" class="form-control" id="form_control_1">
                                                        <label for="form_control_1">Nombre o Razón Social</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-5">
                                                    <div class="form-group form-md-line-input form-md-floating-label">
                                                        <input type="text" class="form-control" id="form_control_2">
                                                        <label for="form_control_2">CUIL/CUIT</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-7">
                                                    <div class="form-group form-md-line-input form-md-floating-label">
                                                        <input type="text" class="form-control" id="form_control_3">
                                                        <label for="form_control_3">Dirección</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-5">
                                                    <div class="form-group form-md-line-input form-md-floating-label">
                                                        <input type="text" class="form-control" id="form_control_4">
                                                        <label for="form_control_4">Teléfono</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group form-md-line-input form-md-floating-label">
                                                        <select class="form-control" id="form_control_5">
                                                            <option value=""></option>
                                                            <option value="1">Categoría 1</option>
                                                            <option value="2">Categoría 2</option>
                                                            <option value="3">Categoría 3</option>
                                                            <option value="4">Categoría 4</option>
                                                        </select>
                                                        <label for="form_control_5">Categoría</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group form-md-line-input form-md-floating-label">
                                                        <select class="form-control" id="form_control_6">
                                                            <option value=""></option>
                                                            <option value="1">General</option>
                                                            <option value="2">Especial 1</option>
                                                            <option value="3">Especial 2</option>
                                                            <option value="4">Especial 3</option>
                                                        </select>
                                                        <label for="form_control_6">Tarifario</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-actions noborder flex flex-j-between">
                                            <button type="submit" class="btn green">Guardar</button>
                                            <button type="button" class="btn red">Cancelar</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- END EXAMPLE TABLE PORTLET-->
                        </div>
                    </div>

                </div>
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
            <!-- BEGIN QUICK SIDEBAR -->
            <!-- END QUICK SIDEBAR -->
        </div>
        <!-- END CONTAINER -->
        {% include "sistema/footer.html" %}

            <!-- SCRIPTS PROPIOS DE ESTA VISTA -->
            <script>
                $(document).ready(function(){
                    
                });
            </script>

        </div>
    </body>

</html>