{% load static %}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
    <!--<![endif]-->
    {% include "sistema/cabecera.html" %}
    <body class="page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid page-sidebar-reversed page-sidebar-fixed page-md">
        {% include "sistema/barra_top.html" %}
        <!-- BEGIN HEADER & CONTENT DIVIDER -->
        <div class="clearfix"> </div>
        <!-- END HEADER & CONTENT DIVIDER -->
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            {% include "sistema/barra_lat.html" %}
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                    <div class="page-bar">
                        <ul class="page-breadcrumb">
                            <li>
                                <i class="icon-home"></i>
                                <a href="index.html"></a>
                                <i class="fa fa-angle-right"></i>
                            </li>
                            <li>
                                <a href="#">Blank Page</a>
                                <i class="fa fa-angle-right"></i>
                            </li>
                            <li>
                                <span>Page Layouts</span>
                            </li>
                        </ul>
                    </div>
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2">
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <div class="portlet light ">
                                <div class="portlet-title">
                                    <div class="caption font-green">
                                        <i class="icon-user font-green"></i>
                                        <span class="caption-subject bold uppercase">Alta/Edición de Persona</span>
                                    </div>
                                    <div class="tools"> </div>
                                </div>
                                <div class="portlet-body">
                                    <form role="form">
                                        <div class="form-body">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-group form-md-line-input form-md-floating-label">
                                                        <input type="text" class="form-control" id="form_control_1">
                                                        <label for="form_control_1">Nombre</label>
                                                        <!-- <span class="help-block">Some help goes here...</span> -->
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group form-md-line-input form-md-floating-label">
                                                        <input type="text" class="form-control" id="form_control_2">
                                                        <label for="form_control_2">Apellido</label>
                                                        <!-- <span class="help-block">Some help goes here...</span> -->
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <div class="form-group form-md-line-input form-md-floating-label">
                                                        <input type="text" class="form-control" id="form_control_3">
                                                        <label for="form_control_3">Fecha de nacimiento</label>
                                                        <!-- <span class="help-block">Some help goes here...</span> -->
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-group form-md-line-input form-md-floating-label">
                                                        <input type="text" class="form-control" id="form_control_4">
                                                        <label for="form_control_4">DNI</label>
                                                        <!-- <span class="help-block">Some help goes here...</span> -->
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-group form-md-line-input form-md-floating-label">
                                                        <select class="form-control" id="form_control_5">
                                                            <option value=""></option>
                                                            <option value="1">Soltero</option>
                                                            <option value="2">Casado</option>
                                                            <option value="3">Divorciado</option>
                                                            <option value="4">Viudo</option>
                                                        </select>
                                                        <label for="form_control_5">Estado Civil</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <div class="form-group form-md-line-input form-md-floating-label">
                                                        <input type="text" class="form-control" id="form_control_6">
                                                        <label for="form_control_6">Calle</label>
                                                        <!-- <span class="help-block">Some help goes here...</span> -->
                                                    </div>
                                                </div>
                                                <div class="col-sm-2">
                                                    <div class="form-group form-md-line-input form-md-floating-label">
                                                        <input type="text" class="form-control" id="form_control_7">
                                                        <label for="form_control_7">Altura</label>
                                                        <!-- <span class="help-block">Some help goes here...</span> -->
                                                    </div>
                                                </div>
                                                <div class="col-sm-2">
                                                    <div class="form-group form-md-line-input form-md-floating-label">
                                                        <input type="text" class="form-control" id="form_control_8">
                                                        <label for="form_control_8">Piso</label>
                                                        <!-- <span class="help-block">Some help goes here...</span> -->
                                                    </div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <div class="form-group form-md-line-input form-md-floating-label">
                                                        <input type="text" class="form-control" id="form_control_9">
                                                        <label for="form_control_9">Localidad</label>
                                                        <!-- <span class="help-block">Some help goes here...</span> -->
                                                    </div>
                                                </div>
                                                <div class="col-sm-2">
                                                    <div class="form-group form-md-line-input form-md-floating-label">
                                                        <input type="text" class="form-control" id="form_control_10">
                                                        <label for="form_control_10">CP</label>
                                                        <!-- <span class="help-block">Some help goes here...</span> -->
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <div class="form-group form-md-line-input form-md-floating-label">
                                                        <select class="form-control" id="form_control_11">
                                                            <option value=""></option>
                                                            <option value="1">Chofer</option>
                                                            <option value="2">Dueño</option>
                                                            <option value="3">Contacto</option>
                                                            <option value="4">Otro ?</option>
                                                        </select>
                                                        <label for="form_control_11">Tipo de persona</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <div class="form-group form-md-line-input form-md-floating-label">
                                                        <input type="text" class="form-control" id="form_control_12">
                                                        <label for="form_control_12">Teléfono</label>
                                                        <!-- <span class="help-block">Some help goes here...</span> -->
                                                    </div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <div class="form-group form-md-line-input form-md-floating-label">
                                                        <input type="text" class="form-control" id="form_control_13">
                                                        <label for="form_control_13">Mail</label>
                                                        <!-- <span class="help-block">Some help goes here...</span> -->
                                                    </div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <div class="form-group form-md-line-input">
                                                        <textarea class="form-control" rows="1" placeholder=""></textarea>
                                                        <label for="form_control_14">Comentario</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <div class="form-group form-md-line-input form-md-floating-label">
                                                        <input type="text" class="form-control" id="form_control_15">
                                                        <label for="form_control_15">Poercentaje viaje</label>
                                                        <!-- <span class="help-block">Some help goes here...</span> -->
                                                    </div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <div class="form-group form-md-line-input form-md-floating-label">
                                                        <input type="text" class="form-control" id="form_control_16">
                                                        <label for="form_control_16">Contacto cliente</label>
                                                        <!-- <span class="help-block">Some help goes here...</span> -->
                                                    </div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <div class="form-group form-md-line-input form-md-floating-label">
                                                        <input type="text" class="form-control" id="form_control_17">
                                                        <label for="form_control_17">Puesto</label>
                                                        <!-- <span class="help-block">Some help goes here...</span> -->
                                                    </div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <div class="form-group form-md-line-input form-md-floating-label">
                                                        <input type="text" class="form-control" id="form_control_18">
                                                        <label for="form_control_18">Licencia</label>
                                                        <!-- <span class="help-block">Some help goes here...</span> -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-actions noborder flex flex-j-between">
                                            <button type="button" class="btn green">Guardar</button>
                                            <button type="button" class="btn red">Cancelar</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- END EXAMPLE TABLE PORTLET-->
                        </div>
                    </div>

                </div>
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
            <!-- BEGIN QUICK SIDEBAR -->
            <!-- END QUICK SIDEBAR -->
        </div>
        <!-- END CONTAINER -->
        {% include "sistema/footer.html" %}

            <!-- SCRIPTS PROPIOS DE ESTA VISTA -->
            <script>
                $(document).ready(function(){
                    
                });
            </script>

        </div>
    </body>

</html>