{% load static %}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
    <!--<![endif]-->
    {% include "sistema/cabecera.html" %}
    <body id="asignaciones" class="page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid page-sidebar-reversed page-sidebar-fixed page-md">
        {% include "sistema/barra_top.html" %}
        <!-- BEGIN HEADER & CONTENT DIVIDER -->
        <div class="clearfix"> </div>
        <!-- END HEADER & CONTENT DIVIDER -->
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            {% include "sistema/barra_lat.html" %}
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                    <div class="page-bar">
                        <ul class="page-breadcrumb">
                            <li>
                                <i class="icon-home"></i>
                                <a href="/sistema/operaciones/">Operaciones</a>
                                <i class="fa fa-angle-right"></i>
                            </li>
                            <li>
                                <span>Asignaciones</span>
                            </li>
                        </ul>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet light ">
                                <div class="portlet-title">
                                    <div class="caption font-green">
                                        <i class="icon-rocket font-green"></i>
                                        <span class="caption-subject bold uppercase">Viajes a asignar</span>
                                    </div>
                                    <div class="inline-block width-50" style="float: right;">
                                        <select id="multiselect_estado" class="mt-multiselect btn btn-default" multiple="multiple" data-clickable-groups="true" data-drop-right="true" data-width="100%">
                                            <optgroup label="Nuevos" class="group-1">
                                                <option value="1-1">Sin asignar</option>
                                                <option value="1-2" selected="selected">Asignados</option>
                                                <option value="1-3" selected="selected">Confirmados</option>
                                                <option value="1-4" selected="selected">En progreso</option>
                                            </optgroup>
                                            <optgroup label="Finalizados" class="group-2">
                                                <option value="2-1">Cerrados</option>
                                                <option value="2-2">Cancelados</option>
                                            </optgroup>
                                        </select>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <div id="toolbar">
                                        <button id="exportExcel" class="btn btn-default pull-right mg-l-20">Excel</button>
                                        <!-- <button id="exportPDF" class="btn btn-default">Export PDF</button> -->
                                    </div>
                                    <table id="table"
                                            data-show-export="true"
                                            data-toolbar="#toolbar"
                                            data-search="true"
                                            data-toggle="table"
                                            data-pagination="true"
                                            data-locale="es-ES">
                                        <thead>
                                            <tr>
                                                <th data-checkbox="true"></th>
                                                <th class="desktop">Ver</th>
                                                <th class="desktop">TS</th>
                                                <th class="desktop">Fecha</th>
                                                <th class="desktop">Hora</th>
                                                <th class="desktop">Cliente</th>
                                                <th class="desktop">Solicitante</th>
                                                <th class="desktop">Pasajero</th>
                                                <th class="desktop">Origen</th>
                                                <th class="desktop">Destino</th>
                                                <th class="desktop">Nro.</th>
                                                <th class="desktop">Unidad</th>
                                                <th class="desktop">C. Costo</th>
                                                <th class="desktop">Estado</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td></td>
                                                <td class="text-center"><a href="#"><i class="fa fa-eye"></i></a></td>
                                                <td><a id="tipoServicio"></a></td>
                                                <td><a id="fecha" data-type="date" data-pk="1" data-title="Fecha" class="editable editable-click">25/08/2018</a></td>
                                                <td><a id="hora" data-type="combodate" data-value="15:30" data-template="HH:mm" data-format="HH:mm" data-viewformat="HH:mm" data-pk="1" data-title="Hora" class="editable editable-click editable-open"></a></td>
                                                <td>Galcubo</td>
                                                <td><a id="solicitante">Guido</a></td>
                                                <td>Susana Gimenez</td>
                                                <td>Ezeiza</td>
                                                <td>Centro</td>
                                                <td><a id="nro"></a></td>
                                                <td><a id="unidad" data-type="select2" data-pk="1" data-value="222" data-title="Unidad" class="editable editable-click"></a></td>
                                                <td><a id="centroDeCosto"></a></td>
                                                <td><a id="estado"></a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
            <!-- BEGIN QUICK SIDEBAR -->
            <!-- END QUICK SIDEBAR -->
        </div>
        <!-- END CONTAINER -->
        {% include "sistema/footer.html" %}
            
            <!-- SCRIPTS PROPIOS DE ESTA VISTA -->
            <script>
                var $table = $('#table');
                $(function () {
                    $('#exportExcel').click(function () {
                        $table.tableExport({
                            type: 'excel',
                            ignoreColumn: [0,1],
                            escape: false
                        });
                      });
                })
                $(document).ready(function(){
                    $('#multiselect_estado').multiselect({
                        onChange: function(option, checked, select) {
                            var opselected = $(option).val();
                            if(checked == true) {
                                estados_selecionados.push(opselected)
                            }else{
                                estados_selecionados.splice( estados_selecionados.indexOf(opselected), 1 );
                            }
                            console.log(estados_selecionados)
                        }
                    });


                    //toggle `popup` / `inline` mode
                    $.fn.editable.defaults.mode = 'popup';     

                    $('#tipoServicio').editable({
                        type: 'select',
                        title: 'Tipo de Servicio:',
                        placement: 'top',
                        value: 1,
                        source: [
                            {value: 1, text: 'STD'},
                            {value: 2, text: 'VIP'},
                            {value: 3, text: 'VAN-C'},
                            {value: 4, text: 'VAN-L'}
                        ]
                    });

                    $.fn.bdatepicker.dates['es'] = {
                        days: ["Domingo", "Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado", "Domingo"],
                        daysShort: ["Dom", "Lun", "Mar", "Mie", "Jue", "Vie", "Sab", "Dom"],
                        daysMin: ["D", "L", "M", "M", "J", "V", "S", "D"],
                        months: ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
                        monthsShort: ["Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Ago", "Sep", "Oct", "Nov", "Dic"],
                        today: "Hoy",
                        weekStart: 1
                    };

                    $('#fecha').editable({
                        placement: 'right',
                        format: 'dd-mm-yyyy',    
                        viewformat: 'dd/mm/yyyy',    
                        datepicker: {
                                weekStart: 1,
                                language: 'es'
                           }
                    });

                    $('#hora').editable(); 

                    $('#solicitante').editable({
                        type: 'select',
                        title: 'Solicitante',
                        placement: 'top',
                        value: 3,
                        source: [
                            {value: 1, text: 'Guido'},
                            {value: 2, text: 'Jere'},
                            {value: 3, text: 'Cris'},
                            {value: 4, text: 'Toto'}
                        ]
                    });

                    // $(function(){
                    //     $('#dob').editable({
                    //         placement: 'bottom',
                    //         format: 'dd-mm-yyyy',    
                    //         viewformat: 'dd/mm/yyyy',    
                    //         datepicker: {
                    //                 weekStart: 1
                    //            }
                    //         });
                    // });

                    $('#nro').editable({
                        type: 'select',
                        title: 'Nro. Unidad',
                        placement: 'top',
                        value: 4,
                        source: [
                            {value: 1, text: '325'},
                            {value: 2, text: '258'},
                            {value: 3, text: '123'},
                            {value: 4, text: '222'}
                        ]
                    });

                    // $('#chofer').editable({
                    //     type: 'select',
                    //     title: 'Chofer',
                    //     placement: 'top',
                    //     value: 1,
                    //     source: [
                    //         {value: 1, text: 'Jorge Martín'},
                    //         {value: 2, text: 'Federico Fazio'},
                    //         {value: 3, text: 'Jorge Sampaoli'},
                    //         {value: 4, text: 'Hernán Cattaneo'}
                    //     ]
                    // });

                    var unidades = [];
                    $.each({"325": "Jorge Martín Siena", "258": "Jorge Sampaoli Fitito", "123": "Federico Fazio Mondeo", "222": "Martin Bossi Vento"}, function(k, v) {
                        unidades.push({id: k, text: v});
                    }); 
                    $('#unidad').editable({
                        source: unidades,
                        select2: {
                            width: 200,
                            placeholder: 'Elegir unidad',
                            allowClear: true
                        } 
                    });

                    $('#centroDeCosto').editable({
                        type: 'select',
                        title: 'Centro de Costo',
                        placement: 'top',
                        value: 2,
                        source: [
                            {value: 1, text: 'G3FERIA'},
                            {value: 2, text: 'G3RURAL'},
                            {value: 3, text: 'G3FINDEANIO'},
                            {value: 4, text: 'G3VARIOS'}
                        ]
                    });

                    $('#estado').editable({
                        type: 'select',
                        title: 'Estado:',
                        placement: 'top',
                        value: 1,
                        source: [
                            {value: 1, text: 'Nuevo'},
                            {value: 2, text: 'Asignado'},
                            {value: 3, text: 'Confirmado'},
                            {value: 4, text: 'Cancelado'}
                        ]
                    });
                });
            </script>

        </div>
    </body>

</html>