{% load static %}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="es">
    <!--<![endif]-->
    {% include "sistema/cabecera.html" %}
    <body id="asignaciones" class="page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid page-sidebar-reversed page-sidebar-fixed page-md">
        {% include "sistema/barra_top.html" %}
        <div class="page-container">
            <div id="barraLatDiv" class="page-sidebar-wrapper">
                <!-- END SIDEBAR -->
                <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
                <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
                <div class="page-sidebar navbar-collapse collapse">
                    <!-- BEGIN SIDEBAR MENU -->
                    <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
                    <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
                    <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
                    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
                    <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
                    <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
                    <ul class="page-sidebar-menu page-header-fixed" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                        <li class="nav-item  ">
                            <a href="javascript:;" class="nav-link nav-toggle pd-0 height-36">
                                <div class="col-md-12 fechaDelDia pd-0">
                                    <input id="fechaDeHoy" class="form-control form-control-inline datepicker" size="14" type="text" value="" />
                                </div>
                            </a>
                        </li>
                    </ul>
                    <!-- END SIDEBAR MENU -->
                </div>
                <!-- END SIDEBAR -->
            </div>
            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                    <div class="page-bar">
                        <ul class="page-breadcrumb">
                            <li>
                                <i class="icon-directions"></i>
                                <a href="#">Operaciones</a>
                                <i class="fa fa-angle-right"></i>
                            </li>
                            <li>
                                <span>Viajes</span>
                            </li>
                        </ul>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet light ">
                                <div class="portlet-title">
                                    <div class="caption font-green mg-t-5">
                                        <i class="icon-rocket font-green"></i>
                                        <span class="caption-subject bold uppercase">Viajes</span>
                                    </div>
                                    <div class="inline-block mg-b-5" style="float: right;">
                                        <select id="multiselect_estado" name="multiselect_estado[]" class="mt-multiselect btn btn-default" multiple="multiple" data-clickable-groups="true" data-drop-right="true" data-width="100%">
                                            {% for e in estados %}
                                                {% if e.id == 3 or e.id == 4 or e.id == 10 %}
                                                    <option selected="selected" value="{{ e.id }}">{{ e.estado }}</option>
                                                {% else %}
                                                    <option value="{{ e.id }}">{{ e.estado }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <div id="toolbar">
                                        <!--<button id="exportExcel" class="btn btn-default pull-right mg-l-20">Excel</button>-->
                                        <!-- <button id="exportPDF" class="btn btn-default">Export PDF</button> -->
                                    </div>
                                    <div id="table_container">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END CONTENT BODY -->
                <input type="hidden" id="permiso" name="permiso" value="{{ permiso }}">
            </div>
            <!-- END CONTENT -->
            <!-- BEGIN QUICK SIDEBAR -->
            <!-- END QUICK SIDEBAR -->
        </div>
        <!-- END CONTAINER -->
        {% include "sistema/footer.html" %}
            <!-- SCRIPTS PROPIOS DE ESTA VISTA -->
            <script>
                let $table = $('#table-editable');
                let estados_selecionados = ['3', '4', '10'];
                let viajes_seleccionado = [];

                $(document).ready(function(){
                    $(document).prop('title', 'Asignaciones - Central LT');

                    /*if ($('#permiso').val() == 'unidades' || $('#permiso').val() == 'finanzas'){
                        $('#barraLatDiv').hide();
                    }*/
                    getGrillasAsignaciones($('#fechaDeHoy').val());
                    $('#exportExcel').click(function () {
                        $table.tableExport({
                            type: 'excel',
                            ignoreColumn: [0,1],
                            escape: false
                        });
                      });
                    $('#multiselect_estado').multiselect({
                        onChange: function(option, checked, select) {
                            let opselected = $(option).val();
                            if(checked == true) {
                                estados_selecionados.push(opselected)
                            }else{
                                estados_selecionados.splice( estados_selecionados.indexOf(opselected), 1 );
                            }
                            getGrillasAsignaciones($('#fechaDeHoy').val());
                        }
                    });
                    $('#fechaDeHoy').change(function () {
                        getGrillasAsignaciones($('#fechaDeHoy').val());
                    });
                });

                getGrillasAsignaciones = fecha => {
                    let url = "/sistema/getViajesAsignacionesPorFecha/";
                    $.ajax({
                       type: "POST",
                       url: url,
                       headers: {'X-CSRFToken': '{{ csrf_token }}'},
                       data: {date:fecha,estados_selecionados:estados_selecionados},
                       success: function(data) {
                           $('#table_container').html(data);
                       }
                     });
                };

                $('#estado_pre_asignado').css( 'cursor', 'pointer' );
                $('#estado_asignado').css( 'cursor', 'pointer' );
                $('#estado_confirmado').css( 'cursor', 'pointer' );
                $('#estado_en_progreso').css( 'cursor', 'pointer' );
                $('#estado_finalizado').css( 'cursor', 'pointer' );
                $('#estado_cerrado').css( 'cursor', 'pointer' );
                $('#estado_cancelado').css( 'cursor', 'pointer' );

                $('#estado_pre_asignado').click(function () {
                    editEstadoViaje('2');
                });

                $('#estado_asignado').click(function () {
                    editEstadoViaje('3');
                });

                $('#estado_confirmado').click(function () {
                    editEstadoViaje('4');
                });

                $('#estado_en_progreso').click(function () {
                    editEstadoViaje('5');
                });

                $('#estado_finalizado').click(function () {
                    editEstadoViaje('6');
                });

                $('#estado_cerrado').click(function () {
                    editEstadoViaje('7');
                });

                $('#estado_cancelado').click(function () {
                    editEstadoViaje('8');
                });

                editEstadoViaje = estado_seleccionado =>{
                    $('#asignaciones_table tbody > .selected').each(function(i) {
                        viajes_seleccionado.push($(this).context.childNodes[1].innerText);
                    });
                    let url = "/sistema/editEstadoViajeAsignaciones/";
                    $.ajax({
                       type: "POST",
                       url: url,
                       headers: {'X-CSRFToken': '{{ csrf_token }}'},
                       data: {viajes_seleccionado:viajes_seleccionado, estado_seleccionado:estado_seleccionado},
                       success: function(data){
                           viajes_seleccionado = [];
                           getGrillasAsignaciones($('#fechaDeHoy').val());
                       }
                     });
                }
            </script>
        </div>
    </body>

</html>