{% load static %}
        <!-- BEGIN HEADER -->
        <div class="page-header navbar navbar-fixed-top">
            <!-- BEGIN HEADER INNER -->
            <div class="page-header-inner ">
                <!-- BEGIN LOGO -->
                <div class="page-logo">
                    <a href="/sistema/operaciones/">
                        <img src="../../static/img/LTlogocortado.png" alt="logo" class="logo-default" width="195px" /> </a>
                    <!-- <div class="menu-toggler sidebar-toggler"> -->
                        <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
                    <!-- </div> -->
                </div>
                <!-- END LOGO -->
                <!-- BEGIN RESPONSIVE MENU TOGGLER -->
                <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"> </a>
                <!-- END RESPONSIVE MENU TOGGLER -->
                <!-- BEGIN PAGE ACTIONS -->
                <!-- DOC: Remove "hide" class to enable the page header actions -->
                <!-- END PAGE ACTIONS -->
                <!-- BEGIN PAGE TOP -->
                <div class="page-top">
                    <!-- BEGIN HEADER SEARCH BOX -->
                    <!-- DOC: Apply "search-form-expanded" right after the "search-form" class to have half expanded search box -->
                    <!-- END HEADER SEARCH BOX -->
                    <!-- BEGIN TOP NAVIGATION MENU -->
                    <div class="top-menu">
                        <ul class="nav navbar-nav pull-left">
                            <!-- BEGIN NOTIFICATION DROPDOWN -->
                            <!-- DOC: Apply "dropdown-dark" class below "dropdown-extended" to change the dropdown styte -->
                            <!-- DOC: Apply "dropdown-hoverable" class after below "dropdown" and remove data-toggle="dropdown" data-hover="dropdown" data-close-others="true" attributes to enable hover dropdown mode -->
                            <!-- DOC: Remove "dropdown-hoverable" and add data-toggle="dropdown" data-hover="dropdown" data-close-others="true" attributes to the below A element with dropdown-toggle class -->
                            <!-- END NOTIFICATION DROPDOWN -->
                            <!-- BEGIN INBOX DROPDOWN -->
                            <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                            <!-- END INBOX DROPDOWN -->
                            <!-- BEGIN TODO DROPDOWN -->
                            <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                            <!-- END TODO DROPDOWN -->
                            <!-- BEGIN USER LOGIN DROPDOWN -->
                            <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                            <li class="dropdown dropdown-user">
                                <a href="/sistema/operaciones/" class="dropdown-toggle pd-r-12">
                                    <i class="icon-directions"></i><span class="pd-l-5 username username-hide-on-mobile">Operaciones</span>
                                </a>
                            </li>
                            <li class="dropdown dropdown-dark dropdown-extended dropdown-hoverable dropdown-user">
                                <a href="javascript:;" class="dropdown-toggle pd-r-12">
                                    <i class="icon-calendar"></i><span class="pd-l-5 username username-hide-on-mobile">Viajes</span>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-default">
                                    <li>
                                        <a href="/sistema/altaViaje/" class="nav-link">Nuevo viaje</a>
                                    </li>
                                    <li>
                                        <a href="/sistema/exportar/" class="nav-link">Exportar viajes</a>
                                    </li>
                                    <li>
                                        <a href="/sistema/asignaciones/" class="nav-link">Asignar viajes</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown dropdown-dark dropdown-extended dropdown-hoverable dropdown-user">
                                <a href="javascript:;" class="dropdown-toggle">
                                    <i class="icon-briefcase"></i><span class="pd-l-5 username username-hide-on-mobile">Clientes</span>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-default">
                                    <li>
                                        <a href="/sistema/listadoCliente/" class="nav-link">Listado de Clientes</a>
                                    </li>
                                    <li>
                                        <a href="/sistema/listadoCentroDeCosto/" class="nav-link">Centros de Costo</a>
                                    </li>
                                    <li>
                                        <a href="/sistema/listadoTarifario/" class="nav-link">Tarifarios</a>
                                    </li>
                                    <li>
                                        <a href="/sistema/listadoContacto/" class="nav-link">Solicitantes</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown dropdown-dark dropdown-extended dropdown-hoverable dropdown-user">
                                <a href="javascript:;" class="dropdown-toggle">
                                    <i class="icon-rocket"></i><span class="pd-l-5 username username-hide-on-mobile">Provedores</span>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-default">
                                    <li>
                                        <a href="/sistema/listadoProvedor/" class="nav-link">Listado de Provedores</a>
                                    </li>
                                    <li>
                                        <a href="/sistema/listadoUnidad/" class="nav-link">Unidades</a>
                                    </li>
                                    <li>
                                        <a href="/sistema/listadoLicencia/" class="nav-link">Licencias</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown dropdown-dark dropdown-extended dropdown-hoverable dropdown-user">
                                <a href="javascript:;" class="dropdown-toggle">
                                    <!-- <img alt="" class="img-circle" src="../../static/img/avatar3_small.jpg" /> -->
                                    <i class="icon-bar-chart"></i><span class="pd-l-5 username username-hide-on-mobile">Administración</span>
                                    <!-- <i class="fa fa-angle-down"></i> -->
                                </a>
                                <ul class="dropdown-menu dropdown-menu-default">
                                    <li><a href="/sistema/listadoAdelanto/" class="nav-link">Listado de Adelantos</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown dropdown-dark dropdown-extended dropdown-hoverable dropdown-user">
                                <a href="javascript:;" class="dropdown-toggle">
                                    <!-- <img alt="" class="img-circle" src="../../static/img/avatar3_small.jpg" /> -->
                                    <i class="icon-user"></i><span class="pd-l-5 username username-hide-on-mobile">Usuario</span>
                                    <!-- <i class="fa fa-angle-down"></i> -->
                                </a>
                                <ul class="dropdown-menu dropdown-menu-default">
                                    <li>
                                        <a href="/sistema/usuario/" class="nav-link">Configuración</a>
                                    </li>
                                    <li>
                                        <a href="/accounts/logout/" class="nav-link">Salir</a>
                                    </li>
                                </ul>
                            </li>
                            <!-- END USER LOGIN DROPDOWN -->
                            <!-- BEGIN QUICK SIDEBAR TOGGLER -->
                            <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                            <!-- <li class="dropdown dropdown-extended quick-sidebar-toggler">
                                <span class="sr-only">Toggle Quick Sidebar</span>
                                <i class="icon-logout"></i>
                            </li> -->
                            <!-- END QUICK SIDEBAR TOGGLER -->
                        </ul>
                        <!-- <button type="button" class="btn green btn-outline">Green</button> -->
                    </div>
                    <!-- END TOP NAVIGATION MENU -->
                </div>
                <!-- END PAGE TOP -->
            </div>
            <!-- END HEADER INNER -->
        </div>
        <!-- END HEADER -->