{% load static %}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
    <!--<![endif]-->
    {% include "sistema/cabecera.html" %}
    <body class="page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid page-sidebar-reversed page-sidebar-fixed page-md">
        {% include "sistema/barra_top.html" %}
        <div class="page-container">
            {% include "sistema/barra_lat.html" %}
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                    <div class="page-bar">
                        <ul class="page-breadcrumb">
                            <li>
                                <i class="icon-directions"></i>
                                <a href="/sistema/operaciones/">Operaciones</a>
                                <i class="fa fa-angle-right"></i>
                            </li>
                            <li>
                                <a href="/sistema/listadoCentroDeCosto/">Listado de Centros de Costo</a>
                                <i class="fa fa-angle-right"></i>
                            </li>
                            <li>
                                <span>Centro de Costo</span>
                            </li>
                        </ul>
                    </div>
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2">
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <div class="portlet light ">
                                <div class="portlet-title">
                                    <div class="caption font-blue">
                                        <i class="icon-flag font-blue"></i>
                                        <span class="caption-subject bold uppercase">Alta/Edición de centro de costo</span>
                                    </div>
                                    <div class="tools"> </div>
                                </div>
                                <div class="portlet-body">
                                    <form role="form" method="post" id="formGuardarCC" action="/sistema/guardarCC/">{% csrf_token %}
                                        <input type="hidden" id="idCC" name="idCC" value="{{ cc.id }}">
                                        <input type="hidden" id="estado" name="estado" value="{{ estado }}">
                                        <div class="form-body">
                                            <div class="row mg-b-20">
                                                <div class="col-sm-5">
                                                    <div class="form-group form-md-line-input form-md-floating-label">
                                                        <select class="form-control" id="clientes" name="clientes">
                                                            <option value=""></option>
                                                            {% for c in clientes %}
                                                                {% if c.id == cc.cliente.id %}
                                                                    <option value="{{ c.id }}" selected="selected">{{ c.razon_social }}</option>
                                                                {% else %}
                                                                    <option value="{{ c.id }}">{{ c.razon_social }}</option>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </select>
                                                        <label for="clientes">Cliente</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-group form-md-line-input form-md-floating-label">
                                                        <select class="form-control" id="tarifarios" name="tarifarios" >
                                                            <option value=""></option>
                                                            {% for t in tarifarios %}
                                                                {% if t.default %}
                                                                    <option value="{{ t.id }}" selected="selected" >{{ t.nombre }}</option>
                                                                {% else %}
                                                                    <option value="{{ t.id }}" >{{ t.nombre }}</option>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </select>
                                                        <label for="tarifarios">Tarifario</label>
                                                    </div>
                                                </div>
                                                <!--div class="col-sm-3 text-center">
                                                    <div class="form-group form-md-line-input form-md-floating-label">
                                                        <a href="/sistema/altaTarifario/" role="button" class="btn green"><i class="icon-plus font-white"></i> Tarifario</a>
                                                    </div>
                                                </div-->
                                                <div class="col-sm-6">
                                                    <div class="form-group form-md-line-input form-md-floating-label">
                                                        <input onkeypress="return soloLetras(event);" type="text" class="form-control" id="codigo" name="codigo" value="{{ cc.nombre|default_if_none:"" }}">
                                                        <label for="codigo">Código del Centro de Costo</label>
                                                        <span class="help-block">Código Cliente + Área + Detalle (Ej: PFZVACUJOSE)</span>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group form-md-line-input form-md-floating-label">
                                                        <input type="text" class="form-control" id="descripcion" name="descripcion" value="{{ cc.descripcion|default_if_none:"" }}">
                                                        <label for="descripcion">Descripción</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <label for="desdeCC font-12">Válido Desde</label>
                                                    <input class="form-control form-control-inline input-medium date-picker" id="desdeCC" name="desdeCC" size="16" type="text" value="{{ cc.getFechaInicio }}" />
                                                </div>
                                                <div class="col-sm-6">
                                                    <label for="hastaCC font-12">Válido Hasta</label>
                                                    <input class="form-control form-control-inline input-medium date-picker" id="hastaCC" name="hastaCC" size="16" type="text" value="{{ cc.getFechaFin }}" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-actions noborder flex flex-j-between">
                                            <button type="button" onclick="guardarCC()" class="btn green">Guardar</button>
                                            <button type="button" onclick="location.href='/sistema/listadoCentroDeCosto/';" class="btn red">Cancelar</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- END EXAMPLE TABLE PORTLET-->
                        </div>
                    </div>

                </div>
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
            <!-- BEGIN QUICK SIDEBAR -->
            <!-- END QUICK SIDEBAR -->
        </div>
        <!-- END CONTAINER -->
        {% include "sistema/footer.html" %}

            <!-- SCRIPTS PROPIOS DE ESTA VISTA -->
            <script>
                $(document).ready(function(){
                    $('#desdeCC').datepicker({
                        language: 'es',
                        dateFormat: 'dd/mm/yy',
                        // todayBtn: true,
                        todayHighlight: true,
                        autoclose: true
                    });
                    $('#hastaCC').datepicker({
                        language: 'es',
                        dateFormat: 'dd/mm/yy',
                        // todayBtn: true,
                        todayHighlight: true,
                        autoclose: true
                    });

                    idCC = $("#idCC").val()
                    estado = $("#estado").val()
                    if (idCC != "0"){
                        if (estado != ''){
                            alert("Se guardo el centro de costos correctamente.");
                        }
                        $("#tarifarios").val('{{ cc.tarifario.id }}')
                        $('#clientes').val('{{ cc.cliente.id }}')
                    }
                });

                function guardarCC(){
                    if ($("#codigo").val() == ""){
                        alert("El campo Codigo es obligatorio.");
                        return false;
                    }

                    if ($("#idCC").val() == "0"){
                        var url = "/sistema/validarCodigoCentroCosto/?codigoCC="+$("#codigo").val();
                        $.ajax({
                            type: "GET",
                            url: url,
                            success: function(data){
                                if (data.mensaje == ""){
                                    $("#formGuardarCC").submit();
                                }else{
                                    alert(data.mensaje);
                                }
                                
                            }
                        });
                    }else{
                        $("#formGuardarCC").submit();
                    }
                    

                }

                //Se utiliza para que el campo de texto solo acepte letras
                function soloLetras(e) {
                    key = e.keyCode || e.which;
                    tecla = String.fromCharCode(key).toString();
                    letras = "áéíóúabcdefghijklmnñopqrstuvwxyzÁÉÍÓÚABCDEFGHIJKLMNÑOPQRSTUVWXYZ0123456789";//Se define todo el abecedario que se quiere que se muestre.
                    especiales = [8, 39, 6]; //Es la validación del KeyCodes, que teclas recibe el campo de texto.
                    tecla_especial = false
                    for(var i in especiales) {
                        if(key == especiales[i]) {
                            tecla_especial = true;
                            break;
                        }
                    }

                    if(letras.indexOf(tecla) == -1 && !tecla_especial){
                        return false;
                    }
                }
            </script>

        </div>
    </body>

</html>