dashboard.html
<br>
<hr>
<a href="/sistema/operaciones/" style="font-family: 'Helvetica';">Ir a Operaciones.</a><br><br>
<a href="/sistema/viaje/" style="font-family: 'Helvetica';">Ir a Crear Viaje.</a><br><br>
<a href="/sistema/persona/" style="font-family: 'Helvetica';">Ir a Alta Persona.</a><br><br>
<a href="/sistema/empresa/" style="font-family: 'Helvetica';">Ir a Alta Empresa.</a><br><br>
<a href="/sistema/cliente/" style="font-family: 'Helvetica';">Ir a Listado de Clientes.</a><br><br>
<a href="/sistema/datosCliente/" style="font-family: 'Helvetica';">Ir a Datos del Cliente.</a><br><br>