<hr>
<p>Varias</p>
<a href="/sistema/operaciones/" style="font-family: 'Helvetica';">Ir a Operaciones.</a><br><br>
<a href="/sistema/altaViaje/" style="font-family: 'Helvetica';">Ir a Crear Viaje.</a><br><br>
<a href="/sistema/altaPersona/" style="font-family: 'Helvetica';">Ir a Alta/Editar de Persona/Usuario.</a><br><br>
<hr>
<p>Clientes</p>
<a href="/sistema/listadoCliente/" style="font-family: 'Helvetica';">Ir a Listado de Clientes.</a><br><br>
<hr>
<p>Provedor</p>
<a href="/sistema/listadoProvedor/" style="font-family: 'Helvetica';">Ir a Listado de Provedores.</a><br><br>
<a href="/sistema/provedor/" style="font-family: 'Helvetica';">Ir a Provedor.</a><br><br>
<hr>
<p>Unidad</p>
<a href="/sistema/listadoUnidad/" style="font-family: 'Helvetica';">Ir a Listado de Unidades.</a><br><br>
<a href="/sistema/unidad/" style="font-family: 'Helvetica';">Ir a Unidad.</a><br><br>
<hr>
<p>Contactos</p>
<a href="/sistema/contacto/" style="font-family: 'Helvetica';">Ir a Alta/Editar de Contacto.</a><br><br>
<a href="/sistema/listadoContacto/" style="font-family: 'Helvetica';">Ir a Listado de Contactos.</a><br><br>
<hr>
<p>Centro de Costos</p>
<a href="/sistema/centroDeCosto/" style="font-family: 'Helvetica';">Ir a Alta/Editar de Centro de Costo.</a><br><br>
<a href="/sistema/listadoCentroDeCosto/" style="font-family: 'Helvetica';">Ir a Listado de Centros de Costo.</a><br><br>
<hr>
<p>Tarifario</p>
<a href="/sistema/listadoTarifario/" style="font-family: 'Helvetica';">Ir a Listado de Tarifarios.</a><br><br>
<a href="/sistema/tarifario/" style="font-family: 'Helvetica';">Ir a Tarifario.</a><br><br>
<p>Exportar</p>
<a href="/sistema/exportar/" style="font-family: 'Helvetica';">Ir a Exportar.</a><br><br>
<p>Licencia</p>
<a href="/sistema/listadoLicencia/" style="font-family: 'Helvetica';">Ir a Listado de Licencias.</a><br><br>
<a href="/sistema/licencia/" style="font-family: 'Helvetica';">Ir a Licencia.</a><br><br>