{% load static %}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
    <!--<![endif]-->
    {% include "sistema/cabecera.html" %}
    <body id="datosCliente" class="page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid page-sidebar-reversed page-sidebar-fixed page-md">
        {% include "sistema/barra_top.html" %}
        <!-- BEGIN HEADER & CONTENT DIVIDER -->
        <div class="clearfix"> </div>
        <!-- END HEADER & CONTENT DIVIDER -->
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            {% include "sistema/barra_lat.html" %}
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                    <!-- BEGIN PAGE HEADER-->
                    <h1 class="page-title">Unidad</h1>
                    <!-- END PAGE HEADER-->
                    <div class="row">
                        <div class="col-sm-12">
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <div class="portlet light ">
                                <div class="portlet-title">
                                    <div class="caption font-blue">
                                        <i class="icon-star font-blue"></i>
                                        <span class="caption-subject bold uppercase">Datos de la Unidad</span>
                                    </div>
                                    <div class="tools"> </div>
                                </div>
                                <div class="portlet-body">
                                    <form role="form" class="form-datos-unidad">
                                        <div class="form-body">
                                            <div class="row">
                                                <div class="col-sm-1">
                                                    <div class="form-group form-md-line-input form-md-floating-label">
                                                        <input type="text" class="form-control" id="form_control_1" value="52">
                                                        <label for="form_control_1">ID</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <div class="form-group form-md-line-input form-md-floating-label">
                                                        <input type="text" class="form-control" id="form_control_2" value="Jorge 'El gordo' Rodríguez">
                                                        <label for="form_control_2">Nombre de la unidad</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-group form-md-line-input form-md-floating-label">
                                                        <input type="text" class="form-control" id="form_control_3" value="Flavio Cordoba">
                                                        <label for="form_control_3">Dueño</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2">
                                                    <div class="form-group form-md-radios">
                                                        <label>Tiene chofer?</label>
                                                        <div class="md-radio-inline">
                                                            <div class="md-radio">
                                                                <input type="radio" id="radio6" name="radio2" class="md-radiobtn">
                                                                <label for="radio6">
                                                                    <span></span>
                                                                    <span class="check"></span>
                                                                    <span class="box"></span> Sí </label>
                                                            </div>
                                                            <div class="md-radio">
                                                                <input type="radio" id="radio7" name="radio2" class="md-radiobtn" checked>
                                                                <label for="radio7">
                                                                    <span></span>
                                                                    <span class="check"></span>
                                                                    <span class="box"></span> No </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2">
                                                    <div class="form-group form-md-line-input form-md-floating-label">
                                                        <input type="text" class="form-control" id="form_control_4" value="20-25857987-3">
                                                        <label for="form_control_4">CUIL/CUIT</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <div class="form-group form-md-line-input form-md-floating-label">
                                                        <input type="text" class="form-control" id="form_control_5" value="Marcos Sastre 2578">
                                                        <label for="form_control_5">Domicilio</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2">
                                                    <div class="form-group form-md-line-input form-md-floating-label">
                                                        <input type="text" class="form-control" id="form_control_6" value="4512-4567">
                                                        <label for="form_control_6">Teléfono</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <div class="form-group form-md-line-input form-md-floating-label">
                                                        <input type="text" class="form-control" id="form_control_7" value="flavioremis@gmail.com">
                                                        <label for="form_control_7">Mail</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-group form-md-checkboxes">
                                                        <label>Tipo Servicio/Categoria</label>
                                                        <div class="md-checkbox-inline">
                                                            <div class="md-checkbox has-info">
                                                                <input type="checkbox" id="checkbox1" class="md-check">
                                                                <label for="checkbox1">
                                                                    <span></span>
                                                                    <span class="check"></span>
                                                                    <span class="box"></span> VIP</label>
                                                            </div>
                                                            <div class="md-checkbox has-info">
                                                                <input type="checkbox" id="checkbox2" class="md-check" checked>
                                                                <label for="checkbox2">
                                                                    <span></span>
                                                                    <span class="check"></span>
                                                                    <span class="box"></span> Normal </label>
                                                            </div>
                                                            <div class="md-checkbox has-info">
                                                                <input type="checkbox" id="checkbox3" class="md-check">
                                                                <label for="checkbox3">
                                                                    <span></span>
                                                                    <span class="check"></span>
                                                                    <span class="box"></span> Especial </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-2">
                                                    <div class="form-group form-md-line-input form-md-floating-label">
                                                        <input type="text" class="form-control" id="form_control_8">
                                                        <label for="form_control_8">Dominio</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2">
                                                    <div class="form-group form-md-line-input form-md-floating-label">
                                                        <input type="text" class="form-control" id="form_control_9">
                                                        <label for="form_control_9">Modelo</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2">
                                                    <div class="form-group form-md-line-input form-md-floating-label">
                                                        <input type="text" class="form-control" id="form_control_10">
                                                        <label for="form_control_10">Marca</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2">
                                                    <div class="form-group form-md-line-input form-md-floating-label">
                                                        <input type="text" class="form-control" id="form_control_11">
                                                        <label for="form_control_11">Color</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2">
                                                    <div class="form-group form-md-line-input form-md-floating-label">
                                                        <input type="text" class="form-control" id="form_control_12">
                                                        <label for="form_control_12">Año</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2">
                                                    <div class="form-group form-md-line-input form-md-floating-label">
                                                        <input type="text" class="form-control" id="form_control_13">
                                                        <label for="form_control_13">Motor</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <div class="form-group form-md-line-input form-md-floating-label">
                                                        <input type="text" class="form-control" id="form_control_14">
                                                        <label for="form_control_14">Chasis</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <div class="form-group form-md-line-input form-md-floating-label">
                                                        <textarea class="form-control" rows="1"></textarea>
                                                        <label for="form_control_115">Observaciones</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-actions noborder flex flex-j-between">
                                            <button type="button" class="btn green">Guardar</button>
                                            <button type="button" class="btn red">Cancelar</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- END EXAMPLE TABLE PORTLET-->
                        </div>
                        <div class="col-sm-12">
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <div class="portlet light ">
                                <div class="portlet-body">
                                    <div class="tabbable-line">
                                        <ul class="nav nav-tabs ">
                                            <li class="active">
                                                <a href="#tabUnidad" data-toggle="tab" aria-expanded="true"> Unidad </a>
                                            </li>
                                            <li class="">
                                                <a href="#tabChofer" data-toggle="tab" aria-expanded="true"> Chofer </a>
                                            </li>
                                            <!-- <li class="">
                                                <a href="#tabDatosFacturacionProvedor" data-toggle="tab" aria-expanded="false"> Datos de Facturación </a>
                                            </li> -->
                                        </ul>
                                        <div class="tab-content">
                                            <div class="tab-pane active" id="tabUnidad">
                                                <form role="form" class="form-datos-provedor-unidad">
                                                    <div class="form-body">
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <!-- BEGIN EXAMPLE TABLE PORTLET-->
                                                                <div class="portlet light ">
                                                                    <div class="portlet-body">
                                                                        <div class="row">
                                                                            <div class="col-sm-1">
                                                                                <div class="form-group form-md-line-input form-md-floating-label">
                                                                                    <input type="text" class="form-control" id="form_control_1">
                                                                                    <label for="form_control_1">ID</label>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-sm-2">
                                                                                <div class="form-group form-md-line-input form-md-floating-label">
                                                                                    <input type="text" class="form-control" id="form_control_2">
                                                                                    <label for="form_control_2">Servicio</label>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-sm-2">
                                                                                <div class="form-group form-md-line-input form-md-floating-label">
                                                                                    <input type="text" class="form-control" id="form_control_3">
                                                                                    <label for="form_control_3">Dueño</label>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-sm-2">
                                                                                <div class="form-group form-md-line-input form-md-floating-label">
                                                                                    <input type="text" class="form-control" id="form_control_4">
                                                                                    <label for="form_control_4">Chofer</label>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-sm-2">
                                                                                <div class="form-group form-md-line-input form-md-floating-label">
                                                                                    <input type="text" class="form-control" id="form_control_4">
                                                                                    <label for="form_control_4">Teléfono</label>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-sm-3">
                                                                                <div class="form-group form-md-line-input form-md-floating-label">
                                                                                    <textarea class="form-control" rows="1"></textarea>
                                                                                    <label for="form_control_4">Observaciones</label>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col-sm-2">
                                                                                <div class="form-group form-md-line-input form-md-floating-label">
                                                                                    <input type="text" class="form-control" id="form_control_6">
                                                                                    <label for="form_control_6">Dominio</label>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-sm-2">
                                                                                <div class="form-group form-md-line-input form-md-floating-label">
                                                                                    <input type="text" class="form-control" id="form_control_7">
                                                                                    <label for="form_control_7">Modelo</label>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-sm-2">
                                                                                <div class="form-group form-md-line-input form-md-floating-label">
                                                                                    <input type="text" class="form-control" id="form_control_8">
                                                                                    <label for="form_control_8">Marca</label>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-sm-2">
                                                                                <div class="form-group form-md-line-input form-md-floating-label">
                                                                                    <input type="text" class="form-control" id="form_control_9">
                                                                                    <label for="form_control_9">Color</label>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-sm-2">
                                                                                <div class="form-group form-md-line-input form-md-floating-label">
                                                                                    <input type="text" class="form-control" id="form_control_10">
                                                                                    <label for="form_control_10">Año</label>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-sm-2">
                                                                                <div class="form-group form-md-line-input form-md-floating-label">
                                                                                    <input type="text" class="form-control" id="form_control_11">
                                                                                    <label for="form_control_11">Motor</label>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col-sm-3">
                                                                                <div class="form-group form-md-line-input form-md-floating-label">
                                                                                    <input type="text" class="form-control" id="form_control_12">
                                                                                    <label for="form_control_12">Chasis</label>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-sm-3">
                                                                                <div class="form-group form-md-line-input form-md-floating-label">
                                                                                    <textarea class="form-control" rows="1"></textarea>
                                                                                    <label for="form_control_13">Observaciones</label>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!-- END EXAMPLE TABLE PORTLET-->
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-actions noborder flex flex-j-between">
                                                        <button type="button" class="btn green">Guardar</button>
                                                        <button type="button" class="btn red">Cancelar</button>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="tab-pane" id="tabChofer">
                                                <form role="form" class="form-datos-provedor-chofer">
                                                    <div class="form-body">
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <!-- BEGIN EXAMPLE TABLE PORTLET-->
                                                                <div class="portlet light ">
                                                                    <div class="portlet-body">
                                                                        <div class="row">
                                                                            <div class="col-sm-1">
                                                                                <div class="form-group form-md-line-input form-md-floating-label">
                                                                                    <input type="text" class="form-control" id="form_control_1">
                                                                                    <label for="form_control_1">ID</label>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-sm-4">
                                                                                <div class="form-group form-md-line-input form-md-floating-label">
                                                                                    <input type="text" class="form-control" id="form_control_2">
                                                                                    <label for="form_control_2">Nombre</label>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-sm-4">
                                                                                <div class="form-group form-md-line-input form-md-floating-label">
                                                                                    <input type="text" class="form-control" id="form_control_3">
                                                                                    <label for="form_control_3">Dirección</label>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-sm-3">
                                                                                <div class="form-group form-md-line-input form-md-floating-label">
                                                                                    <input type="text" class="form-control" id="form_control_4">
                                                                                    <label for="form_control_4">CUIT/CUIL</label>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col-sm-3">
                                                                                <div class="form-group form-md-line-input form-md-floating-label">
                                                                                    <input type="text" class="form-control" id="form_control_5">
                                                                                    <label for="form_control_5">Teléfono</label>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-sm-3">
                                                                                <div class="form-group form-md-line-input form-md-floating-label">
                                                                                    <input type="text" class="form-control" id="form_control_6">
                                                                                    <label for="form_control_6">Mail</label>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-sm-3">
                                                                                <div class="form-group form-md-line-input form-md-floating-label">
                                                                                    <input type="text" class="form-control" id="form_control_7">
                                                                                    <label for="form_control_7">% de facturación</label>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-sm-3">
                                                                                <div class="form-group form-md-line-input form-md-floating-label">
                                                                                    <textarea class="form-control" rows="1"></textarea>
                                                                                    <label for="form_control_8">Observaciones</label>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col-sm-3">
                                                                                <div class="form-group form-md-line-input">
                                                                                    <select class="form-control" id="form_control_9">
                                                                                        <option value=""></option>
                                                                                        <option value="1" selected="selected">Profesional</option>
                                                                                        <option value="2">Microcentro</option>
                                                                                        <option value="3">Aeropuerto</option>
                                                                                    </select>
                                                                                    <label for="form_control_9">Tipo de licencia</label>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-sm-3">
                                                                                <div class="form-group form-md-line-input form-md-floating-label">
                                                                                    <input type="text" class="form-control" id="form_control_10">
                                                                                    <label for="form_control_10">Número</label>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-sm-3">
                                                                                <div class="form-group form-md-line-input form-md-floating-label">
                                                                                    <input type="text" class="form-control" id="form_control_11">
                                                                                    <label for="form_control_11">Vencimiento</label>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-sm-3">
                                                                                <div class="form-group form-md-line-input form-md-floating-label">
                                                                                    <textarea class="form-control" rows="1"></textarea>
                                                                                    <label for="form_control_12">Comentario</label>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!-- END EXAMPLE TABLE PORTLET-->
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-actions noborder flex flex-j-between">
                                                        <button type="button" class="btn green">Guardar</button>
                                                        <button type="button" class="btn red">Cancelar</button>
                                                    </div>
                                                    <div class="form-body">
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <!-- BEGIN EXAMPLE TABLE PORTLET-->
                                                                <div class="portlet light ">
                                                                    <div class="portlet-title">
                                                                        <div class="caption font-blue">
                                                                            <i class="icon-lock font-blue mg-t-8"></i>
                                                                            <span class="caption-subject bold uppercase">Licencias</span>
                                                                            <a href="/sistema/altaLicencia" role="button" class="btn green btn-outline mg-l-20">Agregar licencia</a>
                                                                        </div>
                                                                        <div class="tools"> </div>
                                                                    </div>
                                                                    <div class="portlet-body">
                                                                        <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tablaLicencias">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th class="all">Editar</th>
                                                                                    <th class="all">Número</th>
                                                                                    <th class="all">Licencia</th>
                                                                                    <th class="all">Vencimiento</th>
                                                                                    <th class="all">Comentario</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td class="text-center"><a href="/sistema/editaLicencia/"><i class="fa fa-pencil">
                                                                                    <td>468415</td>
                                                                                    <td>Profesional</td>
                                                                                    <td>25/08/2022</td>
                                                                                    <td>Avisar un mes antes</td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td class="text-center"><a href="/sistema/editaLicencia/"><i class="fa fa-pencil">
                                                                                    <td>8798465</td>
                                                                                    <td>Permiso circulación centro</td>
                                                                                    <td>15/10/2019</td>
                                                                                    <td>Avisar un mes antes</td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td class="text-center"><a href="/sistema/editaLicencia/"><i class="fa fa-pencil">
                                                                                    <td>16845</td>
                                                                                    <td>Aeropuerto</td>
                                                                                    <td>26/08/2030</td>
                                                                                    <td>Avisar dos meses antes</td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                                <!-- END EXAMPLE TABLE PORTLET-->
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-actions noborder flex flex-j-between">
                                                        <button type="button" class="btn green">Guardar</button>
                                                        <button type="button" class="btn red">Cancelar</button>
                                                    </div>
                                                </form>
                                            </div>
                                            <!-- <div class="tab-pane" id="tabDatosFacturacionProvedor">
                                                <form role="form" class="form-datos-provedor-facturacion">
                                                    <div class="form-body">
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <div class="portlet light ">
                                                                    <div class="portlet-body">
                                                                        <div class="row">
                                                                            <div class="col-sm-4 col-sm-offset-4">
                                                                                <div class="form-group form-md-line-input form-md-floating-label">
                                                                                    <input type="text" class="form-control" id="form_control_1" value="30%">
                                                                                    <label for="form_control_1">Porcentaje para el chofer</label>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-actions noborder flex flex-j-between">
                                                        <button type="button" class="btn green">Guardar</button>
                                                        <button type="button" class="btn red">Cancelar</button>
                                                    </div>
                                                </form>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END EXAMPLE TABLE PORTLET-->
                        </div>
                    </div>

                </div>
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
            <!-- BEGIN QUICK SIDEBAR -->
            <!-- END QUICK SIDEBAR -->
        </div>
        <!-- END CONTAINER -->
        {% include "sistema/footer.html" %}

            <!-- SCRIPTS PROPIOS DE ESTA VISTA -->
            <script>
                $(document).ready(function(){
                    $('#tablaLicencias').DataTable( {
                        responsive: true,
                        // scrollY: 200,
                        order: [[ 3, "asc" ]],
                        lengthMenu: [
                                        [ -1, 500, 100, 50, 25, 10 ],
                                        [ 'Todos', '500', '100', '50', '25', '10' ]
                                    ],
                        language: {
                            url: '//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json'
                        },
                    } );
                });
            </script>

        </div>
    </body>

</html>