{% load static %}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="es">
    <!--<![endif]-->
    {% include "sistema/cabecera.html" %}
    <body class="page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid page-sidebar-reversed page-sidebar-fixed page-md">
        {% include "sistema/barra_top.html" %}
        <div class="page-container">
            {% include "sistema/barra_lat.html" %}
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                  <div class="page-bar">
                        <ul class="page-breadcrumb">
                            <li>
                                <i class="icon-directions"></i>
                                <a href="/sistema/operaciones/">Operaciones</a>
                                <i class="fa fa-angle-right"></i>
                            </li>
                            <li>
                                <span>Exportar</span>
                            </li>
                        </ul>
                    </div>
                    <div class="row">
                        <div id="" class="col-sm-12">
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <div class="portlet light ">
                              <div class="portlet-title">
                                  <div class="caption font-blue">
                                      <i class="icon-flag font-blue"></i>
                                      <span class="caption-subject bold uppercase">Exportar viajes</span>
                                  </div>
                                  <div class="tools"> </div>
                              </div>
                              <div class="portlet-body">
                                  <form role="form" method="post" id="form_exportar" action="">
                                      <div class="form-body">
                                          <div class="row">
                                            <div class="col-sm-3">
                                              <div class="form-group form-md-line-input">
                                                <select class="form-control select2me" id="unidad" name="unidad">
                                                  <option value="">Seleccionar Unidad</option>
                                                  <!--<option value="1">456 - Jorge Gutierrez</option>
                                                  <option value="2">123 - Diego Fuentes</option>-->
                                                    {% for u in unidades %}
                                                        <option value="{{ u.id }}">{{u.id}} - {{ u.identificacion }}</option>
                                                    {% endfor %}
                                                </select>
                                                <label for="unidad">Unidad</label>
                                              </div>
                                            </div>
                                            <div class="col-sm-3">
                                              <div class="form-group form-md-line-input">
                                                <select class="form-control select2me" id="cliente" name="cliente">
                                                    <option value=""> Seleccionar Cliente</option>
                                                    {% for c in clientes %}
                                                        <option value="{{ c.id }}">{{ c.id }} - {{ c.razon_social }}</option>
                                                    {% endfor %}
                                                </select>
                                                <label for="cliente">Cliente</label>
                                              </div>
                                            </div>
                                            <div class="col-sm-3">
                                              <div class="form-group form-md-line-input">
                                                <select class="form-control select2me" id="pasajero" name="pasajero">
                                                  <option value=""> Seleccionar Pasajero</option>
                                                </select>
                                                <label for="pasajero">Pasajero</label>
                                              </div>
                                            </div>
                                            <div class="col-sm-3">
                                              <div class="form-group form-md-line-input">
                                                <select class="form-control select2me" id="solicitante" name="solicitante">
                                                  <option value=""> Seleccionar Solicitante</option>
                                                </select>
                                                <label for="solicitante">Solicitante</label>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="row">
                                            <div class="col-sm-3">
                                              <div class="form-group form-md-line-input">
                                                <select class="form-control select2me" id="centroDeCosto" name="centroDeCosto">
                                                  <option value="">Seleccionar Centro</option>
                                                </select>
                                                <label for="centroDeCosto">Centro de costo</label>
                                              </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group mg-neg-t-5">
                                                    <label class="control-label">Fecha</label>
                                                    <div class="input-group input-large date-picker input-daterange" data-date-format="dd/mm/yyyy">
                                                      <input type="text" class="form-control" name="desde" id="desde">
                                                      <span class="input-group-addon"> hasta </span>
                                                      <input type="text" class="form-control" name="hasta" id="hasta">
                                                    </div>
                                                </div>
                                            </div>
                                          </div>
                                      </div>
                                      <div class="form-actions noborder flex flex-j-between">
                                          <button type="button" class="btn green" onclick="buscarViaje()">Buscar</button>
                                          <button type="button" class="btn blue" onclick="resetFiltros()">Resetear filtros</button>
                                      </div>
                                  </form>
                              </div>
                              <hr>
                              <div class="portlet-body" id="grillaViajes">
                                  <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tablaExportar">
                                      <thead>
                                          <tr>
                                              <th class="all">Fecha</th>
                                              <th class="all">Hora</th>
                                              <th class="all">Categoría</th>
                                              <th class="all">N° Res</th>
                                              <th class="all">Pasajero</th>
                                              <th class="all">Origen</th>
                                              <th class="all">Destino</th>
                                          </tr>
                                      </thead>
                                      <tbody>
                                          <!--<tr>
                                              <td>14/10/2018</td>
                                              <td>15:30</td>
                                              <td>Vip</td>
                                              <td>1</td>
                                              <td>Guido</td>
                                              <td><span class="label label-sm label-info">Centro</span></td>
                                              <td><span class="label label-sm label-primary">Aeroparque</span></td>
                                          </tr>-->
                                      </tbody>
                                  </table>
                              </div>
                          </div>
                            <!-- END EXAMPLE TABLE PORTLET-->
                        </div>
                    </div>

                </div>
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
            <!-- BEGIN QUICK SIDEBAR -->
            <!-- END QUICK SIDEBAR -->
        </div>
        <!-- END CONTAINER -->
        {% include "sistema/footer.html" %}

            <!-- SCRIPTS PROPIOS DE ESTA VISTA -->
            <script>
                var clientes = [];
                {% for cliente in clientes %}
                    var centro_costos = [{% for cc in cliente.centrocosto_set.all %}
                    { "id" : "{{ cc.id }}",
                       "nombre" : "{{ cc.nombre }}"
                    },
                    {% endfor %}
                    ];
                    var personascliente = [{% for personacliente in cliente.personacliente_set.all %}
                    { "id" : "{{ personacliente.persona.id }}",
                       "nombre" : "{{ personacliente.persona.nombre}} {{ personacliente.persona.apellido}}",
                       "tipo_persona" : "{{ personacliente.persona.tipo_persona}}"
                    },
                    {% endfor %}
                    ];

                    var obj = {
                        id : '{{ cliente.id }}',
                        razon_social:'{{ cliente.razon_social }}',
                        direccion:'{{ cliente.calle|default_if_none:""  }} {{ cliente.altura|default_if_none:""  }} {{ cliente.piso|default_if_none:""  }} {{ cliente.depto|default_if_none:""  }}',
                        categoria_id:'{{ cliente.categoria.categoria }}',
                        telefono:'{{ cliente.telefonoPrincipal }}',
                        centro_costos: centro_costos,
                        personascliente: personascliente};

                    clientes.push(obj);
                {% endfor %}
                $(document).ready(function(){

                    $('#desde').datepicker({
                        language: 'es',
                        dateFormat: 'dd/mm/yy',
                        // todayBtn: true,
                        todayHighlight: true,
                        autoclose: true
                    });

                    $('#hasta').datepicker({
                        language: 'es',
                        dateFormat: 'dd/mm/yy',
                        // todayBtn: true,
                        todayHighlight: true,
                        autoclose: true
                    });

                    $('#tablaExportar').DataTable( {
                        responsive: true,
                        // scrollY: 200,
                        order: [[ 0, "asc" ]],
                        dom: 'lfBrtip',
                        buttons: [
                            'copy', 'excel', 'pdf', 'print'
                        ],
                        lengthMenu: [
                                        [ 100, 50, 25, 10, -1 ],
                                        [ '100', '50', '25', '10', 'Todos' ]
                                    ],
                        language: {
                            url: '//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json',
                            buttons: {
                                copy: "Copiar",
                                print: "Imprimir"
                            }
                        }
                    } );

                    $("#unidad").select2({
                        placeholder: "Seleccionar Unidad",
                        allowClear: true,
                        dropdownAutoWidth : true,
                        width: 'auto'
                    });

                    $("#cliente").select2({
                        placeholder: "Seleccionar Cliente",
                        allowClear: true,
                        dropdownAutoWidth : true,
                        width: 'auto'
                    }).on("select2:select", function (e) { updateFillsByCliente("select2:select", e); });

                    $("#pasajero").select2({
                        placeholder: "Seleccionar Pasajero",
                        allowClear: true,
                        dropdownAutoWidth : true,
                        width: 'auto'
                    });

                    $("#solicitante").select2({
                        placeholder: "Seleccionar Solicitante",
                        allowClear: true,
                        dropdownAutoWidth : true,
                        width: 'auto'
                    });

                    $("#centroDeCosto").select2({
                        placeholder: "Seleccionar Centro",
                        allowClear: true,
                        dropdownAutoWidth : true,
                        width: 'auto'
                    });

                });

                updateFillsByCliente = (name, evt) => {
                    let cliente = searchCliente($('#cliente').val());

                    $('#centroDeCosto').empty().append($('<option>').text('').attr('value', ''));
                    $('#solicitante').empty().append($('<option>').text('').attr('value', ''));
                    $('#pasajero').empty().append($('<option>').text('').attr('value', ''));

                    $.each(cliente.centro_costos, (i, value) => {
                      $('#centroDeCosto').append($('<option>').text(value.nombre).attr('value', value.id));
                    });

                    $.each(cliente.personascliente, (i, value) => {
                        if(value.tipo_persona === 'Solicitante'){
                            $('#solicitante').append($('<option>').text(value.nombre).attr('value', value.id));
                        }
                    });

                    $.each(cliente.personascliente, (i, value) => {
                        if(value.tipo_persona === 'Pasajero'){
                            $('#pasajero').append($('<option>').text(value.nombre).attr('value', value.id));
                        }
                    });
                };

                searchCliente = (_cliente_id) => {
                    let cliente = {};
                    $.each(clientes, (i, value) => {
                        if(value.id === _cliente_id){
                            cliente = value;
                        }
                    });
                    return cliente;
                };

                buscarViaje = () => {

                    if ($('#cliente').val() === ""){
                        showMsg("El campo Cliente es obligatorio.", 'error');
                        return false;
                    }
                    if ($('#desde').val() == ""){
                        showMsg("El campo Fecha desde es obligatorio.", 'error');
                        return false;
                    }
                    if ($('#hasta').val() == ""){
                        showMsg("El campo Fecha hasta es obligatorio.", 'error');
                        return false;
                    }

                    let desde = $('#desde').val().substring(6,10) + $('#desde').val().substring(3,5) + $('#desde').val().substring(0,2);
                    let hasta = $('#hasta').val().substring(6,10) + $('#hasta').val().substring(3,5) + $('#hasta').val().substring(0,2);

                    if (desde.localeCompare(hasta) == 1 ){
                        showMsg("La fecha desde no puede ser mayor a la fecha hasta.", 'error');
                        return false;
                    }

                    let params = {
                        unidad: $("#unidad").val(),
                        pasajero: $("#pasajero").val(),
                        centroDeCosto: $("#centroDeCosto").val(),
                        solicitante: $("#solicitante").val(),
                        cliente: $("#cliente").val(),
                        desde,
                        hasta
                    };

                    let url = "/sistema/buscarViajes/";
                    $.ajax({
                        type: "POST",
                        url: url,
                        headers: {'X-CSRFToken': '{{ csrf_token }}'},
                        data: params,
                        success: function(data){
                            $('#grillaViajes').html(data);
                        }
                    });
                };

                resetFiltros = () => {
                    $('#from').val("");
                    $('#to').val("");
                    let table = $('#tablaExportar').DataTable();
                    table.clear().draw();
                    $("unidad").val('').trigger('change');
                    $("#pasajero").val('').trigger('change').empty();
                    $("#centroDeCosto").val('').trigger('change').empty();
                    $("#solicitante").val('').trigger('change').empty();
                    $("#cliente").val('').trigger('change');
                };

            </script>

        </div>
    </body>

</html>