{% load static %}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
    <!--<![endif]-->
    {% include "sistema/cabecera.html" %}
    <body class="page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid page-sidebar-reversed page-sidebar-fixed page-md">
        {% include "sistema/barra_top.html" %}
        <!-- BEGIN HEADER & CONTENT DIVIDER -->
        <div class="clearfix"> </div>
        <!-- END HEADER & CONTENT DIVIDER -->
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            {% include "sistema/barra_lat.html" %}
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                  <div class="page-bar">
                        <ul class="page-breadcrumb">
                            <li>
                                <i class="icon-directions"></i>
                                <a href="/sistema/operaciones/">Operaciones</a>
                                <i class="fa fa-angle-right"></i>
                            </li>
                            <li>
                                <span>Exportar</span>
                            </li>
                        </ul>
                    </div>
                    <div class="row">
                        <div id="" class="col-sm-12">
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <div class="portlet light ">
                              <div class="portlet-title">
                                  <div class="caption font-blue">
                                      <i class="icon-flag font-blue"></i>
                                      <span class="caption-subject bold uppercase">Exportar viajes</span>
                                  </div>
                                  <div class="tools"> </div>
                              </div>
                              <div class="portlet-body">
                                  <form role="form" method="post" id="" action="">
                                      <div class="form-body">
                                          <div class="row">
                                            <div class="col-sm-4">
                                              <div class="form-group form-md-line-input">
                                                <select class="form-control select2me" id="chofer" name="chofer">
                                                  <option value=""></option>
                                                  <option value="1">Jorge Gutierrez</option>
                                                  <option value="2">Diego Fuentes</option>
                                                </select>
                                                <label for="chofer">Chofer</label>
                                              </div>
                                            </div>
                                            <div class="col-sm-4">
                                              <div class="form-group form-md-line-input">
                                                <select class="form-control select2me" id="cliente" name="cliente">
                                                  <option value=""></option>
                                                  <option value="1">3 Monos</option>
                                                  <option value="2">Galcubo</option>
                                                </select>
                                                <label for="cliente">Cliente</label>
                                              </div>
                                            </div>
                                            <div class="col-sm-4">
                                              <div class="form-group form-md-line-input">
                                                <select class="form-control select2me" id="centroDeCosto" name="centroDeCosto">
                                                  <option value=""></option>
                                                  <option value="1">3MONOSRURAL</option>
                                                  <option value="2">G3MUSEOS</option>
                                                </select>
                                                <label for="centroDeCosto">Centro de costo</label>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="control-label">Fecha</label>
                                                    <!-- <div class="col-sm-4"> -->
                                                    <div class="input-group input-large date-picker input-daterange" data-date-format="dd/mm/yyyy">
                                                      <input type="text" class="form-control" name="from" id="from">
                                                      <span class="input-group-addon"> hasta </span>
                                                      <input type="text" class="form-control" name="to" id="to">
                                                    </div>
                                                </div>
                                            </div>
                                          </div>
                                      </div>
                                      <div class="form-actions noborder flex flex-j-between">
                                          <button type="button" class="btn green">Buscar</button>
                                          <button type="button" class="btn blue">Resetear filtros</button>
                                      </div>
                                  </form>
                              </div>
                              <hr>
                              <div class="portlet-body">
                                  <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tablaExportar">
                                      <thead>
                                          <tr>
                                              <th class="all">Fecha</th>
                                              <th class="all">Hora</th>
                                              <th class="all">Categoría</th>
                                              <th class="all">N° Res</th>
                                              <th class="all">Pasajero</th>
                                              <th class="all">Origen</th>
                                              <th class="all">Destino</th>
                                          </tr>
                                      </thead>
                                      <tbody>
                                          <tr>
                                              <td>14/10/2018</td>
                                              <td>15:30</td>
                                              <td>Vip</td>
                                              <td>1</td>
                                              <td>Guido</td>
                                              <td><span class="label label-sm label-info">Centro</span></td>
                                              <td><span class="label label-sm label-primary">Aeroparque</span></td>
                                          </tr>
                                          <tr>
                                              <td>15/10/2018</td>
                                              <td>14:25</td>
                                              <td>Std</td>
                                              <td>2</td>
                                              <td>Schuller</td>
                                              <td><span class="label label-sm label-danger">Ezeiza</span></td>
                                              <td><span class="label label-sm label-warning">Interior</span></td>
                                          </tr>
                                          <tr>
                                              <td>17/10/2018</td>
                                              <td>10:00</td>
                                              <td>Bus</td>
                                              <td>3</td>
                                              <td>Diego</td>
                                              <td><span class="label label-sm label-success">CABA</span></td>
                                              <td><span class="label label-sm label-danger">Ezeiza</span></td>
                                          </tr>
                                          <tr>
                                              <td>10/10/2018</td>
                                              <td>16:45</td>
                                              <td>Vip</td>
                                              <td>4</td>
                                              <td>Alberto</td>
                                              <td><span class="label label-sm label-warning">Interior</span></td>
                                              <td><span class="label label-sm label-danger">Ezeiza</span></td>
                                          </tr>
                                      </tbody>
                                  </table>
                              </div>
                          </div>
                            <!-- END EXAMPLE TABLE PORTLET-->
                        </div>
                    </div>

                </div>
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
            <!-- BEGIN QUICK SIDEBAR -->
            <!-- END QUICK SIDEBAR -->
        </div>
        <!-- END CONTAINER -->
        {% include "sistema/footer.html" %}

            <!-- SCRIPTS PROPIOS DE ESTA VISTA -->
            <script>
                $(document).ready(function(){

                    $('#tablaExportar').DataTable( {
                        responsive: true,
                        // scrollY: 200,
                        order: [[ 0, "asc" ]],
                        dom: 'lfBrtip',
                        buttons: [
                            'copy', 'excel', 'pdf', 'print'
                        ],
                        lengthMenu: [
                                        [ 100, 50, 25, 10, -1 ],
                                        [ '100', '50', '25', '10', 'Todos' ]
                                    ],
                        language: {
                            url: '//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json',
                            buttons: {
                                copy: "Copiar",
                                print: "Imprimir"
                            }
                        }
                    } );

                });

            </script>

        </div>
    </body>

</html>