<div class="top-menu">
    <ul class="nav navbar-nav pull-left mg-r-0">
        <li class="dropdown dropdown-user">
            <a href="/sistema/operaciones/" class="dropdown-toggle pd-r-12">
                <i class="icon-directions"></i><span class="pd-l-5 username username-hide-on-mobile">Operaciones</span>
            </a>
        </li>
        <li class="dropdown dropdown-dark dropdown-extended dropdown-hoverable dropdown-user">
            <a href="javascript:;" class="dropdown-toggle pd-r-12">
                <i class="icon-calendar"></i><span class="pd-l-5 username username-hide-on-mobile">Viajes</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-default">
                <li>
                    <a target="_blank" href="/sistema/altaViaje/" class="nav-link">Nuevo viaje</a>
                </li>
                <li>
                    <a href="/sistema/exportar/" class="nav-link">Exportar viajes</a>
                </li>
            </ul>
        </li>
        <li class="dropdown dropdown-dark dropdown-extended dropdown-hoverable dropdown-user">
            <a href="javascript:;" class="dropdown-toggle">
                <i class="icon-briefcase"></i><span class="pd-l-5 username username-hide-on-mobile">Clientes</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-default">
                <li>
                    <a href="/sistema/listadoCliente/" class="nav-link">Listado de Clientes</a>
                </li>
                <li>
                    <a href="/sistema/listadoCentroDeCosto/" class="nav-link">Centros de Costo</a>
                </li>
                <li>
                    <a href="/sistema/listadoTarifario/" class="nav-link">Tarifarios</a>
                </li>
                <li style="display:none;">
                    <a href="/sistema/listadoContacto/" class="nav-link" >Solicitantes</a>
                </li>
            </ul>
        </li>
        <li class="dropdown dropdown-dark dropdown-extended dropdown-hoverable dropdown-user">
            <a href="javascript:;" class="dropdown-toggle">
                <i class="icon-rocket"></i><span class="pd-l-5 username username-hide-on-mobile">Provedores</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-default">
                <li>
                    <a href="/sistema/listadoProvedor/" class="nav-link">Agenda</a>
                </li>
                <li>
                    <a href="/sistema/listadoUnidad/" class="nav-link">Unidades</a>
                </li>
                <li>
                    <a href="/sistema/listadoLicencia/" class="nav-link">Licencias</a>
                </li>
            </ul>
        </li>
        <li class="dropdown dropdown-dark dropdown-extended dropdown-hoverable dropdown-user">
            <a href="javascript:;" class="dropdown-toggle">
                <i class="icon-bar-chart"></i><span class="pd-l-5 username username-hide-on-mobile">Administración</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-default">
                <li>
                    <a href="/sistema/listadoAdelanto/" class="nav-link">Listado de Adelantos</a>
                </li>
                <li>
                    <a href="/sistema/listadoFactClientes/" class="nav-link">Factura Clientes</a>
                </li>
                <li>
                    <a href="/sistema/listadoFactProvedores/" class="nav-link">Factura Provedores</a>
                </li>
            </ul>
        </li>
        <li class="dropdown dropdown-dark dropdown-extended dropdown-hoverable dropdown-user">
            <a href="javascript:;" class="dropdown-toggle">
                <i class="icon-user"></i><span class="pd-l-5 username username-hide-on-mobile">Usuario</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-default">
                <li>
                    <a target="_blank" href="/admin/password_change/" class="nav-link">Cambiar password</a>
                </li>
              <!--  <li>
                    <a href="/sistema/usuario/" class="nav-link">Configuración</a>
                </li>-->
                <li>
                    <a href="/accounts/logout/?next=/sistema/operaciones/" class="nav-link">Salir</a>
                </li>
            </ul>
        </li>
        <!-- COMENTADO PARA PODER DEPLOYAR TRANCU -->
        <!-- Si no tiene notificaciones debería tener la clase "hide" el <span class="badge badge-default"> y si es bardo contar las notificaciones, poner un "&bull;" -->
        <!-- El modal lo dejé en el footer, para que lo levante de cualquier vista -->
        <!-- Cuando no tiene notificaciones, se muestra el <li class="sinNotificaciones"> que por default viene con la class "hide" -->
        <!-- <li class="dropdown dropdown-dard dropdown-extended dropdown-user dropdown-inbox" id="header_inbox_bar">
            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                <i class="icon-envelope-open"></i>
                <span class="badge badge-default">5</span>
            </a>
            <ul class="dropdown-menu">
                <li class="external">
                    <a href="#modal-nuevo-mensaje" data-toggle="modal" class="btn blue btn-block box-shadow">Nueva notificación</a>
                </li>
                <li class="sinNotificaciones hide">No tenés notificaciones</li>
                <li>
                    <ul class="dropdown-menu-list scroller" data-handle-color="#637283">
                        <li>
                            <a href="#modal-mensaje" data-toggle="modal">
                                <span class="subject">
                                    <span class="from">Diego</span>
                                    <span class="time">Hoy 15:30</span>
                                </span>
                                <span class="message">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo quasi nisi totam dolorum itaque reiciendis quo, qui veniam quas, accusantium fuga. Repudiandae laboriosam tempora animi consequatur dolor vel quos, corporis.</span>
                            </a>
                        </li>
                        <li>
                            <a href="#modal-mensaje" data-toggle="modal">
                                <span class="subject">
                                    <span class="from">Silvio</span>
                                    <span class="time">17/09 15:30</span>
                                </span>
                                <span class="message">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam excepturi nulla magni vitae assumenda, ex, placeat distinctio aperiam explicabo libero vel voluptatem non adipisci et doloribus blanditiis aliquid iste eius.</span>
                            </a>
                        </li>
                        <li>
                            <a href="#modal-mensaje" data-toggle="modal">
                                <span class="subject">
                                    <span class="from">Claudio</span>
                                    <span class="time">16/09 16:22</span>
                                </span>
                                <span class="message">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum sed quasi dolorem sapiente quo adipisci eaque nostrum recusandae. Vel suscipit, quis cumque soluta voluptatem ipsum esse commodi dolorem, odio hic!</span>
                            </a>
                        </li>
                        <li>
                            <a href="#modal-mensaje" data-toggle="modal">
                                <span class="subject">
                                    <span class="from">Tita</span>
                                    <span class="time">15/09 12:15</span>
                                </span>
                                <span class="message">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, ea deserunt, id harum libero dolore distinctio ab, maiores cum officia vero quisquam vel amet magni dolorum, adipisci alias accusamus. Quae!</span>
                            </a>
                        </li>
                        <li>
                            <a href="#modal-mensaje" data-toggle="modal">
                                <span class="subject">
                                    <span class="from">Orestes</span>
                                    <span class="time">10/08 04:58 </span>
                                </span>
                                <span class="message">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, reprehenderit, fugit culpa praesentium nostrum tempora maxime enim minima provident qui quod dignissimos ut maiores in eaque, esse eum, veniam animi.</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li> -->
    </ul>
</div>
<div class="flex flex-j-center height-42">
    <a role="button" target="_blank" href="/sistema/altaViaje/" class="btn green flex align-i-center pd-5">Nuevo Viaje</a>
</div>
