<div class="top-menu">
    <ul class="nav navbar-nav pull-left mg-r-0">
        <li class="dropdown dropdown-user">
            <a href="/sistema/operaciones/" class="dropdown-toggle pd-r-12">
                <i class="icon-directions"></i><span class="pd-l-5 username username-hide-on-mobile">Operaciones</span>
            </a>
        </li>
        <li class="dropdown dropdown-dark dropdown-extended dropdown-hoverable dropdown-user">
            <a href="javascript:;" class="dropdown-toggle pd-r-12">
                <i class="icon-calendar"></i><span class="pd-l-5 username username-hide-on-mobile">Viajes</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-default">
                <li>
                    <a target="_blank" href="/sistema/altaViaje/" class="nav-link">Nuevo viaje</a>
                </li>
                <li>
                    <a href="/sistema/exportar/" class="nav-link">Exportar viajes</a>
                </li>
                <li>
                    <a href="/sistema/asignaciones/" class="nav-link">Asignar viajes</a>
                </li>
            </ul>
        </li>
        <li class="dropdown dropdown-dark dropdown-extended dropdown-hoverable dropdown-user">
            <a href="javascript:;" class="dropdown-toggle">
                <i class="icon-briefcase"></i><span class="pd-l-5 username username-hide-on-mobile">Clientes</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-default">
                <li>
                    <a href="/sistema/listadoCliente/" class="nav-link">Listado de Clientes</a>
                </li>
                <li>
                    <a href="/sistema/listadoCentroDeCosto/" class="nav-link">Centros de Costo</a>
                </li>
                <li>
                    <a href="/sistema/listadoTarifario/" class="nav-link">Tarifarios</a>
                </li>
                <li>
                    <a href="/sistema/listadoContacto/" class="nav-link">Solicitantes</a>
                </li>
            </ul>
        </li>
        <li class="dropdown dropdown-dark dropdown-extended dropdown-hoverable dropdown-user">
            <a href="javascript:;" class="dropdown-toggle">
                <i class="icon-rocket"></i><span class="pd-l-5 username username-hide-on-mobile">Provedores</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-default">
                <li>
                    <a href="/sistema/listadoProvedor/" class="nav-link">Listado de Provedores</a>
                </li>
                <li>
                    <a href="/sistema/listadoUnidad/" class="nav-link">Unidades</a>
                </li>
                <li>
                    <a href="/sistema/listadoLicencia/" class="nav-link">Licencias</a>
                </li>
            </ul>
        </li>
        <li class="dropdown dropdown-dark dropdown-extended dropdown-hoverable dropdown-user">
            <a href="javascript:;" class="dropdown-toggle">
                <i class="icon-bar-chart"></i><span class="pd-l-5 username username-hide-on-mobile">Administración</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-default">
                <li>
                    <a href="/sistema/listadoAdelanto/" class="nav-link">Listado de Adelantos</a>
                </li>
                <li>
                    <a href="/sistema/listadoFactClientes/" class="nav-link">Factura Clientes</a>
                </li>
                <li>
                    <a href="/sistema/listadoFactProvedores/" class="nav-link">Factura Provedores</a>
                </li>
            </ul>
        </li>
        <li class="dropdown dropdown-dark dropdown-extended dropdown-hoverable dropdown-user">
            <a href="javascript:;" class="dropdown-toggle">
                <i class="icon-user"></i><span class="pd-l-5 username username-hide-on-mobile">Usuario</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-default">
                <li>
                    <a target="_blank" href="/admin/password_change/" class="nav-link">Cambiar password</a>
                </li>
              <!--  <li>
                    <a href="/sistema/usuario/" class="nav-link">Configuración</a>
                </li>-->
                <li>
                    <a href="/accounts/logout/?next=/sistema/operaciones/" class="nav-link">Salir</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
<div class="flex flex-j-center height-42">
    <a role="button" target="_blank" href="/sistema/altaViaje/" class="btn green flex align-i-center pd-5">Nuevo Viaje</a>
</div>
