<div class="table-responsive pd-t-5">
    <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="viajesEnProgreso">
        <thead>
            <tr>
                <th class="all">N° Res</th>
                <th class="all">Categ.</th>
                <th class="all">Fecha</th>
                <th class="all">Hora</th>
                <th class="all">H.E</th>
                <th class="all">Estado</th>
                <th class="all">Unidad</th>
                <th class="all">Nombre Unidad</th>
                <th class="all">Origen</th>
                <th class="all">Destino</th>
                <th class="all">Pasajero</th>
                <th class="all">Solicitante</th>
                <th class="all">Centro de Costo</th>
            </tr>
        </thead>
        <tbody>
            {% for v in viajes %}
                {% if v.estado_id == 5 %}
                    {% for t in v.getTrayectos %}
                      <tr>
                            {% if t.id != v.getTrayectos.0.id %}
                            <td class="all text-center"><a target="_blank" href="/sistema/editaViaje/?idViaje={{ v.id }}"></a></td>
                            {% else %}
                            <td class="all text-center"><a target="_blank" href="/sistema/editaViaje/?idViaje={{ v.id }}">{{v.id}}</a></td>
                            {% endif %}
                            <td class="all">{{ v.categoria_viaje }}</td>
                            <td class="all">{{ v.getFecha }}</td>
                            <td class="all">{{ v.hora }}</td>
                            <td class="all">{{ v.hora_estimada }}</td>
                            <td class="all"><span class="label label-primary" style="background-color: {{ v.estado.color }}!important;"> {{ v.estado }} </span></td>
                            {% ifequal v.unidad None %}
                            <td class="all"><a href="#" data-toggle="modal" class="open_change_modal" data-viaje-id="{{ v.id}}" data-unidad-id="{{ v.unidad.id}}">------</a></td>
                            <td class="all"><a href="#" data-toggle="modal" class="open_change_modal" data-viaje-id="{{ v.id}}" data-unidad-id="{{ v.unidad.id}}">------</a></td>
                            {% else %}
                            <td class="all"><a href="#" data-toggle="modal" class="open_change_modal" data-viaje-id="{{ v.id}}" data-unidad-id="{{ v.unidad.id}}">{{ v.unidad.id_fake|default_if_none:"----" }}</a></td>
                            <td class="all"><a href="#" data-toggle="modal" class="open_change_modal" data-viaje-id="{{ v.id}}" data-unidad-id="{{ v.unidad.id}}">{{ v.unidad.identificacion|default_if_none:"----" }}</a></td>
                            {% endifequal %}
                            {% ifequal t.destino_desde.nombre "Interior" %}
                                <td class="all"><span class="label label-primary" style="color:#000000; background-color: {{ t.destino_desde.color|default_if_none:"#FFFFFF" }}!important;">{{ t.desdeConcat }}</span></td>
                            {% else %}
                                <td class="all"><span class="label label-primary" style="color:#000000; background-color: {{ t.localidad_desde.color|default_if_none:"#FFFFFF" }}!important;">{{ t.desdeConcat }}</span></td>
                            {% endifequal %}
                            {% ifequal t.destino_hasta.nombre "Interior" %}
                                <td class="all"><span class="label label-primary" style="color:#000000; background-color: {{ t.destino_hasta.color|default_if_none:"#FFFFFF" }}!important;">{{ t.hastaConcat }}</span></td>
                            {% else %}
                                <td class="all"><span class="label label-primary" style="color:#000000; background-color: {{ t.localidad_hasta.color|default_if_none:"#FFFFFF" }}!important;">{{ t.hastaConcat }}</span></td>
                            {% endifequal %}
                            {% if t.id != v.getTrayectos.0.id %}
                            <td class="all"><a href="#" data-toggle="modal" class="open_pasajero_modal" data-pasajero-apellido="{{t.pasajero.apellido }}" data-pasajero-nombre="{{t.pasajero.nombre }}" data-pasajero-tel="{{t.pasajero.getTelefono|default_if_none:'' }}" data-pasajero-mail="{{t.pasajero.getMail|default_if_none:'' }}">{{v.getViajeBilingue}}{{t.pasajero.apellido }},{{ t.pasajero.nombre }}</a></td>
                            {% else %}
                            <td class="all"><a href="#" data-toggle="modal" class="open_pasajero_modal" data-pasajero-apellido="{{v.pasajero.apellido }}" data-pasajero-nombre="{{v.pasajero.nombre }}" data-pasajero-tel="{{v.pasajero.getTelefono|default_if_none:'' }}" data-pasajero-mail="{{v.pasajero.getMail|default_if_none:'' }}">{{v.getViajeBilingue}}{{v.pasajero.apellido }},{{ v.pasajero.nombre }}</a></td>
                            {% endif %}

                            <td class="all">{{v.solicitante.apellido }},{{ v.solicitante.nombre }}</td>
                            <td class="all">{{ v.centro_costo.nombre }}</td>
                        </tr>
                    {% empty %}
                      <tr>
                        <td class="all text-center"><a target="_blank" href="/sistema/editaViaje/?idViaje={{ v.id }}">{{v.id}}</a></td>
                        <td class="all">{{ v.categoria_viaje }}</td>
                        <td class="all">{{ v.getFecha }}</td>
                        <td class="all">{{ v.hora }}</td>
                        <td class="all">{{ v.hora_estimada }}</td>
                        <td class="all"><span class="label label-primary" style="background-color: {{ v.estado.color }}!important;"> {{ v.estado }} </span></td>
                        {% ifequal v.unidad None %}
                        <td class="all"><a href="#" data-toggle="modal" class="open_change_modal" data-viaje-id="{{ v.id}}" data-unidad-id="{{ v.unidad.id}}">------</a></td>
                        <td class="all"><a href="#" data-toggle="modal" class="open_change_modal" data-viaje-id="{{ v.id}}" data-unidad-id="{{ v.unidad.id}}">------</a></td>
                        {% else %}
                        <td class="all"><a href="#" data-toggle="modal" class="open_change_modal" data-viaje-id="{{ v.id}}" data-unidad-id="{{ v.unidad.id}}">{{ v.unidad.id_fake|default_if_none:"----" }}</a></td>
                        <td class="all"><a href="#" data-toggle="modal" class="open_change_modal" data-viaje-id="{{ v.id}}" data-unidad-id="{{ v.unidad.id}}">{{ v.unidad.identificacion|default_if_none:"----" }}</a></td>
                        {% endifequal %}
                        {% ifequal v.getTrayectoPrincipal.destino_desde.nombre "Interior" %}
                            <td class="all"><span class="label label-primary" style="color:#000000; background-color: {{ v.getTrayectoPrincipal.destino_desde.color|default_if_none:"#FFFFFF" }}!important;">{{ v.getTrayectoPrincipal.desdeConcat }}</span></td>
                        {% else %}
                            <td class="all"><span class="label label-primary" style="color:#000000; background-color: {{ v.getTrayectoPrincipal.localidad_desde.color|default_if_none:"#FFFFFF" }}!important;">{{ v.getTrayectoPrincipal.desdeConcat }}</span></td>
                        {% endifequal %}
                        {% ifequal v.getTrayectoPrincipal.destino_hasta.nombre "Interior" %}
                            <td class="all"><span class="label label-primary" style="color:#000000; background-color: {{ v.getTrayectoPrincipal.destino_hasta.color|default_if_none:"#FFFFFF" }}!important;">{{ v.getTrayectoPrincipal.hastaConcat }}</span></td>
                        {% else %}
                            <td class="all"><span class="label label-primary" style="color:#000000; background-color: {{ v.getTrayectoPrincipal.localidad_hasta.color|default_if_none:"#FFFFFF" }}!important;">{{ v.getTrayectoPrincipal.hastaConcat }}</span></td>
                        {% endifequal %}
                        {% if t.id != v.getTrayectos.0.id %}
                        <td class="all"><a href="#" data-toggle="modal" class="open_pasajero_modal" data-pasajero-apellido="{{t.pasajero.apellido }}" data-pasajero-nombre="{{t.pasajero.nombre }}" data-pasajero-tel="{{t.pasajero.getTelefono|default_if_none:'' }}" data-pasajero-mail="{{t.pasajero.getMail|default_if_none:'' }}">{{v.getViajeBilingue}}{{t.pasajero.apellido }},{{ t.pasajero.nombre }}</a></td>
                        {% else %}
                        <td class="all"><a href="#" data-toggle="modal" class="open_pasajero_modal" data-pasajero-apellido="{{v.pasajero.apellido }}" data-pasajero-nombre="{{v.pasajero.nombre }}" data-pasajero-tel="{{v.pasajero.getTelefono|default_if_none:'' }}" data-pasajero-mail="{{v.pasajero.getMail|default_if_none:'' }}">{{v.getViajeBilingue}}{{v.pasajero.apellido }},{{ v.pasajero.nombre }}</a></td>
                        {% endif %}
                        <td class="all">{{v.solicitante.apellido }},{{ v.solicitante.nombre }}</td>
                        <td class="all">{{ v.centro_costo.nombre }}</td>
                    </tr>
                    {% endfor %}
                {% endif %}
        {% endfor %}
        </tbody>
    </table>
</div>
<script>
    $('#viajesEnProgreso').DataTable( {
        responsive: true,
        // colReorder: true,
        order: [[ 3, "asc" ]],
        dom: 'lfBrtip',
        // sDom: "RlfBrtip",
        buttons: [
            {
                extend: 'copy'
            },
            {
                extend: 'excel'
            },
            {
                extend: 'pdfHtml5',
                orientation: 'landscape'
            },
            {
                extend: 'print'
            },
        ],
        lengthMenu: [
            [ 100, 50, 25, 10, -1 ],
            [ '100', '50', '25', '10', 'Todos' ]
        ],
        language: {
            url: '//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json',
            buttons: {
                copy: "Copiar",
                print: "Imprimir"
            }
        }
    } );
    var tableviajesEnProgreso = $('#viajesEnProgreso').DataTable();

    $('#viajesEnProgreso tbody').on( 'click', 'tr', function () {
        if ( $(this).hasClass('selected') ) {
            $(this).removeClass('selected');
        }
        else {
            row_seleccionado = $(this);
            tableviajesEnProgreso.$('tr.selected').removeClass('selected');
            $(this).addClass('selected');
            console.log($(this).context.childNodes[1].innerText);
            viaje_seleccionado = $(this).context.childNodes[1].innerText;
            $('#estado_actual').text('EN PROGRESO')
        }
    });
</script>