<table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tablaPasajeroClientes">
    <thead>
        <tr>
            <th class="all">Acciones</th>
            <th class="all">Nombre</th>
            <th class="all">Apellido</th>
            <th class="all">DNI</th>
            <th class="all">Nacionalidad</th>
            <th class="all">Domicilio</th>
            <th class="all">Teléfono</th>
            <th class="all">Comentario</th>
        </tr>
    </thead>
    <tbody>
        {% for p in cliente.getPasajeros %}
        <tr>
            <td class="text-center">
                <a href="#" onclick="editarPasajero('{{ p.id }}','{{ cliente.id }}','{{ p.nombre }}','{{ p.apellido }}','{{ p.documento|default_if_none:"" }}','{{ p.mail|default_if_none:"" }}','{{ p.getTelefono }}','{{ p.nacionalidad }}','{{ p.calle }}','{{ p.altura }}','{{ p.piso }}','{{ p.cp }}');" class="btn btn-xs blue"><i class="fa fa-pencil"></i></a>
            </td>
            <td>{{ p.nombre|default_if_none:"" }}</td>
            <td>{{ p.apellido|default_if_none:"" }}</td>
            <td>{{ p.documento|default_if_none:"" }}</td>
            <td>{{ p.nacionalidad|default_if_none:"" }}</td>
            <td>{{ p.getDomicilio }}</td>
            <td>{{ p.getTelefono }}</td>
            <td>{{ p.getObservacion }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<script>
    $('#tablaPasajeroClientes').DataTable( {
        responsive: true,
        // scrollY: 200,
        order: [[ 1, "asc" ]],
        lengthMenu: [
                        [ -1, 500, 100, 50, 25, 10 ],
                        [ 'Todos', '500', '100', '50', '25', '10' ]
                    ],
        language: {
            url: '//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json'
        },
    } );
</script>