<table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tablaTramosTarifario">
    <thead>
        <tr>
            <th class="all">Acciones</th>
            <th class="all">Desde</th>
            <th class="all">Hasta</th>
            <th class="all">STD</th>
            <th class="all">VIP</th>
            <th class="all">UTI</th>
            <th class="all">EJEC</th>
            <th class="all">VAN-C</th>
            <th class="all">VAN-L</th>
            <th class="all">MINI</th>
            <th class="all">BUS</th>
            <th class="all">BUS DP</th>
            <th class="all">LIM/BLI</th>
            <th class="all">FLET</th>
            <th class="all">MSJ</th>
            <th class="all">VIANDA</th>
            <th class="all">GUIA</th>
            <th class="all">VIAT</th>
            <th class="all">REGU</th>
            <th class="all">H1</th>
            <th class="all">MB</th>
            <th class="all">VIANO</th>
        </tr>
    </thead>
    <tbody>
        {% for trayecto in tarifario.getTarifaViaje %}
        <tr>
            <td class="text-center">
                <a href="#" onclick="editarTarifaTrayecto('{{ trayecto.id }}');" data-toggle="modal" role="button" class="btn btn-xs btn-outline blue"><i class="fa fa-pencil"></i></a>
            </td>
            <td>{{trayecto.localidad_desde}}</td>
            <td>{{trayecto.localidad_hasta}}</td>
            <td>{{ trayecto|get_tarifa_by_cat:1 }}</td>
            <td>{{ trayecto|get_tarifa_by_cat:2 }}</td>
            <td>{{ trayecto|get_tarifa_by_cat:3 }}</td>
            <td>{{ trayecto|get_tarifa_by_cat:4 }}</td>
            <td>{{ trayecto|get_tarifa_by_cat:5 }}</td>
            <td>{{ trayecto|get_tarifa_by_cat:6 }}</td>
            <td>{{ trayecto|get_tarifa_by_cat:7 }}</td>
            <td>{{ trayecto|get_tarifa_by_cat:8 }}</td>
            <td>{{ trayecto|get_tarifa_by_cat:9 }}</td>
            <td>{{ trayecto|get_tarifa_by_cat:10 }}</td>
            <td>{{ trayecto|get_tarifa_by_cat:11 }}</td>
            <td>{{ trayecto|get_tarifa_by_cat:12 }}</td>
            <td>{{ trayecto|get_tarifa_by_cat:13 }}</td>
            <td>{{ trayecto|get_tarifa_by_cat:14 }}</td>
            <td>{{ trayecto|get_tarifa_by_cat:15 }}</td>
            <td>{{ trayecto|get_tarifa_by_cat:16 }}</td>
            <td>{{ trayecto|get_tarifa_by_cat:17 }}</td>
            <td>{{ trayecto|get_tarifa_by_cat:18 }}</td>
            <td>{{ trayecto|get_tarifa_by_cat:19 }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<!-- SCRIPTS PROPIOS DE ESTA VISTA -->
<script>
    $(document).ready(function(){
        $('#tablaTramosTarifario').DataTable( {
            responsive: true,
            // scrollY: 300,
            order: [[ 1, "asc" ]],
            lengthMenu: [
                            [ 100, 50, 25, 10, -1 ],
                            [ '100', '50', '25', '10', 'Todos' ]
                        ],
            language: {
                url: '//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json'
            },
        } );
    });
</script>