<table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tablaPasajeroViaje">
    <thead>
        <tr>
            <th class="all">Borrar</th>
            <th class="all">Nombre</th>
            <th class="all">Apellido</th>
            <th class="all">DNI</th>
            <th class="all">Nacionalidad</th>
            <th class="all">Domicilio</th>
            <th class="all">Teléfono</th>
            <th class="all">Comentario</th>
        </tr>
    </thead>
    <tbody>
        {% for p in viaje.getPasajeros %}
        <tr>
            <td class="text-center"><a href="#" onclick="editarPasajero('{{ p.id }}');"><i class="fa fa-trash"></i></a></td>
            <td>{{ p.nombre|default_if_none:"" }}</td>
            <td>{{ p.apellido|default_if_none:"" }}</td>
            <td>{{ p.documento|default_if_none:"" }}</td>
            <td>{{ p.nacionalidad|default_if_none:"" }}</td>
            <td>{{ p.getDomicilio }}</td>
            <td>{{ p.getTelefono }}</td>
            <td>{{ p.getObservacion }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<script>
    $('#tablaPasajeroViaje').DataTable( {
        responsive: true,
        // scrollY: 200,
        order: [[ 1, "asc" ]],
        lengthMenu: [
                        [ -1, 500, 100, 50, 25, 10 ],
                        [ 'Todos', '500', '100', '50', '25', '10' ]
                    ],
        language: {
            url: '//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json'
        },
    } );
</script>