<table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tablaObservacionClientes">
    <thead>
        <tr>
            <th class="all">Fecha</th>
            <th class="all">Usuario</th>
            <th class="all">Observación</th>
        </tr>
    </thead>
    <tbody>
        {% for o in cliente.getObservaciones %}
        <tr>
            <td>{{ o.getFechaHora }}</td>
            <td>{{ o.usuario }}</td>
            <td>{{ o.texto }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>