<div class="table-responsive pd-t-5">
    <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="viajesEnProgreso">
        <thead>
            <tr>
                <th class="all">N° Res</th>
                <th class="all">Categ.</th>
                <th class="all">Fecha</th>
                <th class="all">Hora</th>
                <th class="all">H.E</th>
                <th class="all">Estado</th>
                <th class="all">Unidad</th>
                <th class="all">Nombre Unidad</th>
                <th class="all">Origen</th>
                <th class="all">Destino</th>
                <th class="all">Pasajero</th>
                <th class="all">Solicitante</th>
                <th class="all">Centro de Costo</th>
            </tr>
        </thead>
        <tbody>
            {% for v in viajes %}
                {% if v.estado_id == 5 %}
                    <tr>
                        <td class="all text-center"><a href="/sistema/editaViaje/?idViaje={{ v.id }}">{{v.id}}</a></td>
                        <td class="all">{{ v.categoria_viaje }}</td>
                        <td class="all">{{ v.fecha }}</td>
                        <td class="all">{{ v.hora }}</td>
                        <td class="all">{{ v.hora_estimada }}</td>
                        <td class="all"><span class="label label-primary" style="background-color: {{ v.estado.color }}!important;"> {{ v.estado }} </span></td>
                        <td class="all">{{ v.unidad.id }}</td>
                        <td class="all">{{ v.unidad.identificacion }}</td>
                        <td class="all"><span class="label label-sm label-danger">{{ v.getTrayectoPrincipal.localidad_desde }}</span></td>
                        <td class="all"><span class="label label-sm label-warning">{{ v.getTrayectoPrincipal.localidad_hasta }}</span></td>
                        <td class="all">{{ v.pasajero }}</td>
                        <td class="all">{{ v.solicitante }}</td>
                        <td class="all">{{ v.centro_costo }}</td>
                    </tr>
                {% endif %}
        {% endfor %}
        </tbody>
    </table>
</div>
<script>
    $('#viajesEnProgreso').DataTable( {
        responsive: true,
        colReorder: true,
        order: [[ 3, "asc" ]],
        dom: 'Bfrtip',
        buttons: [
            {
                extend: 'copy',
                exportOptions: {
                    columns: ':visible:not(:eq(0))'
                }
            },
            {
                extend: 'excel',
                exportOptions: {
                    columns: ':visible:not(:eq(0))'
                }
            },
            {
                extend: 'pdf',
                exportOptions: {
                    columns: ':visible:not(:eq(0))'
                }
            },
            {
                extend: 'print',
                exportOptions: {
                    columns: ':visible:not(:eq(0))'
                }
            },
        ],
        lengthMenu: [
                        [ -1, 500, 100, 50, 25, 10 ],
                        [ 'Todos', '500', '100', '50', '25', '10' ]
                    ],
        language: {
            url: '//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json',
            buttons: {
                copy: "Copiar",
                print: "Imprimir"
            }
        }
    } );
    var tableviajesEnProgreso = $('#viajesEnProgreso').DataTable();

    $('#viajesEnProgreso tbody').on( 'click', 'tr', function () {
        if ( $(this).hasClass('selected') ) {
            $(this).removeClass('selected');
        }
        else {
            row_seleccionado = $(this);
            tableviajesEnProgreso.$('tr.selected').removeClass('selected');
            $(this).addClass('selected');
            console.log($(this).context.childNodes[1].innerText);
            viaje_seleccionado = $(this).context.childNodes[1].innerText;
            $('#estado_actual').text('EN PROGRESO')
        }
    });
</script>