<div class="table-responsive pd-t-5">
    <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tablaExportar">
        <thead>
            <tr>
                <!--<th data-checkbox="true"></th>-->
                <th class="all">Fecha</th>
                <th class="all">Fecha</th>
                <th class="all">Hora</th>
                <th class="all">Categoría</th>
                <th class="all">N° Res</th>
                <th class="all">Estado</th>
                <th class="all">Centro Costo</th>
                <th class="all">Cliente</th>
                <th class="all">Pasajero</th>
                <th class="all">Pas. Bilingue</th>
                <th class="all">Origen</th>
                <th class="all">Destino</th>
                <th class="all">Obs. chofer</th>
            </tr>
        </thead>
        <tbody>
            {% for v in viajes %}
                {% for t in v.getTrayectos %}
                    <tr>
                        <td class="all">{{ v.getFecha }}</td>
                        <td class="all"><span class='hide'>{{ v.fecha }}</span>{{ v.getFecha }}</td>
                        <td class="all">{{ v.hora }}</td>
                        <td class="all">{{ v.categoria_viaje }}</td>
                        {% if t.id != v.getTrayectos.0.id %}
                            <td class="text-center"></td>
                        {% else %}
                            <td class="text-center"><a target="_blank" href="/sistema/editaViaje/?idViaje={{v.id}}">{{v.id}}</a></td>
                        {% endif %}
                        <td class="all">{{ v.estado }}</td>
                        <td class="all">{{ v.centro_costo.nombre }}</td>
                        <td class="all">{{ v.cliente }}</td>
                        {% if t.id != v.getTrayectos.0.id %}
                            <td class="all">{{ t.pasajero.nombreCompletoExportar }}</td>
                        {% else %}
                            <td class="all">{{ v.pasajero.nombreCompletoExportar }}</td>
                        {% endif %}
                        <td class="all">{{ v.getViajeBilingue }}</td>
                        <td class="all"><span class="label label-sm label-danger">{{ t.desdeConcat }}</span></td>
                        <td class="all"><span class="label label-sm label-warning">{{ t.hastaConcat }}</span></td>
                        <td class="all">{{ v.getObservacioneChofer }}</td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
    $('#tablaExportar').DataTable( {
        responsive: true,
        // scrollY: 200,
        order: [[ 0, "asc" ]],
        dom: 'lfBrtip',
        buttons: [
            {
                extend: 'copyHtml5',
                exportOptions: {
                    columns: [ 0, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
                }
            },
            'print',
                {
                extend: 'excelHtml5',
                exportOptions: {
                    columns: [ 0, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
                }
            },
            {
                extend: 'pdfHtml5',
                title: 'Central LT - Exportar viajes',
                orientation: 'landscape',
                pageSize: 'tabloid',
                exportOptions: {
                     columns: [ 0, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
                }
                /*customize: function(doc) {
                    doc.content[1].table.widths = [ '6%', '3%','8%','4%','5%','9%','14%','14%','5%','16%','16%'];
                }*/
            },
        ],
        columnDefs: [
            {
                "targets": [ 0 ],
                "visible": false,
                "searchable": false
            }
        ],
        lengthMenu: [
                        [ 100, 50, 25, 10, -1 ],
                        [ '100', '50', '25', '10', 'Todos' ]
                    ],
        language: {
            url: '//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json',
            buttons: {
                copy: "Copiar",
                print: "Imprimir"
            }
        }
    } );
</script>