{% load static %}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
    <!--<![endif]-->
    {% include "sistema/cabecera.html" %}
    <body class="page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid page-sidebar-reversed page-sidebar-fixed page-md">
        {% include "sistema/barra_top.html" %}
        <!-- BEGIN HEADER & CONTENT DIVIDER -->
        <div class="clearfix"> </div>
        <!-- END HEADER & CONTENT DIVIDER -->
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            {% include "sistema/barra_lat.html" %}
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2">
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <div class="portlet light ">
                                <div class="portlet-title">
                                    <div class="caption font-blue">
                                        <i class="icon-user font-blue"></i>
                                        <span class="caption-subject bold uppercase">Alta/Edición de licencia</span>
                                    </div>
                                    <div class="tools"> </div>
                                </div>
                                <div class="portlet-body">
                                    <form role="form" method="post" id="formGuardarLicencia" action="/sistema/guardarLicencia/">{% csrf_token %}
                                        <input type="hidden" id="idLicencia" name="idLicencia" value="{{ licencia.id }}">
                                        <div class="form-body">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <div class="form-group form-md-line-input">
                                                        <select id="tipoPersonaLicencia" class="form-control" name="tipoPersonaLicencia" onchange="getLicenciaAdjudicado();">
                                                            <option value="0">Chofer</option>
                                                            <option value="1">Dueño</option>
                                                            <option value="2">Vehículo</option>
                                                        </select>
                                                        <label for="tipoPersonasLicencia">Asignada a:</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-group form-md-line-input" id="divPersonaLicencia">
                                                        <select class="form-control" id="personaLicencia" name="personaLicencia">
                                                            {% for l in listaAsignoLicencia %}
                                                                <option value="{{ l.id }}">{{ l.getIdentificacion }}</option>
                                                            {% endfor %}
                                                        </select>
                                                        <label for="personaLicencia" id="personaLicenciaId" >Choferes</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-group form-md-line-input">
                                                        <select class="form-control" id="tipoLicencia" name="tipoLicencia">
                                                            {% for tl in tipo_licencias %}
                                                                <option value="{{ tl.id }}">{{ tl.tipo_licencia }}</option>
                                                            {% endfor %}
                                                        </select>
                                                        <label for="tipoLicencia">Tipo de licencia</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <label for="vencimientoLicencia font-12">Vencimiento</label>
                                                    <input class="form-control form-control-inline input-medium date-picker" id="vencimientoLicencia" name="vencimientoLicencia" size="10" type="text" value="{{ licencia.getFechaVencimiento }}" />
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group form-md-line-input form-md-floating-label">
                                                        <input type="text" class="form-control" id="descripcionLicencia" name="descripcionLicencia" value="{{ licencia.comentario }}">
                                                        <label for="descripcionLicencia">Descripción</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-actions noborder flex flex-j-between">
                                            <button type="submit" class="btn green">Guardar</button>
                                            <button type="button" class="btn red">Cancelar</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- END EXAMPLE TABLE PORTLET-->
                        </div>
                    </div>

                </div>
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
            <!-- BEGIN QUICK SIDEBAR -->
            <!-- END QUICK SIDEBAR -->
        </div>
        <!-- END CONTAINER -->
        {% include "sistema/footer.html" %}

            <!-- SCRIPTS PROPIOS DE ESTA VISTA -->
            <script>
                $(document).ready(function(){
                    $('#vencimientoLicencia').datepicker({
                        language: 'es',
                        dateFormat: 'dd/mm/yy',
                        // todayBtn: true,
                        todayHighlight: true,
                        autoclose: true
                    });

                    idLicencia = $("#idLicencia").val()
                    if (idLicencia != "0"){
                        $("#tipoPersonaLicencia").val('{{ tipoAsignadoId }}')
                        $('#tipoPersonaLicencia').prop('disabled', 'disabled');
                        $('#personaLicencia').prop('disabled', 'disabled');
                        $('#personaLicenciaId').html('{{ tipoAsignado }}');
                        $('#tipoLicencia').val('{{ licencia.tipo_licencia.id }}');
                    }else{
                        $('#descripcionLicencia').val('');
                    }
                });

                function getLicenciaAdjudicado(){

                    var url = "/sistema/getSelectAsignoLicencia/";
                    $.ajax({
                        type: "POST",
                        url: url,
                        headers: {'X-CSRFToken': '{{ csrf_token }}'},
                        data: $("#formGuardarLicencia").serialize(),
                        success: function(data){
                            $("#divPersonaLicencia").html(data);
                        }
                    });
                    
                }
            </script>

        </div>
    </body>

</html>