{% load static %}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="es">
    <!--<![endif]-->
    {% include "sistema/cabecera.html" %}
    <body class="page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid page-sidebar-reversed page-sidebar-fixed page-md">
        {% include "sistema/barra_top.html" %}
        <div class="page-container">
            {% include "sistema/barra_lat.html" %}
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                    <div class="page-bar">
                        <ul class="page-breadcrumb">
                            <li>
                                <i class="icon-directions"></i>
                                <a href="/sistema/operaciones/">Operaciones</a>
                                <i class="fa fa-angle-right"></i>
                            </li>
                            <li>
                                <a href="/sistema/listadoLicencia/">Listado de Licencias</a>
                                <i class="fa fa-angle-right"></i>
                            </li>
                            <li>
                                <span>Licencia</span>
                            </li>
                        </ul>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <div class="portlet light ">
                                <div class="portlet-title">
                                    <div class="caption font-blue">
                                        
                                        <span class="caption-subject bold uppercase"><i class="icon-user font-blue mg-r-5"></i>Alta/Edición de licencia</span>
                                    </div>
                                    <div class="tools"> </div>
                                </div>
                                <div class="portlet-body">
                                    <form role="form" method="post" id="formGuardarLicencia" action="/sistema/guardarLicencia/">{% csrf_token %}
                                        <input type="hidden" id="idLicencia" name="idLicencia" value="{{ licencia.id }}">
                                        <input type="hidden" id="estado" name="estado" value="{{ estado }}">
                                        
                                        <div class="form-body">
                                            <div class="row">
                                                <div class="col-sm-6 col-md-3">
                                                    <div class="form-group form-md-line-input">
                                                        <select id="unidades" class="form-control select2me" name="unidades">
                                                            <option value="">Seleccionar Unidad</option>
                                                            {% for u in unidades %}
                                                                <option value="{{ u.id }}">{{ u.getIdentificacion }}</option>
                                                            {% endfor %}
                                                        </select>
                                                        <label for="unidades">Asignada a:</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 col-md-3">
                                                    <div class="form-group form-md-line-input">
                                                        <select class="form-control select2me" id="tipoLicencia" name="tipoLicencia">
                                                            {% for tl in tipo_licencias %}
                                                                <option value="{{ tl.id }}">{{ tl.tipo_licencia }}</option>
                                                            {% endfor %}
                                                        </select>
                                                        <label for="tipoLicencia">Tipo de licencia</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 col-md-3">
                                                    <label for="vencimientoLicencia font-12">Vencimiento</label>
                                                    <input class="form-control form-control-inline input-medium date-picker" id="vencimientoLicencia" name="vencimientoLicencia" size="10" type="text" value="{{ licencia.getFechaVencimiento }}" />
                                                </div>
                                                <div class="col-sm-6 col-md-3">
                                                    <div class="form-group form-md-line-input">
                                                        <input type="text" class="form-control" id="descripcionLicencia" name="descripcionLicencia" value="{{ licencia.comentario }}">
                                                        <label for="descripcionLicencia">Descripción</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-actions noborder flex mg-t-20">
                                            <button type="button" onclick="guardarLicencia();" class="btn green mg-r-10">Guardar</button>
                                            <button type="button" onclick="location.href='/sistema/listadoLicencia/';" class="btn red btn-outline">Cancelar</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- END EXAMPLE TABLE PORTLET-->
                        </div>
                    </div>

                </div>
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
            <!-- BEGIN QUICK SIDEBAR -->
            <!-- END QUICK SIDEBAR -->
        </div>
        <!-- END CONTAINER -->
        {% include "sistema/footer.html" %}

            <!-- SCRIPTS PROPIOS DE ESTA VISTA -->
            <script>
                $(document).ready(function(){
                    $(document).prop('title', 'Licencia - Central LT');

                    $('#vencimientoLicencia').datepicker({
                        language: 'es',
                        dateFormat: 'dd/mm/yy',
                        // todayBtn: true,
                        todayHighlight: true,
                        autoclose: true
                    });

                    idLicencia = $("#idLicencia").val()
                    estado = $("#estado").val()
                    if (idLicencia != "0"){
                        if (estado != ''){
                            alert("Se guardo la licencia correctamente.");
                        }
                        $('#tipoLicencia').val('{{ licencia.tipo_licencia.id }}');
                        $("#unidades").val('{{licencia.unidad.id}}')
                    }else{
                        $('#descripcionLicencia').val('');
                    }

                    $("#unidades").select2({
                        placeholder: "Seleccionar Unidad",
                        allowClear: true,
                        dropdownAutoWidth : true,
                        width: 'auto'
                    });

                    

                });

                function guardarLicencia(){
                    if ($("#unidades").val() == null || $("#unidades").val() == ""){
                        alert("El campo Unidad es obligatorio.");
                        return false;
                    }
                    
                    $("#formGuardarLicencia").submit();

                }
            </script>

        </div>
    </body>

</html>