{% load static %}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
    <!--<![endif]-->
    {% include "sistema/cabecera.html" %}
    <body id="clientes" class="page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid page-sidebar-reversed page-sidebar-fixed page-md">
        {% include "sistema/barra_top.html" %}
        <!-- BEGIN HEADER & CONTENT DIVIDER -->
        <div class="clearfix"> </div>
        <!-- END HEADER & CONTENT DIVIDER -->
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            {% include "sistema/barra_lat.html" %}
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                    <div class="page-bar">
                        <ul class="page-breadcrumb">
                            <li>
                                <i class="icon-directions"></i>
                                <a href="/sistema/operaciones/">Operaciones</a>
                                <i class="fa fa-angle-right"></i>
                            </li>
                            <li>
                                <span>Listado de Provedores</span>
                            </li>
                        </ul>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <div class="portlet light ">
                                <div class="portlet-title">
                                    <div class="caption font-blue">
                                        <i class="icon-speedometer font-blue"></i>
                                        <span class="caption-subject bold uppercase">Listado de provedores</span>
                                        <!-- <a href="#" role="button" class="btn green btn-outline mg-l-20">Agregar provedor</a> -->
                                    </div>
                                    <div class="tools"> </div>
                                </div>
                                <div class="portlet-body">
                                    <div class="table-responsive pd-t-5">
                                        <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tablaListadoProvedor">
                                            <thead>
                                                <tr>
                                                    <!--th class="all">Editar</th-->
                                                    <th class="all">ID</th>
                                                    <th class="all">Nombre</th>
                                                    <th class="all">CUIT/CUIL</th>
                                                    <th class="all">Domicilio</th>
                                                    <th class="all">Teléfono</th>
                                                    <th class="all">Mail</th>
                                                    <th class="all">Tipo</th>
                                                    <th class="all">Unidad</th>
                                                    <th class="all">Nombre Unidad</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for p in provedores %}
                                                <tr>
                                                    <!--td class="text-center"><a href="/sistema/provedor/"><i class="fa fa-pencil"></i></a></td-->
                                                    <td>{{ p.id }}</td>
                                                    <td>{{ p.nombreCompleto|default_if_none:"" }}</td>
                                                    <td>{{ p.documento|default_if_none:"" }}</td>
                                                    <td>{{ p.getDomicilio }}</td>
                                                    <td>{{ p.getTelefono }}</td>
                                                    <td>{{ p.mail|default_if_none:"" }}</td>
                                                    <td>{{ p.tipo_persona.tipo_persona|default_if_none:"" }}</td>
                                                    <td>{{ p.getUnidad.id }}</td>
                                                    <td>{{ p.getUnidad.identificacion }}</td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- END EXAMPLE TABLE PORTLET-->
                        </div>
                    </div>

                </div>
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
            <!-- BEGIN QUICK SIDEBAR -->
            <!-- END QUICK SIDEBAR -->
        </div>
        <!-- END CONTAINER -->
        {% include "sistema/footer.html" %}
            
            <!-- SCRIPTS PROPIOS DE ESTA VISTA -->
            <script>
                $(document).ready(function(){
                    $('#tablaListadoProvedor').DataTable( {
                        responsive: true,
                        // scrollY: 300,
                        order: [[ 1, "asc" ]],
                        dom: 'lfBrtip',
                        buttons: [
                            {
                                extend: 'copy',
                                exportOptions: {
                                    columns: ':visible:not(:eq(0))'
                                }
                            },
                            {
                                extend: 'excel',
                                exportOptions: {
                                    columns: ':visible:not(:eq(0))'
                                }
                            },
                            {
                                extend: 'pdf',
                                exportOptions: {
                                    columns: ':visible:not(:eq(0))'
                                }
                            },
                            {
                                extend: 'print',
                                exportOptions: {
                                    columns: ':visible:not(:eq(0))'
                                }
                            },
                        ],
                        lengthMenu: [
                                        [ 100, 50, 25, 10, -1 ],
                                        [ '100', '50', '25', '10', 'Todos' ]
                                    ],
                        language: {
                            url: '//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json',
                            buttons: {
                                copy: "Copiar",
                                print: "Imprimir"
                            }
                        }
                    } );
                    
                });
            </script>

        </div>
    </body>

</html>