{% load static %}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
    <!--<![endif]-->
    {% include "sistema/cabecera.html" %}
    <body id="clientes" class="page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid page-sidebar-reversed page-sidebar-fixed page-md">
        {% include "sistema/barra_top.html" %}
        <!-- BEGIN HEADER & CONTENT DIVIDER -->
        <div class="clearfix"> </div>
        <!-- END HEADER & CONTENT DIVIDER -->
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            {% include "sistema/barra_lat.html" %}
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <div class="portlet light ">
                                <div class="portlet-title">
                                    <div class="caption font-blue">
                                        <i class="icon-flag font-blue mg-t-8"></i>
                                        <span class="caption-subject bold uppercase">Listado de centros de costo</span>
                                        <a href="/sistema/altaCentroDeCosto/" role="button" class="btn green btn-outline mg-l-20">Agregar centro de costo</a>
                                    </div>
                                    <div class="tools"> </div>
                                </div>
                                <div class="portlet-body">
                                    <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tablaListadoCC">
                                        <thead>
                                            <tr>
                                                <th class="all">Editar</th>
                                                <th class="all">ID</th>
                                                <th class="all">Centro de Costo</th>
                                                <th class="all">Descripción</th>
                                                <th class="all">Tarifario</th>
                                                <th class="all">Desde</th>
                                                <th class="all">Hasta</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="text-center"><a href="/sistema/editaCentroDeCosto/"><i class="fa fa-pencil"></i></a></td>
                                                <td>1</td>
                                                <td>3MONOSRURAL</td>
                                                <td>La Rural</td>
                                                <td>General</td>
                                                <td>01/01/2018</td>
                                                <td>25/05/2019</td>
                                            </tr>
                                            <tr>
                                                <td class="text-center"><a href="/sistema/editaCentroDeCosto/"><i class="fa fa-pencil"></i></a></td>
                                                <td>2</td>
                                                <td>SIEMENSCONGRESO</td>
                                                <td>Congreso Tecnópolis</td>
                                                <td>Especial</td>
                                                <td>01/01/2018</td>
                                                <td>26/08/2018</td>
                                            </tr>
                                            <tr>
                                                <td class="text-center"><a href="/sistema/editaCentroDeCosto/"><i class="fa fa-pencil"></i></a></td>
                                                <td>3</td>
                                                <td>SIMMONSFERIA</td>
                                                <td>Simmons</td>
                                                <td>488-7848</td>
                                                <td>01/01/2018</td>
                                                <td>26/08/2018</td>
                                            </tr>
                                            <tr>
                                                <td class="text-center"><a href="/sistema/editaCentroDeCosto/"><i class="fa fa-pencil"></i></a></td>
                                                <td>4</td>
                                                <td>SAPTESTPETER</td>
                                                <td>SAP</td>
                                                <td>Premium</td>
                                                <td>01/01/2018</td>
                                                <td>26/08/2018</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- END EXAMPLE TABLE PORTLET-->
                        </div>
                    </div>

                </div>
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
            <!-- BEGIN QUICK SIDEBAR -->
            <!-- END QUICK SIDEBAR -->
        </div>
        <!-- END CONTAINER -->
        {% include "sistema/footer.html" %}
            
            <!-- SCRIPTS PROPIOS DE ESTA VISTA -->
            <script>
                $(document).ready(function(){
                    $('#tablaListadoCC').DataTable( {
                        responsive: true,
                        scrollY: 300,
                        order: [[ 1, "asc" ]],
                        lengthMenu: [
                                        [ -1, 500, 100, 50, 25, 10 ],
                                        [ 'Todos', '500', '100', '50', '25', '10' ]
                                    ],
                        language: {
                            url: '//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json'
                        },
                    } );
                    
                });
            </script>

        </div>
    </body>

</html>