{% load static %}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<!--<meta http-equiv="refresh" content="900" />-->
<html lang="es">
    <!--<![endif]-->
    {% include "sistema/cabecera.html" %}
    <body id="operaciones" class="page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid page-sidebar-reversed page-sidebar-fixed page-md">
        {% include "sistema/barra_top.html" %}
        <div class="page-container">
            {% include "sistema/barra_lat.html" %}
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <div class="portlet light ">
                                <div class="portlet-title">
                                    <div class="caption font-green">
                                        <i class="icon-rocket font-green"></i>
                                        <span class="caption-subject bold uppercase">Viajes en progreso</span>
                                    </div>
                                    <div class="tools"> </div>
                                </div>                           
                                    <div id="cont_viajesEnProgreso">
                                    </div>  
                            </form>
                            </div>
                            <!-- END EXAMPLE TABLE PORTLET-->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                             
                            <div class="portlet light ">
                                <div class="portlet-title">
                                    <div class="caption font-green">
                                        <i class="icon-rocket font-green"></i>
                                        <span class="caption-subject bold uppercase">Viajes</span>
                                    </div>
                                    <div class="inline-block mg-b-5" style="float: right;">
                                        <select id="multiselect_estado" name="multiselect_estado[]" class="mt-multiselect btn btn-default" multiple="multiple" data-clickable-groups="true" data-drop-right="true" data-width="100%">
                                            {% for e in estados %}
                                                {% if e.id == 1 or e.id == 2 or e.id == 3 or e.id == 4 or e.id == 10 %}
                                                    <option selected="selected" value="{{ e.id }}">{{ e.estado }}</option>
                                                {% else %}
                                                    <option value="{{ e.id }}">{{ e.estado }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <form role="form" method="post" id="form_exportar" action="">
                                     <input type="hidden" class="form-control" id="idViajes" name="idViajes">
                                        <div id="cont_futurosViajes">
                                        </div>
                                        <!-- MODAL cambiar estados -->
                                        <div id="cambiarEstadoViajeModal" class="modal fade" tabindex="-1" aria-hidden="true">
                                            <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                                    <h4 class="modal-title" style="color:#888;">Cambiar estado</h4>
                                                </div>
                                            <div class="modal-body">
                                                <div class="scroller" style="height:100px" data-always-visible="1" data-rail-visible1="1">
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <div class="form-group form-md-line-input">
                                                                <select class="form-control select2me" id="estadoModal" name="estadoModal">
                                                                {% for e in estados %}
                                                                    {% if e.estado != 'Cerrado'%}
                                                                    <option value="{{ e.id }}">{{ e.estado }}</option>
                                                                    {% endif %}
                                                                {% endfor %}
                                                                </select>
                                                                <label for="estado">Seleccionar Estado</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer noborder flex flex-j-between">
                                                <button type="button" onclick="cambiarEstadoViajes();" class="btn green">Guardar</button>
                                                <button type="button" class="btn red" data-dismiss="modal">Cancelar</button>
                                            </div>
                                            </div>
                                            </div>
                                        </div>   
                                    <!-- FIN MODAL cambiar estados -->
                                    </form>
                                </div>                                
                                <!-- </div> -->
                                <div class="tools"> </div> -->
                            </div>
                            <!-- END EXAMPLE TABLE PORTLET-->
                        </div>
                    </div>

                </div>
                <!-- END CONTENT BODY -->
                <input type="hidden" id="permiso" name="permiso" value="{{ permiso }}">
            </div>
            <!-- END CONTENT -->
            <!-- BEGIN QUICK SIDEBAR -->
            <!-- END QUICK SIDEBAR -->
        </div>
        <!-- END CONTAINER -->       
        <!-- MODAL CAMBIAR UNIDAD -->
        <div id="change_unidad" class="modal fade" tabindex="-1" aria-hidden="true">
            <form role="form" class="form-cambiar-unidad-viaje" id="form-cambiar-unidad-viaje">

                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                            <h4 class="modal-title" style="color:#888;">Modificar Unidad del Viaje</h4>
                        </div>
                        <div class="modal-body">
                            <div class="scroller" style="height:250px" data-always-visible="1" data-rail-visible1="1">
                                <input type="hidden" id="idViaje" name="idViaje" value="">
                                <div class="form-group form-md-line-input">
                                    <select class="form-control select2me" id="unidad_id" name="unidad_id">
                                        <option value=""></option>
                                        {% for u in unidades %}
                                            {% if u.id == viaje.unidad.id %}
                                                <option selected="selected" value="{{ u.id }}">{{u.id_fake}} - {{ u.identificacion }}</option>
                                            {% else %}
                                                <option value="{{ u.id }}">{{u.id_fake}} - {{ u.identificacion }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                    <label for="unidad_id">Unidad</label>
                                </div>
                                <br>
                                <br>
                                <div id="unidad_especificaciones"></div>

                            </div>
                        </div>
                        <div class="modal-footer noborder flex">
                          <button type="button" onclick="cambiarUnidad()" class="btn btn-outline green mg-r-10">Guardar</button>
                          <button type="button" class="btn btn-outline red" data-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- END MODAL CAMBIAR UNIDAD -->

        <!-- MODAL VER PASAJERO -->
        <div id="ver_pasajero" class="modal fade" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title" style="color:#888;">Ver Pasajero Detalles</h4>
                    </div>
                    <div class="modal-body">
                        <div class="scroller" style="height:100px" data-always-visible="1" data-rail-visible1="1">
                            <div id="pasajero_detalles"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END MODAL AGREGAR PASAJERO -->
        
        <!-- MODAL OBSERVACION -->
        <div id="ver_observacion" class="modal fade" tabindex="-1" aria-hidden="true"> <!--<div id="observacion_detalles"></div>-->
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title" style="color:#888;">OBSERVACIONES</h4>
                    </div>
                    <div class="modal-body">
                        <div class="scroller" style="height:100px" data-always-visible="1" data-rail-visible1="1">
                            <div id="observacion_detalles"></div>
                        </div>    
                    </div>
                </div>     
            </div>
            </div>
        <!-- END MODAL OBSERVACION -->

        
        {% include "sistema/footer.html" %}
            
            <!-- SCRIPTS PROPIOS DE ESTA VISTA -->
            <script>

                var viaje_seleccionado = [];
                var row_seleccionado = [];
                var estados_selecionados = ['1', '2', '3', '4', '10'];




                $(document).ready(function(){
                    $(document).prop('title', 'Operaciones - Central LT');

                <!-- logica: seleccion multiple y cambiar estado-->
                openCambiarEstadoViajes = () =>{
                    if (obtenerRowChecked() == ""){
                        alert("Debe seleccionar Viajes para poder facturar.")
                    }else{
                        $('#nuevoEstado').val("");
                        $('#cambiarEstadoViajeModal').modal('toggle');
                    }
                }
                
                obtenerRowChecked = () => {
                    let table = $('#futurosViajes').DataTable();
                    let selectedRows = table.rows({ selected: true }).ids(true);
                    let ids = "";
                    for (var i = 0; i < selectedRows.length; i++) {
                        ids = ids + selectedRows[i].replace("#rowid","") + "-"
                    }
                    $("#idViajes").val(ids);
                    return ids;
                }

                cambiarEstadoViajes = () => {
                    if (obtenerRowChecked() == ""){
                        alert("Debe seleccionar Viajes para poder cambiar estado.");
                        return false;
                    }else{
                        var url = "/sistema/cambiarEstadoViajes/";
                        $.ajax({
                            type: "POST",
                            url: url,
                            headers: {'X-CSRFToken': '{{ csrf_token }}'},
                            data: $("#form_exportar").serialize(),
                            success: function(data){
                                alert(data.return);
                                $('#cambiarEstadoViajeModal').modal('toggle');
                                $("#idViajes").val("");
                                getGrillasViajesFuturos($('#fechaDeHoy').val());
                                getGrillasViajesEnProgreso($('#fechaDeHoy').val());
                            }
                        });
                    }
                }
                <!-- logica: seleccion multiple y cambiar estado en progreso-->

                <!-- end  logica: seleccion multiple y cambiar estado -->
                    if ($('#permiso').val() == 'unidades'){
                        $('#barraLatDiv').hide();
                    }

                    if ($('#permiso').val() == 'finanzas'){
                        $('#barraLatDiv .portlet-body').hide();
                    }

                    $('#multiselect_estado').multiselect({
                        onChange: function(option, checked, select) {
                            var opselected = $(option).val();
                            if(checked == true) {
                                estados_selecionados.push(opselected)
                            }else{
                                estados_selecionados.splice( estados_selecionados.indexOf(opselected), 1 );
                            }
                            console.log(estados_selecionados)
                            getGrillasViajes($('#fechaDeHoy').val());
                        }
                    });

                    $('#viajesEnProgreso').DataTable( {
                        colReorder: true,
                        //scrollY: 150,
                        //scrollX: true,
                        //scrollCollapse: true,
                        responsive: true,
                        select: true,
                        order: [[ 3, "asc" ]],
                        dom: 'lfBrtip',
                        language: {
                            url: '//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json'
                        }
                    } );

                    $('#futurosViajes').DataTable( {
                        colReorder: true,
                       //scrollY: 500,
                        //scrollX: true,
                        //scrollCollapse: true,
                        responsive: true,
                        order: [[ 3, "asc" ]],
                        dom: 'lfBrtip',
                        buttons: [
                            {
                                extend: 'copy',
                                exportOptions: {
                                    columns: ':visible:not(:eq(0))'
                                }
                            },
                            {
                                extend: 'excel',
                                exportOptions: {
                                    columns: ':visible:not(:eq(0))'
                                }
                            },
                            {
                                extend: 'pdfHtml5',
                                orientation: 'landscape',
                                pageSize: 'LEGAL',
                                customize: function(doc) {
                                  doc.defaultStyle.fontSize = 8;
                               }
                            },
                            {
                                extend: 'print',
                                exportOptions: {
                                    columns: ':visible:not(:eq(0))'
                                }
                            },
                        ],
                        lengthMenu: [
                                        [ 100, 50, 25, 10, -1 ],
                                        [ '100', '50', '25', '10', 'Todos' ]
                                    ],
                        language: {
                            url: '//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json',
                            buttons: {
                                copy: "Copiar",
                                print: "Imprimir"
                            }
                        }
                    } );

                    getGrillasViajes($('#fechaDeHoy').val());

                    $('#fechaDeHoy').change(function () {
                        getGrillasViajes($('#fechaDeHoy').val());
                    });

                    $("#unidad_id").on("select2:select", function (e) { updateFillsByUnidad("select2:select", e); });
                    $('#unidad_id').select2({ placeholder: 'Seleccionar Unidad', dropdownAutoWidth : true, width: 'auto', dropdownParent: $('#change_unidad')});

                    $('[data-toggle="tooltip"]').tooltip();
                });

                /* Logica vieja de cambio de estado simple con la barra.
                $('#estado_pre_asignado').css( 'cursor', 'pointer' );
                $('#estado_asignado').css( 'cursor', 'pointer' );
                $('#estado_confirmado').css( 'cursor', 'pointer' );
                $('#estado_en_progreso').css( 'cursor', 'pointer' );
                $('#estado_finalizado').css( 'cursor', 'pointer' );
                $('#estado_cerrado').css( 'cursor', 'pointer' );
                $('#estado_cancelado').css( 'cursor', 'pointer' );

                $('#estado_pre_asignado').click(function () {
                    editEstadoViaje('2');
                });

                $('#estado_asignado').click(function () {
                    editEstadoViaje('3');
                });

                $('#estado_confirmado').click(function () {
                    editEstadoViaje('4');
                });

                $('#estado_en_progreso').click(function () {
                    editEstadoViaje('5');
                });

                $('#estado_finalizado').click(function () {
                    editEstadoViaje('6');
                });

                $('#estado_cerrado').click(function () {
                    editEstadoViaje('7');
                });

                $('#estado_cancelado').click(function () {
                    editEstadoViaje('8');
                });

                editEstadoViaje = estado_seleccionado => {
                    let url = "/sistema/editEstadoViaje/";
                    $.ajax({
                       type: "POST",
                       url: url,
                       headers: {'X-CSRFToken': '{{ csrf_token }}'},
                       data: {viaje_seleccionado:viaje_seleccionado, estado_seleccionado:estado_seleccionado},
                       success: function(data)
                       {
                           getGrillasViajesFuturos($('#fechaDeHoy').val());
                           getGrillasViajesEnProgreso($('#fechaDeHoy').val());
                           /*row_seleccionado.context.childNodes[11].innerHTML = '<span class="label label-primary"> Confirmado </span>';
                           row_seleccionado.addClass('selected');*/ 
                           /*
                       }
                     });
                };*/
                getGrillasViajes = fecha => {
                    getGrillasViajesFuturos(fecha);
                    getGrillasViajesEnProgreso(fecha);
                };


                getGrillasViajesFuturos = fecha => {
                    let url = "/sistema/getViajesFuturosPorFecha/";
                    $.ajax({
                        type: "POST",
                        url: url,
                        headers: {'X-CSRFToken': '{{ csrf_token }}'},
                        data: {date:fecha,estados_selecionados:estados_selecionados},
                        success: function(data)
                        {
                            $('#cont_futurosViajes').html(data);
                        }
                    });
                };
                getGrillasViajesEnProgreso = fecha => {
                    let url = "/sistema/getViajesEnProgresoPorFecha/";
                    $.ajax({
                       type: "POST",
                       url: url,
                       headers: {'X-CSRFToken': '{{ csrf_token }}'},
                       data: {date:fecha,estados_selecionados:estados_selecionados},
                       success: function(data)
                       {
                           $('#cont_viajesEnProgreso').html(data);
                       }
                     });
                };

                cambiarUnidad = () => {
                    let url = "/sistema/cambiarUnidadViaje/";
                    $.ajax({
                        type: "POST",
                        url: url,
                        headers: {'X-CSRFToken': '{{ csrf_token }}'},
                        data: $("#form-cambiar-unidad-viaje").serialize(),
                        success: data => {
                            $('#change_unidad').modal('toggle');
                            getGrillasViajes($('#fechaDeHoy').val());
                        }
                    });
                };
                $(document).on("click", ".open_change_modal", function () {
                     let viaje_select = $(this).data('viaje-id');
                     let unidad_select = $(this).data('unidad-id');
                     $(".modal-body #idViaje").val( viaje_select );
                     //$(".modal-body #unidad_id").val( unidad_select );
                     $('#unidad_id').select2('val',unidad_select);
                     $('#unidad_id').val(unidad_select).trigger("change");
                     let evt = {};

                     evt.params = {};
                     evt.params.data = {};
                     evt.params.data.id = unidad_select;
                     updateFillsByUnidad('update', evt);
                     $('#change_unidad').modal('show');
                });
                $(document).on("click", ".open_pasajero_modal", function () {
                     let nombre = $(this).data('pasajero-nombre');
                     let apellido = $(this).data('pasajero-apellido');
                     let telefono = $(this).data('pasajero-tel');
                     let mail = $(this).data('pasajero-mail');
                     $('#pasajero_detalles').html(nombre + ', ' + apellido + checkField(telefono) + checkField(mail));
                     $('#ver_pasajero').modal('show');
                });
                /* Logica en prod para hacer observaciones */
                $(document).on("click", ".open_observacion_modal", function () {
                     let tarifapasada = $(this).data('obs-tarifapasada');
                     let comchofer = $(this).data('obs-comchofer');
                     let  todas = $(this).data('obs-todas');
                     //let mail = $(this).data('pasajero-mail');*/
                     $('#observacion_detalles').html( '<b>- Comentario interno: </b>' + tarifapasada  + '<br/>  <b>- Observaciones Chofer: </b>' + comchofer +  '<br/>_'); //'<br/> <b>- Observaciones: </b>' + todas
                     $('#ver_observacion').modal('show');
                }); 
                /* Logica en prod para hacer observaciones */
                updateFillsByUnidad = (name, evt) => {
                    let unidad_id = evt.params.data.id;
                    let url = "/sistema/getDatosUnidad/";
                    $.ajax({
                        type: "POST",
                        url: url,
                        headers: {'X-CSRFToken': '{{ csrf_token }}'},
                        data: {unidad_id},
                        success: data => {
                            if(data.identificacion){
                                $('#unidad_especificaciones').html(data.identificacion + checkField(data.telefono) + checkField(data.mail) + checkField(data.marca) + checkField(data.modelo) + checkField(data.color) + checkField(data.patente));
                            }

                        }
                    });
                };

                checkField = field =>{
                    console.log(field);
                    if(field != '' && field != 'None'){
                        return ' - ' + field;
                    }else {
                        return '';
                    }
                }
            </script>

        </div>
    </body>

</html>