{% load static %}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
    <!--<![endif]-->
    {% include "sistema/cabecera.html" %}
    <body id="operaciones" class="page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid page-sidebar-reversed page-sidebar-fixed page-md">
        {% include "sistema/barra_top.html" %}
        <!-- BEGIN HEADER & CONTENT DIVIDER -->
        <div class="clearfix"> </div>
        <!-- END HEADER & CONTENT DIVIDER -->
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            {% include "sistema/barra_lat.html" %}
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <div class="portlet light ">
                                <div class="portlet-title">
                                    <div class="caption font-green">
                                        <i class="icon-rocket font-green"></i>
                                        <span class="caption-subject bold uppercase">Viajes en progreso</span>
                                    </div>
                                    <div class="tools"> </div>
                                </div>
                                <div class="portlet-body">
                                    <div id="cont_viajesEnProgreso">
                                        <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="viajesEnProgreso">
                                            <thead>
                                                <tr>
                                                    <th class="all">N° Res</th>
                                                    <th class="all">Categ.</th>
                                                    <th class="all">Fecha</th>
                                                    <th class="all">Hora</th>
                                                    <th class="all">H.E</th>
                                                    <th class="all">Unidad</th>
                                                    <th class="all">Nombre Unidad</th>
                                                    <th class="all">Origen</th>
                                                    <th class="all">Destino</th>
                                                    <th class="all">Pasajero</th>
                                                    <th class="all">Solicitante</th>
                                                    <th class="all">Centro de Costo</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for v in viajes %}
                                                    {% if v.estado_id == 5 %}
                                                        <tr>
                                                            <td class="all text-center"><a href="/sistema/editaViaje/?idViaje={{ v.id }}">{{v.id}}</a></td>
                                                            <td class="all">{{ v.categoria_viaje }}</td>
                                                            <td class="all">{{ v.fecha }}</td>
                                                            <td class="all">{{ v.hora }}</td>
                                                            <td class="all">{{ v.hora_estimada }}</td>
                                                            <td class="all">{{ v.unidad.id }}</td>
                                                            <td class="all">{{ v.unidad.identificacion }}</td>
                                                            <td class="all"><span class="label label-sm label-danger">{{ v.getTrayectoPrincipal.localidad_desde }}</span></td>
                                                            <td class="all"><span class="label label-sm label-warning">{{ v.getTrayectoPrincipal.localidad_hasta }}</span></td>
                                                            <td class="all">{{ v.pasajero }}</td>
                                                            <td class="all">{{ v.solicitante }}</td>
                                                            <td class="all">{{ v.centro_costo }}</td>
                                                        </tr>
                                                    {% endif %}
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- END EXAMPLE TABLE PORTLET-->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <div class="portlet light ">
                                <div class="portlet-title">
                                    <div class="caption font-green">
                                        <i class="icon-rocket font-green"></i>
                                        <span class="caption-subject bold uppercase">Viajes</span>
                                    </div>
                                    <!--<div class="inline-block width-50" style="float: right;">
                                        <select id="multiselect_estado" class="mt-multiselect btn btn-default" multiple="multiple" data-clickable-groups="true" data-drop-right="true" data-width="100%">
                                            <optgroup label="Nuevos" class="group-1">
                                                <option value="1-1">Sin asignar</option>
                                                <option value="1-2" selected="selected">Asignados</option>
                                                <option value="1-3" selected="selected">Confirmados</option>
                                                <option value="1-4" selected="selected">En progreso</option>
                                            </optgroup>
                                            <optgroup label="Finalizados" class="group-2">
                                                <option value="2-1">Cerrados</option>
                                                <option value="2-2">Cancelados</option>
                                            </optgroup>
                                        </select>
                                    </div>-->
                                </div>
                                <div class="portlet-body">
                                    <div id="cont_futurosViajes">
                                        <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="futurosViajes">
                                            <thead>
                                                <tr>
                                                    <th class="all">N° Res</th>
                                                    <th class="all">Categ.</th>
                                                    <th class="all">Fecha</th>
                                                    <th class="all">Hora</th>
                                                    <th class="all">H.E</th>
                                                    <th class="all">Estado</th>
                                                    <th class="all">Unidad</th>
                                                    <th class="all">Nombre Unidad</th>
                                                    <th class="all">Origen</th>
                                                    <th class="all">Destino</th>
                                                    <th class="all">Pasajero</th>
                                                    <th class="all">Solicitante</th>
                                                    <th class="all">Centro de Costo</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% for v in viajes %}
                                                <tr>
                                                    <td class="all text-center"><a href="/sistema/editaViaje/?idViaje={{ v.id }}">{{v.id}}</a></td>
                                                    <td class="all">{{ v.categoria_viaje }}</td>
                                                    <td class="all">{{ v.fecha }}</td>
                                                    <td class="all">{{ v.hora }}</td>
                                                    <td class="all">{{ v.hora_estimada }}</td>
                                                    <td class="all"><span class="label label-primary"> {{ v.estado }} </span></td>
                                                    <td class="all">{{ v.unidad.id }}</td>
                                                    <td class="all">{{ v.unidad.identificacion }}</td>
                                                    <td class="all"><span class="label label-sm label-danger">{{ v.getTrayectoPrincipal.localidad_desde }}</span></td>
                                                    <td class="all"><span class="label label-sm label-warning">{{ v.getTrayectoPrincipal.localidad_hasta }}</span></td>
                                                    <td class="all">{{ v.pasajero }}</td>
                                                    <td class="all">{{ v.solicitante }}</td>
                                                    <td class="all">{{ v.centro_costo }}</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- </div> -->
                                <div class="tools"> </div>
                            </div>
                            <!-- END EXAMPLE TABLE PORTLET-->
                        </div>
                    </div>

                </div>
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
            <!-- BEGIN QUICK SIDEBAR -->
            <!-- END QUICK SIDEBAR -->
        </div>
        <!-- END CONTAINER -->
        {% include "sistema/footer.html" %}
            
            <!-- SCRIPTS PROPIOS DE ESTA VISTA -->
            <script>
                $(document).ready(function(){
                    $('#viajesEnProgreso').DataTable( {
                        responsive: true,
                        colReorder: true,
                        select: true,
                        order: [[ 3, "asc" ]],
                        lengthMenu: [
                                        [ -1, 500, 100, 50, 25, 10 ],
                                        [ 'Todos', '500', '100', '50', '25', '10' ]
                                    ],
                        language: {
                            url: '//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json'
                        }
                    } );

                    $('#futurosViajes').DataTable( {
                        responsive: true,
                        colReorder: true,
                        lengthMenu: [
                                        [ -1, 500, 100, 50, 25, 10 ],
                                        [ 'Todos', '500', '100', '50', '25', '10' ]
                                    ],
                        language: {
                            url: '//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json'
                        }
                    } );

                    var tablefuturosViajes = $('#futurosViajes').DataTable();

                    $('#futurosViajes tbody').on( 'click', 'tr', function () {
                        if ( $(this).hasClass('selected') ) {
                            $(this).removeClass('selected');
                        }
                        else {
                            tablefuturosViajes.$('tr.selected').removeClass('selected');
                            $(this).addClass('selected');
                            console.log($(this).context.childNodes[1].innerText );
                            console.log($(this).context.childNodes[11].innerText );
                            $('#estado_actual').text($(this).context.childNodes[11].innerText)
                        }
                    });

                    getGrillasViajes($('#fechaDeHoy').val());

                    $('#fechaDeHoy').change(function () {
                        getGrillasViajes($('#fechaDeHoy').val());
                    });
                });

                function getGrillasViajes(fecha) {
                    var url = "/sistema/getViajesFuturosPorFecha/";
                    $.ajax({
                       type: "POST",
                       url: url,
                       headers: {'X-CSRFToken': '{{ csrf_token }}'},
                       data: {date:fecha},
                       success: function(data)
                       {
                           $('#cont_futurosViajes').html(data);
                       }
                     });

                    var url = "/sistema/getViajesEnProgresoPorFecha/";
                    $.ajax({
                       type: "POST",
                       url: url,
                       headers: {'X-CSRFToken': '{{ csrf_token }}'},
                       data: {date:fecha},
                       success: function(data)
                       {
                           $('#cont_viajesEnProgreso').html(data);
                       }
                     });
                }
            </script>

        </div>
    </body>

</html>