{% load static %}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
    <!--<![endif]-->
    {% include "sistema/cabecera.html" %}
    <body id="operaciones" class="page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid page-sidebar-reversed page-sidebar-fixed page-md">
        {% include "sistema/barra_top.html" %}
        <div class="page-container">
            {% include "sistema/barra_lat.html" %}
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <div class="portlet light ">
                                <div class="portlet-title">
                                    <div class="caption font-green">
                                        <i class="icon-rocket font-green"></i>
                                        <span class="caption-subject bold uppercase">Viajes en progreso</span>
                                    </div>
                                    <div class="tools"> </div>
                                </div>
                                <div class="portlet-body">
                                    <div id="cont_viajesEnProgreso">

                                    </div>
                                </div>
                            </div>
                            <!-- END EXAMPLE TABLE PORTLET-->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <div class="portlet light ">
                                <div class="portlet-title">
                                    <div class="caption font-green mg-t-5">
                                        <i class="icon-rocket font-green"></i>
                                        <span class="caption-subject bold uppercase">Viajes</span>
                                    </div>
                                    <div class="inline-block mg-b-5" style="float: right;">
                                        <select id="multiselect_estado" name="multiselect_estado[]" class="mt-multiselect btn btn-default" multiple="multiple" data-clickable-groups="true" data-drop-right="true" data-width="100%">
                                            {% for e in estados %}
                                                {% if e.id == 1 or e.id == 2 or e.id == 3 or e.id == 4 %}
                                                    <option selected="selected" value="{{ e.id }}">{{ e.estado }}</option>
                                                {% else %}
                                                    <option value="{{ e.id }}">{{ e.estado }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <div id="cont_futurosViajes">

                                    </div>
                                </div>
                                <!-- </div> -->
                                <div class="tools"> </div>
                            </div>
                            <!-- END EXAMPLE TABLE PORTLET-->
                        </div>
                    </div>

                </div>
                <!-- END CONTENT BODY -->
                <input type="hidden" id="permiso" name="permiso" value="{{ permiso }}">
            </div>
            <!-- END CONTENT -->
            <!-- BEGIN QUICK SIDEBAR -->
            <!-- END QUICK SIDEBAR -->
        </div>
        <!-- END CONTAINER -->
        {% include "sistema/footer.html" %}
            
            <!-- SCRIPTS PROPIOS DE ESTA VISTA -->
            <script>

                var viaje_seleccionado = '';
                var row_seleccionado = '';
                var estados_selecionados = ['1', '2', '4'];

                $(document).ready(function(){

                    if ($('#permiso').val() == 'unidades' || $('#permiso').val() == 'finanzas'){
                        $('#barraLatDiv').hide();
                    }

                    $('#multiselect_estado').multiselect({
                        onChange: function(option, checked, select) {
                            var opselected = $(option).val();
                            if(checked == true) {
                                estados_selecionados.push(opselected)
                            }else{
                                estados_selecionados.splice( estados_selecionados.indexOf(opselected), 1 );
                            }
                            console.log(estados_selecionados)
                            getGrillasViajes($('#fechaDeHoy').val());
                        }
                    });
                    $('#viajesEnProgreso').DataTable( {
                        responsive: true,
                        select: true,
                        order: [[ 3, "asc" ]],
                        dom: 'lfBrtip',
                        buttons: [
                            {
                                extend: 'copy',
                                exportOptions: {
                                    columns: ':visible:not(:eq(0))'
                                }
                            },
                            {
                                extend: 'excel',
                                exportOptions: {
                                    columns: ':visible:not(:eq(0))'
                                }
                            },
                            {
                                extend: 'pdf',
                                exportOptions: {
                                    columns: ':visible:not(:eq(0))'
                                }
                            },
                            {
                                extend: 'print',
                                exportOptions: {
                                    columns: ':visible:not(:eq(0))'
                                }
                            },
                        ],
                        lengthMenu: [
                                        [ 100, 50, 25, 10, -1 ],
                                        [ '100', '50', '25', '10', 'Todos' ]
                                    ],
                        language: {
                            url: '//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json',
                            buttons: {
                                copy: "Copiar",
                                print: "Imprimir"
                            }
                        }
                    } );

                    $('#futurosViajes').DataTable( {
                        responsive: true,
                        order: [[ 2, "asc" ]],
                        dom: 'lfBrtip',
                        buttons: [
                            {
                                extend: 'copy',
                                exportOptions: {
                                    columns: ':visible:not(:eq(0))'
                                }
                            },
                            {
                                extend: 'excel',
                                exportOptions: {
                                    columns: ':visible:not(:eq(0))'
                                }
                            },
                            {
                                extend: 'pdfHtml5',
                                orientation: 'landscape',
                                pageSize: 'LEGAL',
                                customize: function(doc) {
                                  doc.defaultStyle.fontSize = 8;
                               }
                            },
                            {
                                extend: 'print',
                                exportOptions: {
                                    columns: ':visible:not(:eq(0))'
                                }
                            },
                        ],
                        lengthMenu: [
                                        [ 100, 50, 25, 10, -1 ],
                                        [ '100', '50', '25', '10', 'Todos' ]
                                    ],
                        language: {
                            url: '//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json',
                            buttons: {
                                copy: "Copiar",
                                print: "Imprimir"
                            }
                        }
                    } );

                    getGrillasViajes($('#fechaDeHoy').val());

                    $('#fechaDeHoy').change(function () {
                        getGrillasViajes($('#fechaDeHoy').val());
                    });
                });


                $('#estado_pre_asignado').css( 'cursor', 'pointer' );
                $('#estado_asignado').css( 'cursor', 'pointer' );
                $('#estado_confirmado').css( 'cursor', 'pointer' );
                $('#estado_en_progreso').css( 'cursor', 'pointer' );
                $('#estado_finalizado').css( 'cursor', 'pointer' );
                $('#estado_cerrado').css( 'cursor', 'pointer' );
                $('#estado_cancelado').css( 'cursor', 'pointer' );

                $('#estado_pre_asignado').click(function () {
                    editEstadoViaje('2');
                });

                $('#estado_asignado').click(function () {
                    editEstadoViaje('3');
                });

                $('#estado_confirmado').click(function () {
                    editEstadoViaje('4');
                });

                $('#estado_en_progreso').click(function () {
                    editEstadoViaje('5');
                });

                $('#estado_finalizado').click(function () {
                    editEstadoViaje('6');
                });

                $('#estado_cerrado').click(function () {
                    editEstadoViaje('7');
                });

                $('#estado_cancelado').click(function () {
                    editEstadoViaje('8');
                });

                function editEstadoViaje(estado_seleccionado){
                    var url = "/sistema/editEstadoViaje/";
                    $.ajax({
                       type: "POST",
                       url: url,
                       headers: {'X-CSRFToken': '{{ csrf_token }}'},
                       data: {viaje_seleccionado:viaje_seleccionado, estado_seleccionado:estado_seleccionado},
                       success: function(data)
                       {
                           getGrillasViajesFuturos($('#fechaDeHoy').val());
                           getGrillasViajesEnProgreso($('#fechaDeHoy').val());
                           /*row_seleccionado.context.childNodes[11].innerHTML = '<span class="label label-primary"> Confirmado </span>';
                           row_seleccionado.addClass('selected');*/
                       }
                     });
                }

                function getGrillasViajes(fecha) {
                    getGrillasViajesFuturos(fecha);
                    getGrillasViajesEnProgreso(fecha);
                }

                function getGrillasViajesFuturos(fecha) {
                    var url = "/sistema/getViajesFuturosPorFecha/";
                    $.ajax({
                       type: "POST",
                       url: url,
                       headers: {'X-CSRFToken': '{{ csrf_token }}'},
                       data: {date:fecha,estados_selecionados:estados_selecionados},
                       success: function(data)
                       {
                           $('#cont_futurosViajes').html(data);
                       }
                     });
                }
                function getGrillasViajesEnProgreso(fecha) {
                    var url = "/sistema/getViajesEnProgresoPorFecha/";
                    $.ajax({
                       type: "POST",
                       url: url,
                       headers: {'X-CSRFToken': '{{ csrf_token }}'},
                       data: {date:fecha,estados_selecionados:estados_selecionados},
                       success: function(data)
                       {
                           $('#cont_viajesEnProgreso').html(data);
                       }
                     });
                }
            </script>

        </div>
    </body>

</html>