{% load static %}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="es">
    <!--<![endif]-->
    {% include "sistema/cabecera.html" %}
    <body id="datosCliente" class="page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid page-sidebar-reversed page-sidebar-fixed page-md">
        {% include "sistema/barra_top.html" %}
        <div class="page-container">
            {% include "sistema/barra_lat.html" %}
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                    <div class="page-bar">
                        <ul class="page-breadcrumb">
                            <li>
                                <i class="icon-directions"></i>
                                <a href="/sistema/operaciones/">Operaciones</a>
                                <i class="fa fa-angle-right"></i>
                            </li>
                            <li>
                                <a href="/sistema/listadoProvedor/">Listado de Provedores</a>
                                <i class="fa fa-angle-right"></i>
                            </li>
                            <li>
                                <span>Provedor</span>
                            </li>
                        </ul>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <div class="portlet light ">
                                <div class="portlet-title">
                                    <div class="caption font-blue">
                                        <i class="icon-speedometer font-blue"></i>
                                        <span class="caption-subject bold uppercase">Alta/edición de Persona</span>
                                    </div>
                                    <div class="tools"> </div>
                                </div>
                                <div class="portlet-body">
                                    <form role="form" method="post" id="form-datos-provedor" class="form-datos-provedor" action="/sistema/guardarProvedor/">{% csrf_token %}
                                        <div class="form-body">
                                            <div class="row">
                                                <div class="col-sm-1">
                                                    <div class="form-group form-md-line-input form-md-floating-label">
                                                        <input type="text" class="form-control" id="idProv" name="idProv" value="{{prov.id}}" readonly>
                                                        <label for="idProv">ID</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2">
                                                    <div class="form-group form-md-line-input form-md-floating-label">
                                                        <input type="text" class="form-control" id="provNombre" name="provNombre" value="{{prov.nombre|default_if_none:""}}">
                                                        <label for="provNombre">Nombre</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2">
                                                    <div class="form-group form-md-line-input form-md-floating-label">
                                                        <input type="text" class="form-control" id="provApellido" name="provApellido" value="{{prov.apellido|default_if_none:""}}">
                                                        <label for="provApellido">Apellido</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-1">
                                                    <div class="form-group form-md-line-input form-md-floating-label">
                                                        <input type="text" class="form-control" id="provDNI" name="provDNI" value="{{prov.documento|default_if_none:""}}">
                                                        <label for="provDNI">DNI</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-1">
                                                    <div class="form-group form-md-line-input form-md-floating-label">
                                                        <input type="text" class="form-control" id="provNacimiento" name="provNacimiento" value="{{prov.getNacimiento}}">
                                                        <label for="provNacimiento">Fecha Nac.</label>
                                                    </div>
                                                </div> 
                                                <div class="col-sm-1">
                                                    <div class="form-group form-md-line-input form-md-floating-label">
                                                        <input type="text" class="form-control" id="provTelefono" name="provTelefono" value="{{prov.telefono|default_if_none:""}}">
                                                        <label for="provTelefono">Teléfono</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2">
                                                    <div class="form-group form-md-line-input form-md-floating-label">
                                                        <input type="text" class="form-control" id="provMail" name="provMail" value="{{prov.mail|default_if_none:""}}">
                                                        <label for="provMail">Mail</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2">
                                                    <div class="form-group form-md-line-input">
                                                        <select class="form-control" name="provEstadoCivil" id="provEstadoCivil">
                                                            <option value=""></option>
                                                            {% for e in estadosCivil %}
                                                                <option value="{{ e.id }}">{{ e.estado_civil }}</option>
                                                            {% endfor %}
                                                        </select>
                                                        <label for="provEstadoCivil">Estado civil</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <div class="form-group form-md-line-input form-md-floating-label">
                                                        <input type="text" class="form-control" id="direccion" name="direccion" value="{{prov.direccion|default_if_none:""}}">
                                                        <label for="direccion">Direccion</label>
                                                    </div>
                                                </div>

                                                <div class="col-sm-1">
                                                    <div class="form-group form-md-line-input form-md-floating-label">
                                                        <input type="text" class="form-control" id="cp" name="cp" value="{{prov.cp|default_if_none:""}}">
                                                        <label for="cp">CP</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2">
                                                    <div class="form-group form-md-line-input form-md-floating-label">
                                                        <input type="text" class="form-control" id="localidad" name="localidad" value="{{prov.localidad|default_if_none:""}}">
                                                        <label for="localidad">Localidad</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2">
                                                    <div class="form-group form-md-line-input form-md-floating-label">
                                                        <input type="text" class="form-control" id="provincia" name="provincia" value="{{prov.provincia|default_if_none:""}}">
                                                        <label for="provincia">Provincia</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2">
                                                    <div class="form-group form-md-line-input">
                                                        <select class="form-control" id="provTipoPersona" name="provTipoPersona" disabled>
                                                            <option value=""></option>
                                                            <option value="1">Solicitante</option>
                                                            <option value="2">Pasajero</option>
                                                        </select>
                                                        <label for="tipoPersona">Tipo de persona</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-actions noborder flex">
                                            <button type="button" onclick="guardarProvedor();" class="btn btn-outline green mg-r-10">Guardar</button>
                                            <button type="button" class="btn btn-outline red">Cancelar</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- END EXAMPLE TABLE PORTLET-->
                        </div>
                    </div>

                </div>
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
            <!-- BEGIN QUICK SIDEBAR -->
            <!-- END QUICK SIDEBAR -->
        </div>
        <!-- END CONTAINER -->
        {% include "sistema/footer.html" %}

            <!-- SCRIPTS PROPIOS DE ESTA VISTA -->
            <script>
                $(document).ready(function(){
                    var getUrlParameter = function getUrlParameter(sParam) {
                        var sPageURL = window.location.search.substring(1),
                            sURLVariables = sPageURL.split('&'),
                            sParameterName,
                            i;

                        for (i = 0; i < sURLVariables.length; i++) {
                            sParameterName = sURLVariables[i].split('=');

                            if (sParameterName[0] === sParam) {
                                return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
                            }
                        }
                    };
                    var idProv = getUrlParameter('idProv');
                    $(document).prop('title', 'Persona '+ idProv+' - Central LT');

                    $('#tablaUnidadesProvedor').DataTable( {
                        responsive: true,
                        // scrollY: 200,
                        order: [[ 3, "asc" ]],
                        lengthMenu: [
                                        [ 100, 50, 25, 10, -1 ],
                                        [ '100', '50', '25', '10', 'Todos' ]
                                    ],
                        language: {
                            url: '//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json'
                        },
                    } );


                    $('#tablaLicenciasProvedor').DataTable( {
                        responsive: true,
                        // scrollY: 200,
                        order: [[ 3, "asc" ]],
                        lengthMenu: [
                                        [ 100, 50, 25, 10, -1 ],
                                        [ '100', '50', '25', '10', 'Todos' ]
                                    ],
                        language: {
                            url: '//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json'
                        },
                    } );

                    $('#tablaListadoFacturasProvedor').DataTable( {
                        responsive: true,
                        // scrollY: 200,
                        order: [[ 1, "asc" ]],
                        lengthMenu: [
                                        [ 100, 50, 25, 10, -1 ],
                                        [ '100', '50', '25', '10', 'Todos' ]
                                    ],
                        language: {
                            url: '//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json'
                        },
                    } );

                    $('#tablaMailProvedores').DataTable( {
                        responsive: true,
                        // scrollY: 200,
                        order: [[ 0, "asc" ]],
                        lengthMenu: [
                                        [ 100, 50, 25, 10, -1 ],
                                        [ '100', '50', '25', '10', 'Todos' ]
                                    ],
                        language: {
                            url: '//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json'
                        },
                    } );

                    $('#tablaObservacionProvedores').DataTable( {
                        responsive: true,
                        // scrollY: 200,
                        order: [[ 0, "asc" ]],
                        lengthMenu: [
                                        [ 100, 50, 25, 10, -1 ],
                                        [ '100', '50', '25', '10', 'Todos' ]
                                    ],
                        language: {
                            url: '//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json'
                        },
                    } );

                    $('#provNacimiento').datepicker({
                        language: 'es',
                        dateFormat: 'dd/mm/yy',
                        todayHighlight: true,
                        autoclose: true
                    });

                    if ('{{ prov.estado_civil }}' != ""){
                        $('#provEstadoCivil').val({{ prov.estado_civil.id }});
                    }
                    if ('{{ prov.tipo_persona }}' != ""){
                        $('#provTipoPersona').val({{ prov.tipo_persona.id }});
                    }
                    
                    if ($('#idProv').val() == "0"){
                        $('#provTipoPersona').prop('disabled', false);
                    }

                });
                
                function guardarProvedor(){
                    if ($("#provNombre").val() == ""){
                        alert("El campo Nombre es obligatorio.");
                        return false;
                    }

                    if ($("#provApellido").val() == ""){
                        alert("El campo Apellido es obligatorio.");
                        return false;
                    }
                    $("#form-datos-provedor").submit();
                }

                function agregarObservacion(){
                    if ($('#textAreaObservacion').val() == ""){
                        alert("El campo 'Observación' es obligatorio");
                    }else{
                        var url = "/sistema/guardarObservacionPersona/";
                        $.ajax({
                            type: "POST",
                            url: url,
                            data: $("#form-datos-provedor-observacion").serialize(),
                            success: function(data){
                                $("#grillaObservaciones").html(data);
                            }
                        });
                        $('#add_observacion_provedor').modal('toggle');
                    }
                }
            </script>

        </div>
    </body>

</html>