<select class="form-control select2me" id="solicitantes" name="solicitantes" multiple="multiple">
    <option value=""></option>
    {% for valor in solicitantes %}
        <option value="{{valor}}">{{valor}}</option>
    {% endfor %}
  </select>
  <label for="solicitantes">Solicitante</label>
  <script>
    $(document).ready(function(){
        $("#solicitantes").select2({
            placeholder: "Seleccionar Solicitante",
            allowClear: true,
            dropdownAutoWidth : true,
            width: 'auto'
        });
    });
</script>    