<select class="form-control select2me" id="factura" name="factura" multiple="multiple">
    <option value=""></option>
    <option value="0">Sin factura</option>
    {% for valor in facturas %}
    <option value="{{valor}}">{{valor}}</option>
    {% endfor %}
  </select>
  <label for="factura">Factura</label>
  <script>
    $(document).ready(function(){
        $("#factura").select2({
            placeholder: "Seleccionar Nro. Factura",
            allowClear: true,
            dropdownAutoWidth : true,
            width: 'auto'
        });
    });
</script>    