<input type="hidden" id="idTarifaTrayecto" name="idTarifaTrayecto" value="{{ tramoTarifa.id }}">
<div id="add_tramo_tarifario" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title" style="color:#888;">Agregar Tramo</h4>
            </div>
            <div class="modal-body">
                <div class="scroller" style="height:230px" data-always-visible="1" data-rail-visible1="1">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group form-md-line-input">
                                <select class="form-control select2me" id="localidadDesde" name="localidadDesde" onchange="validarTarifaTrayecto();">
                                    <option selected value="">Seleccionar Desde</option>
                                    {% for i in localidades %}
                                        {% if i.0 == idDesde %}
                                            <option selected value="{{ i.0 }}" >{{ i.1 }}</option>
                                        {% else %}
                                            <option value="{{ i.0 }}" >{{ i.1 }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                <label for="localidadDesde">Desde</label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group form-md-line-input">
                                <select class="form-control select2me" id="localidadHasta" name="localidadHasta" onchange="validarTarifaTrayecto();">
                                    <option value="">Seleccionar Hasta</option>
                                    {% for i in localidades %}
                                        {% if i.0 == idHasta %}
                                            <option selected value="{{ i.0 }}" >{{ i.1 }}</option>
                                        {% else %}
                                            <option value="{{ i.0 }}" >{{ i.1 }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                <label for="localidadHasta">Hasta</label>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group form-md-line-input form-md-floating-label">
                                <input type="text" class="form-control" id="tramo1" name="tramo1" value="{{ tramoTarifa|get_tarifa_by_cat:1 }}">
                                <label for="tramo1">STD</label>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group form-md-line-input form-md-floating-label">
                                <input type="text" class="form-control" id="tramo2" name="tramo2" value="{{ tramoTarifa|get_tarifa_by_cat:2 }}">
                                <label for="tramo2">VIP</label>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group form-md-line-input form-md-floating-label">
                                <input type="text" class="form-control" id="tramo3" name="tramo3" value="{{ tramoTarifa|get_tarifa_by_cat:3 }}">
                                <label for="tramo3">UTI</label>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group form-md-line-input form-md-floating-label">
                                <input type="text" class="form-control" id="tramo4" name="tramo4" value="{{ tramoTarifa|get_tarifa_by_cat:4 }}">
                                <label for="tramo4">EJEC</label>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group form-md-line-input form-md-floating-label">
                                <input type="text" class="form-control" id="tramo5" name="tramo5" value="{{ tramoTarifa|get_tarifa_by_cat:5 }}">
                                <label for="tramo5">VAN-C</label>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group form-md-line-input form-md-floating-label">
                                <input type="text" class="form-control" id="tramo6" name="tramo6" value="{{ tramoTarifa|get_tarifa_by_cat:6 }}">
                                <label for="tramo6">VAN-L</label>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group form-md-line-input form-md-floating-label">
                                <input type="text" class="form-control" id="tramo7" name="tramo7" value="{{ tramoTarifa|get_tarifa_by_cat:7 }}">
                                <label for="tramo7">MINI</label>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group form-md-line-input form-md-floating-label">
                                <input type="text" class="form-control" id="tramo8" name="tramo8" value="{{ tramoTarifa|get_tarifa_by_cat:8 }}">
                                <label for="tramo8">BUS</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer noborder flex">
                <button type="button" onclick="guardarTarifaTrayecto();" class="btn green">Guardar</button>
                <button type="button" class="btn red" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        $("#localidadDesde").select2({
            placeholder: "Seleccionar Desde",
            allowClear: true,
            dropdownAutoWidth : true,
            width: 'auto'
        });
        $("#localidadHasta").select2({
            placeholder: "Seleccionar Hasta",
            allowClear: true,
            dropdownAutoWidth : true,
            width: 'auto'
        });

        if ($("#idTarifaTrayecto").val() != "0"){
            $("#localidadDesde").prop('disabled', 'disabled');
            $("#localidadHasta").prop('disabled', 'disabled');
        }
    });
</script> 