<!-- <div style="width:158px;margin:0 auto;padding-top: 40px;">
    <span class="input-group-btn btn">
        <a data-toggle="modal" class="btn blue" href="#add_tramo">Agregar Tramo</a>
    </span>
</div> -->
<!-- /.modal -->
<input type="hidden" id="idTarifaExtra" name="idTarifaExtra" value="{{ tarifaExtra.id }}">
<div id="add_extra_tarifario" class="modal fade" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title" style="color:#888;">Agregar Extra</h4>
                </div>
                <div class="modal-body">
                    <div class="scroller" style="height:330px" data-always-visible="1" data-rail-visible1="1">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group form-md-line-input form-md-floating-label">
                                    <input type="text" class="form-control" id="extraName" name="extraName" value="{{tarifaExtra.extra_descripcion}}">
                                    <label for="extraName">Extra</label>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group form-md-line-input form-md-floating-label">
                                    <input type="text" class="form-control" id="tramoSTD" name="extra1" value="{{ tarifaExtra|get_tarifa_extra_by_cat:1 }}">
                                    <label for="tramoSTD">STD</label>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group form-md-line-input form-md-floating-label">
                                    <input type="text" class="form-control" id="tramoVIP" name="extra2" value="{{ tarifaExtra|get_tarifa_extra_by_cat:2 }}">
                                    <label for="tramoVIP">VIP</label>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group form-md-line-input form-md-floating-label">
                                    <input type="text" class="form-control" id="tramoUTI" name="extra3" value="{{ tarifaExtra|get_tarifa_extra_by_cat:3 }}">
                                    <label for="tramoUTI">UTI</label>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group form-md-line-input form-md-floating-label">
                                    <input type="text" class="form-control" id="tramoEJEC" name="extra4" value="{{ tarifaExtra|get_tarifa_extra_by_cat:4 }}">
                                    <label for="tramoEJEC">EJEC</label>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group form-md-line-input form-md-floating-label">
                                    <input type="text" class="form-control" id="extra5" name="extra5" value="{{ tarifaExtra|get_tarifa_extra_by_cat:5 }}">
                                    <label for="extra5">VAN-C</label>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group form-md-line-input form-md-floating-label">
                                    <input type="text" class="form-control" id="extra6" name="extra6" value="{{ tarifaExtra|get_tarifa_extra_by_cat:6 }}">
                                    <label for="extra6">VAN-L</label>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group form-md-line-input form-md-floating-label">
                                    <input type="text" class="form-control" id="extra7" name="extra7" value="{{ tarifaExtra|get_tarifa_extra_by_cat:7 }}">
                                    <label for="extra7">MINI</label>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group form-md-line-input form-md-floating-label">
                                    <input type="text" class="form-control" id="extra8" name="extra8" value="{{ tarifaExtra|get_tarifa_extra_by_cat:8 }}">
                                    <label for="extra8">BUS</label>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group form-md-line-input form-md-floating-label">
                                    <input type="text" class="form-control" id="extra9" name="extra9" value="{{ tarifaExtra|get_tarifa_extra_by_cat:9 }}">
                                    <label for="extra9">BUS DP</label>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group form-md-line-input form-md-floating-label">
                                    <input type="text" class="form-control" id="extra10" name="extra10" value="{{ tarifaExtra|get_tarifa_extra_by_cat:10 }}">
                                    <label for="extra10">LIMO/BLIN</label>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group form-md-line-input form-md-floating-label">
                                    <input type="text" class="form-control" id="extra11" name="extra11" value="{{ tarifaExtra|get_tarifa_extra_by_cat:11 }}">
                                    <label for="extra11">FLETE</label>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group form-md-line-input form-md-floating-label">
                                    <input type="text" class="form-control" id="extra12" name="extra12" value="{{ tarifaExtra|get_tarifa_extra_by_cat:12 }}">
                                    <label for="extra12">MSJ</label>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group form-md-line-input form-md-floating-label">
                                    <input type="text" class="form-control" id="extra13" name="extra13" value="{{ tarifaExtra|get_tarifa_extra_by_cat:13 }}">
                                    <label for="extra13">VIANDA</label>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group form-md-line-input form-md-floating-label">
                                    <input type="text" class="form-control" id="extra14" name="extra14" value="{{ tarifaExtra|get_tarifa_extra_by_cat:14 }}">
                                    <label for="extra14">GUIA/COORD</label>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group form-md-line-input form-md-floating-label">
                                    <input type="text" class="form-control" id="extra15" name="extra15" value="{{ tarifaExtra|get_tarifa_extra_by_cat:15 }}">
                                    <label for="extra15">VIATICO</label>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group form-md-line-input form-md-floating-label">
                                    <input type="text" class="form-control" id="extra16" name="extra16" value="{{ tarifaExtra|get_tarifa_extra_by_cat:16 }}">
                                    <label for="extra16">REGULAR</label>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group form-md-line-input form-md-floating-label">
                                    <input type="text" class="form-control" id="extra17" name="extra17" value="{{ tarifaExtra|get_tarifa_extra_by_cat:17 }}">
                                    <label for="extra17">H1</label>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group form-md-line-input form-md-floating-label">
                                    <input type="text" class="form-control" id="extra18" name="extra18" value="{{ tarifaExtra|get_tarifa_extra_by_cat:18 }}">
                                    <label for="extra18">MB</label>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group form-md-line-input form-md-floating-label">
                                    <input type="text" class="form-control" id="extra19" name="extra19" value="{{ tarifaExtra|get_tarifa_extra_by_cat:19 }}">
                                    <label for="extra19">VIANO</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer noborder flex">
                    <button type="button" onclick="guardarTarifaExtra();" class="btn green">Guardar</button>
                    <button type="button" class="btn red" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>