{% load static %}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="es">
    <!--<![endif]-->
    {% include "sistema/cabecera.html" %}
    <link href="{% static 'css/viajeStyle.css' %}" rel="stylesheet" type="text/css" />
    <!-- <link href="{% static 'css/select2.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/select2-bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/jquery.fancybox.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/bootstrap-fileinput.min.css' %}" rel="stylesheet" type="text/css" /> -->
    <style>
        .tabbable-line > .tab-content {
                padding: 10px 0!important;
        }
        .disabled-select {
           background-color:#d5d5d5;
           opacity:0.5;
           border-radius:3px;
           cursor:not-allowed;
           position:absolute;
           top:0;
           bottom:0;
           right:0;
           left:0;
        }
    </style>
    <body id="viajes" class="page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid page-sidebar-reversed page-sidebar-fixed page-md">
    {% include "sistema/barra_top.html" %}
        <div class="page-container">

            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper clearfix">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                    <div class="page-bar">
                        <ul class="page-breadcrumb">
                            <li>
                                <i class="icon-home"></i>
                                <a href="/sistema/operaciones/">Operaciones</a>
                                <i class="fa fa-angle-right"></i>
                            </li>
                            <li>
                                <span>Viaje</span>
                            </li>
                        </ul>
                    </div>
                    <div class="row">
                        <div class="col-md-12 pd-l-5 pd-r-5">
                            <div class="portlet light ">
                                <div class="portlet-title">
                                    <div class="caption font-green" style="display: flex; align-items: baseline; flex-flow: wrap;">
                                        <span class="caption-subject bold uppercase mg-b-5 mg-r-20" id="viaje_titulo"><i class="icon-rocket font-green mg-r-5"></i>RESUMEN DE ACTIVIDAD</span>
                                    </div>
                                    <div class="tools"></div>
                                </div>
                                <div class="portlet-body">
                                    <form role="form" method="post" id="formPeriodoUnidad" action="">
                                        <div class="row flex align-i-center">
                                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                                                <div class="form-body">
                                                    <div class="form-group mg-b-10">
                                                        <label class="control-label mg-b-0" style="color: #888;">Período</label>
                                                        <div class="input-group date-picker input-daterange" data-date-format="dd/mm/yyyy">
                                                          <input type="text" class="form-control" name="periodo_desde" id="periodo_desde" value="">
                                                          <span class="input-group-addon" style="font-size: 10px;"> hasta </span>
                                                          <input type="text" class="form-control" name="periodo_hasta" id="periodo_hasta" value="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-6 col-md-8 col-lg-9">
                                                <div class="form-actions noborder">
                                                    <button type="button" onclick="buscar();" class="btn green mg-r-10">Buscar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <hr>
                                    <div id="details" class="row">
                                        <div class="col-sm-4 col-xs-12">
                                            <div class="dashboard-stat2 ">
                                                <div class="display">
                                                    <div class="number">
                                                        <p class="big bold font-green-jungle">
                                                            <span class="font-green-jungle">$</span>
                                                            <span data-counter="counterup" data-value="25.000">0</span>
                                                        </p>
                                                        <small>RECAUDADO</small>
                                                    </div>
                                                    <div class="icon">
                                                        <i class="icon-wallet"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-xs-12">
                                            <div class="dashboard-stat2 ">
                                                <div class="display">
                                                    <div class="number">
                                                        <p class="big bold font-green-meadow">
                                                            <span class="font-green-meadow">$</span>
                                                            <span data-counter="counterup" data-value="1.000">0</span>
                                                        </p>
                                                        <small>PROMEDIO POR DÍA</small>
                                                    </div>
                                                    <div class="icon">
                                                        <i class="icon-pie-chart"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-xs-12">
                                            <div class="dashboard-stat2 ">
                                                <div class="display">
                                                    <div class="number">
                                                        <p class="big bold font-green-dark">
                                                            <span class="font-green-dark">$</span>
                                                            <span data-counter="counterup" data-value="500">0</span>
                                                        </p>
                                                        <small>PROMEDIO POR VIAJE</small>
                                                    </div>
                                                    <div class="icon">
                                                        <i class="icon-bar-chart"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-xs-12">
                                            <div class="dashboard-stat2 ">
                                                <div class="display">
                                                    <div class="number">
                                                        <p class="big bold font-red-haze">
                                                            <span class="font-red-haze">$</span>
                                                            <span data-counter="counterup" data-value="10.000">0</span>
                                                        </p>
                                                        <small>ADELANTOS</small>
                                                    </div>
                                                    <div class="icon">
                                                        <i class="icon-credit-card"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-xs-12">
                                            <div class="dashboard-stat2 ">
                                                <div class="display">
                                                    <div class="number">
                                                        <p class="big bold font-blue-sharp">
                                                            <span data-counter="counterup" data-value="30">0</span>
                                                        </p>
                                                        <small>VIAJES REALIZADOS</small>
                                                    </div>
                                                    <div class="icon">
                                                        <i class="icon-rocket"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-xs-12">
                                            <div class="dashboard-stat2 ">
                                                <div class="display">
                                                    <div class="number">
                                                        <p class="big bold font-purple-soft">
                                                            <span data-counter="counterup" data-value="15">0</span>
                                                        </p>
                                                        <small>DÍAS TRABAJADOS</small>
                                                    </div>
                                                    <div class="icon">
                                                        <i class="icon-calendar"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END EXAMPLE TABLE PORTLET-->
                        </div>
                    </div>
                </div>
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
            <!-- BEGIN QUICK SIDEBAR -->
            <!-- END QUICK SIDEBAR -->
        </div>
        <!-- END CONTAINER -->

        <div id="prueba"></div>

        {% include "sistema/footer.html" %}
        
        <script src="{% static 'js/jquery.waypoints.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/jquery.counterup.min.js' %}" type="text/javascript"></script>
        <script>
            $(document).ready(function(){
                $(document).prop('title', 'Dashboard Unidad - Central LT');
                var d = new Date();
                var currMonth = d.getMonth();
                var currYear = d.getFullYear();
                var startDate = new Date(currYear,currMonth,1);
                
                $('#periodo_desde').datepicker({
                    language: 'es',
                    dateFormat: 'dd/mm/yy',
                    // todayBtn: true,
                    todayHighlight: true,
                    autoclose: true
                });
                $('#periodo_desde').datepicker('setDate',startDate);

                var endDate = new Date(currYear,currMonth+1,0);
                $('#periodo_hasta').datepicker({
                    language: 'es',
                    dateFormat: 'dd/mm/yy',
                    // todayBtn: true,
                    todayHighlight: true,
                    autoclose: true
                });
                $('#periodo_hasta').datepicker('setDate',endDate);

                buscar();

            });

            function buscar(){
                if ($('#periodo_desde').val() == ""){
                    alert("El campo Fecha desde es obligatorio.")
                    return false;
                }
                if ($('#periodo_hasta').val() == ""){
                    alert("El campo Fecha hasta es obligatorio.")
                    return false;
                }

                desde = $('#periodo_desde').val().substring(6,10) + $('#periodo_desde').val().substring(3,5) + $('#periodo_desde').val().substring(0,2);
                hasta = $('#periodo_hasta').val().substring(6,10) + $('#periodo_hasta').val().substring(3,5) + $('#periodo_hasta').val().substring(0,2);

                if (desde.localeCompare(hasta) == 1 ){
                    alert("La fecha desde no puede ser mayor a la fecha hasta.")
                    return false;
                }

                var params = "&desde="+$("#periodo_desde").val();
                params += "&hasta="+$("#periodo_hasta").val();

                var url = "/sistema/refreshUnidadDashboard/";
                $.ajax({
                    type: "POST",
                    url: url,
                    headers: {'X-CSRFToken': '{{ csrf_token }}'},
                    data: params,
                    success: function(data){
                        $("#details").html(data)
                    }
                });
            }

        </script>
        
    </body>
</html>