{% load static %}
<div class="col-sm-4 col-xs-12">
    <div class="dashboard-stat2 ">
        <div class="display">
            <div class="number">
                <p class="big bold font-green-jungle">
                    <span class="font-green-jungle">$</span>
                    <span">{{ recaudado }}</span>
                </p>
                <small>RECAUDADO</small>
            </div>
            <div class="icon">
                <i class="icon-wallet"></i>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-4 col-xs-12">
    <div class="dashboard-stat2 ">
        <div class="display">
            <div class="number">
                <p class="big bold font-green-meadow">
                    <span class="font-green-meadow">$</span>
                    <span>{{ promedio_dia|floatformat:"0" }}</span>
                </p>
                <small>PROMEDIO POR DÍA</small>
            </div>
            <div class="icon">
                <i class="icon-pie-chart"></i>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-4 col-xs-12">
    <div class="dashboard-stat2 ">
        <div class="display">
            <div class="number">
                <p class="big bold font-green-dark">
                    <span class="font-green-dark">$</span>
                    <span>{{ promedio_viaje|floatformat:"0" }}</span>
                </p>
                <small>PROMEDIO POR VIAJE</small>
            </div>
            <div class="icon">
                <i class="icon-bar-chart"></i>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-4 col-xs-12">
    <div class="dashboard-stat2 ">
        <div class="display">
            <div class="number">
                <p class="big bold font-red-haze">
                    <span class="font-red-haze">$</span>
                    <span>{{ adelantos }}</span>
                </p>
                <small>ADELANTOS</small>
            </div>
            <div class="icon">
                <i class="icon-credit-card"></i>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-4 col-xs-12">
    <div class="dashboard-stat2 ">
        <div class="display">
            <div class="number">
                <p class="big bold font-blue-sharp">
                    <span>{{ cantidad_viajes }}</span>
                </p>
                <small>VIAJES REALIZADOS</small>
            </div>
            <div class="icon">
                <i class="icon-rocket"></i>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-4 col-xs-12">
    <div class="dashboard-stat2 ">
        <div class="display">
            <div class="number">
                <p class="big bold font-purple-soft">
                    <span>{{ dias_trabajados }}</span>
                </p>
                <small>DÍAS TRABAJADOS</small>
            </div>
            <div class="icon">
                <i class="icon-calendar"></i>
            </div>
        </div>
    </div>
</div>