{% load static %}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
    <!--<![endif]-->
    {% include "sistema/cabecera.html" %}
    <body class="page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid page-sidebar-reversed page-sidebar-fixed page-md">
        {% include "sistema/barra_top.html" %}
        <!-- BEGIN HEADER & CONTENT DIVIDER -->
        <div class="clearfix"> </div>
        <!-- END HEADER & CONTENT DIVIDER -->
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            {% include "sistema/barra_lat.html" %}
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                  <div class="page-bar">
                        <ul class="page-breadcrumb">
                            <li>
                                <i class="icon-directions"></i>
                                <a href="/sistema/operaciones/">Operaciones</a>
                                <i class="fa fa-angle-right"></i>
                            </li>
                            <li>
                                <span>Usuario</span>
                            </li>
                        </ul>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <!-- BEGIN PROFILE SIDEBAR -->
                            <div class="profile-sidebar">
                                <!-- PORTLET MAIN -->
                                <div class="portlet light profile-sidebar-portlet ">
                                    <!-- SIDEBAR USERPIC -->
                                    <div class="profile-userpic">
                                        <img src="{% static 'img/profile.jpg' %}" class="img-responsive" alt=""> </div>
                                    <!-- END SIDEBAR USERPIC -->
                                    <!-- SIDEBAR USER TITLE -->
                                    <div class="profile-usertitle">
                                        <div class="profile-usertitle-name"> Juan Perez </div>
                                        <div class="profile-usertitle-job"> Operador </div>
                                    </div>
                                    <!-- END SIDEBAR USER TITLE -->
                                    <!-- SIDEBAR BUTTONS -->
                                    <!-- <div class="profile-userbuttons">
                                        <button type="button" class="btn btn-circle green btn-sm">Follow</button>
                                        <button type="button" class="btn btn-circle red btn-sm">Message</button>
                                    </div> -->
                                    <!-- END SIDEBAR BUTTONS -->
                                    <!-- SIDEBAR MENU -->
                                    <div class="profile-usermenu">
                                        <ul class="nav">
                                            <li class="active">
                                                <a href="/sistema/usuario/"><i class="icon-settings"></i> Configuración </a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="icon-info"></i> Ayuda </a>
                                            </li>
                                            <li>
                                                <a href="/accounts/login/"><i class="icon-key"></i> Salir </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- END MENU -->
                                </div>
                                <!-- END PORTLET MAIN -->
                                <!-- PORTLET MAIN -->
                                <!-- <div class="portlet light "> -->
                                    <!-- STAT -->
                                    <!-- <div class="row list-separated profile-stat">
                                        <div class="col-md-4 col-sm-4 col-xs-6">
                                            <div class="uppercase profile-stat-title"> 37 </div>
                                            <div class="uppercase profile-stat-text"> Projects </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4 col-xs-6">
                                            <div class="uppercase profile-stat-title"> 51 </div>
                                            <div class="uppercase profile-stat-text"> Tasks </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4 col-xs-6">
                                            <div class="uppercase profile-stat-title"> 61 </div>
                                            <div class="uppercase profile-stat-text"> Uploads </div>
                                        </div>
                                    </div> -->
                                    <!-- END STAT -->
                                    <!-- <div>
                                        <h4 class="profile-desc-title">About Marcus Doe</h4>
                                        <span class="profile-desc-text"> Lorem ipsum dolor sit amet diam nonummy nibh dolore. </span>
                                        <div class="margin-top-20 profile-desc-link">
                                            <i class="fa fa-globe"></i>
                                            <a href="http://www.keenthemes.com">www.keenthemes.com</a>
                                        </div>
                                        <div class="margin-top-20 profile-desc-link">
                                            <i class="fa fa-twitter"></i>
                                            <a href="http://www.twitter.com/keenthemes/">@keenthemes</a>
                                        </div>
                                        <div class="margin-top-20 profile-desc-link">
                                            <i class="fa fa-facebook"></i>
                                            <a href="http://www.facebook.com/keenthemes/">keenthemes</a>
                                        </div>
                                    </div> -->
                                <!-- </div> -->
                                <!-- END PORTLET MAIN -->
                            </div>
                            <!-- END BEGIN PROFILE SIDEBAR -->
                            <!-- BEGIN PROFILE CONTENT -->
                            <div class="profile-content">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="portlet light ">
                                            <div class="portlet-title tabbable-line">
                                                <div class="caption caption-md">
                                                    <i class="icon-globe theme-font hide"></i>
                                                    <span class="caption-subject font-blue-madison bold uppercase">Perfil</span>
                                                </div>
                                                <ul class="nav nav-tabs">
                                                    <li class="active">
                                                        <a href="#tab_1_1" data-toggle="tab">Datos Personales</a>
                                                    </li>
                                                    <li>
                                                        <a href="#tab_1_2" data-toggle="tab">Configuración de Operaciones</a>
                                                    </li>
                                                    <li>
                                                        <a href="#tab_1_3" data-toggle="tab">Contraseña</a>
                                                    </li>
                                                    <li>
                                                        <a href="#tab_1_4" data-toggle="tab">Avatar</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="portlet-body">
                                                <div class="tab-content">
                                                    <div class="tab-pane active" id="tab_1_1">
                                                        <form role="form" action="#">
                                                            <div class="form-group">
                                                                <label class="control-label">Nombre</label>
                                                                <input type="text" value="Juan" class="form-control" />
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="control-label">Apellido</label>
                                                                <input type="text" value="Perez" class="form-control" />
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="control-label">Celular</label>
                                                                <input type="text" value="112 345 6789" class="form-control" />
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="control-label">E-mail</label>
                                                                <input type="text" value="juanperez@gmail.com" class="form-control" />
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="control-label">Ocupación</label>
                                                                <input type="text" placeholder="Estudiante" class="form-control" />
                                                            </div>
                                                            <div class="margiv-top-10 flex flex-j-between">
                                                                <button type="submit" href="#" class="btn green"> Guardar </button>
                                                                <button type="button" href="#" class="btn red"> Cancelar </button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <div class="tab-pane" id="tab_1_2">
                                                        <form action="#">
                                                            <div class="form-body">
                                                              <div class="row">
                                                                  <div class="col-xs-9">
                                                                    <p class="mg-0"><b>Campo</b></p>
                                                                  </div>
                                                                  <div class="col-xs-3">
                                                                    <p class="mg-0"><b>N° de orden</b></p>
                                                                  </div>
                                                                  <div class="col-xs-9">
                                                                      <div class="mg-b-0 pd-t-5 form-group form-md-line-input form-md-floating-label">
                                                                          <input type="text" disabled="disabled" class="form-control" id="campoNumReserva" name="campoNumReserva" value="N° Reserva">
                                                                          <!-- <label for="campoNumReserva">Campo</label> -->
                                                                      </div>
                                                                  </div>
                                                                  <div class="col-xs-3">
                                                                      <div class="mg-b-0 pd-t-5 form-group form-md-line-input">
                                                                        <select class="form-control" id="ordenCampoNumReserva" name="ordenCampoNumReserva">
                                                                            <!-- <option value="0" disabled>Elija uno</option> -->
                                                                            <option value="1" selected >1</option>
                                                                            <option value="2" >2</option>
                                                                            <option value="3" >3</option>
                                                                            <option value="4" >4</option>
                                                                        </select>
                                                                        <!-- <label for="ordenCampoNumReserva">N° de orden</label> -->
                                                                    </div>
                                                                  </div>
                                                              </div>
                                                              <div class="row">
                                                                  <div class="col-xs-9">
                                                                      <div class="mg-b-0 pd-t-5 form-group form-md-line-input form-md-floating-label">
                                                                          <input type="text" disabled="disabled" class="form-control" id="campoCatViaje" name="campoCatViaje" value="Categoría de viaje">
                                                                          <!-- <label for="campoCatViaje">Campo</label> -->
                                                                      </div>
                                                                  </div>
                                                                  <div class="col-xs-3">
                                                                      <div class="mg-b-0 pd-t-5 form-group form-md-line-input">
                                                                        <select class="form-control" id="ordenCampoCatViaje" name="ordenCampoCatViaje">
                                                                            <!-- <option value="0" disabled>Elija uno</option> -->
                                                                            <option value="1" >1</option>
                                                                            <option value="2" selected >2</option>
                                                                            <option value="3" >3</option>
                                                                            <option value="4" >4</option>
                                                                        </select>
                                                                        <!-- <label for="ordenCampoCatViaje">N° de orden</label> -->
                                                                    </div>
                                                                  </div>
                                                              </div>
                                                              <div class="row">
                                                                  <div class="col-xs-9">
                                                                      <div class="mg-b-0 pd-t-5 form-group form-md-line-input form-md-floating-label">
                                                                          <input type="text" disabled="disabled" class="form-control" id="campoFecha" name="campoFecha" value="Fecha">
                                                                          <!-- <label for="campoFecha">Campo</label> -->
                                                                      </div>
                                                                  </div>
                                                                  <div class="col-xs-3">
                                                                      <div class="mg-b-0 pd-t-5 form-group form-md-line-input">
                                                                        <select class="form-control" id="ordenCampoFecha" name="ordenCampoFecha">
                                                                            <!-- <option value="0" disabled>Elija uno</option> -->
                                                                            <option value="1" >1</option>
                                                                            <option value="2" >2</option>
                                                                            <option value="3" selected >3</option>
                                                                            <option value="4" >4</option>
                                                                        </select>
                                                                        <!-- <label for="ordenCampoFecha">N° de orden</label> -->
                                                                    </div>
                                                                  </div>
                                                              </div>
                                                              <div class="row">
                                                                  <div class="col-xs-9">
                                                                      <div class="mg-b-0 pd-t-5 form-group form-md-line-input form-md-floating-label">
                                                                          <input type="text" disabled="disabled" class="form-control" id="campoHora" name="campoHora" value="Hora">
                                                                          <!-- <label for="campoHora">Campo</label> -->
                                                                      </div>
                                                                  </div>
                                                                  <div class="col-xs-3">
                                                                      <div class="mg-b-0 pd-t-5 form-group form-md-line-input">
                                                                        <select class="form-control" id="ordenCampoHora" name="ordenCampoHora">
                                                                            <!-- <option value="0" disabled>Elija uno</option> -->
                                                                            <option value="1" >1</option>
                                                                            <option value="2" >2</option>
                                                                            <option value="3" >3</option>
                                                                            <option value="4" selected >4</option>
                                                                        </select>
                                                                        <!-- <label for="ordenCampoHora">N° de orden</label> -->
                                                                    </div>
                                                                  </div>
                                                              </div>
                                                              <div class="row">
                                                                  <div class="col-xs-9">
                                                                      <div class="mg-b-0 pd-t-5 form-group form-md-line-input form-md-floating-label">
                                                                          <input type="text" disabled="disabled" class="form-control" id="campoHoraEstimada" name="campoHoraEstimada" value="Hora Estimada">
                                                                          <!-- <label for="campoNumReserva">Campo</label> -->
                                                                      </div>
                                                                  </div>
                                                                  <div class="col-xs-3">
                                                                      <div class="mg-b-0 pd-t-5 form-group form-md-line-input">
                                                                        <select class="form-control" id="ordenCampoHoraEstimada" name="ordenCampoHoraEstimada">
                                                                            <!-- <option value="0" disabled>Elija uno</option> -->
                                                                            <option value="5" selected >5</option>
                                                                            <option value="2" >2</option>
                                                                            <option value="3" >3</option>
                                                                            <option value="4" >4</option>
                                                                        </select>
                                                                        <!-- <label for="ordenCampoNumReserva">N° de orden</label> -->
                                                                    </div>
                                                                  </div>
                                                              </div>
                                                              <div class="row">
                                                                  <div class="col-xs-9">
                                                                      <div class="mg-b-0 pd-t-5 form-group form-md-line-input form-md-floating-label">
                                                                          <input type="text" disabled="disabled" class="form-control" id="campoEstado" name="campoEstado" value="Estado">
                                                                          <!-- <label for="campoNumReserva">Campo</label> -->
                                                                      </div>
                                                                  </div>
                                                                  <div class="col-xs-3">
                                                                      <div class="mg-b-0 pd-t-5 form-group form-md-line-input">
                                                                        <select class="form-control" id="ordenCampoEstado" name="ordenCampoEstado">
                                                                            <!-- <option value="0" disabled>Elija uno</option> -->
                                                                            <option value="6" selected >6</option>
                                                                            <option value="2" >2</option>
                                                                            <option value="3" >3</option>
                                                                            <option value="4" >4</option>
                                                                        </select>
                                                                        <!-- <label for="ordenCampoNumReserva">N° de orden</label> -->
                                                                    </div>
                                                                  </div>
                                                              </div>
                                                              <div class="row">
                                                                  <div class="col-xs-9">
                                                                      <div class="mg-b-0 pd-t-5 form-group form-md-line-input form-md-floating-label">
                                                                          <input type="text" disabled="disabled" class="form-control" id="campoNumUnidad" name="campoNumUnidad" value="N° Unidad">
                                                                          <!-- <label for="campoNumReserva">Campo</label> -->
                                                                      </div>
                                                                  </div>
                                                                  <div class="col-xs-3">
                                                                      <div class="mg-b-0 pd-t-5 form-group form-md-line-input">
                                                                        <select class="form-control" id="ordenCampoNumUnidad" name="ordenCampoNumUnidad">
                                                                            <!-- <option value="0" disabled>Elija uno</option> -->
                                                                            <option value="7" selected >7</option>
                                                                            <option value="2" >2</option>
                                                                            <option value="3" >3</option>
                                                                            <option value="4" >4</option>
                                                                        </select>
                                                                        <!-- <label for="ordenCampoNumReserva">N° de orden</label> -->
                                                                    </div>
                                                                  </div>
                                                              </div>
                                                              <div class="row">
                                                                  <div class="col-xs-9">
                                                                      <div class="mg-b-0 pd-t-5 form-group form-md-line-input form-md-floating-label">
                                                                          <input type="text" disabled="disabled" class="form-control" id="campoNombreUnidad" name="campoNombreUnidad" value="Nombre Unidad">
                                                                          <!-- <label for="campoNumReserva">Campo</label> -->
                                                                      </div>
                                                                  </div>
                                                                  <div class="col-xs-3">
                                                                      <div class="mg-b-0 pd-t-5 form-group form-md-line-input">
                                                                        <select class="form-control" id="ordenCampoNombreUnidad" name="ordenCampoNombreUnidad">
                                                                            <!-- <option value="0" disabled>Elija uno</option> -->
                                                                            <option value="8" selected >8</option>
                                                                            <option value="2" >2</option>
                                                                            <option value="3" >3</option>
                                                                            <option value="4" >4</option>
                                                                        </select>
                                                                        <!-- <label for="ordenCampoNumReserva">N° de orden</label> -->
                                                                    </div>
                                                                  </div>
                                                              </div>
                                                              <div class="row">
                                                                  <div class="col-xs-9">
                                                                      <div class="mg-b-0 pd-t-5 form-group form-md-line-input form-md-floating-label">
                                                                          <input type="text" disabled="disabled" class="form-control" id="campoOrigen" name="campoOrigen" value="Origen">
                                                                          <!-- <label for="campoNumReserva">Campo</label> -->
                                                                      </div>
                                                                  </div>
                                                                  <div class="col-xs-3">
                                                                      <div class="mg-b-0 pd-t-5 form-group form-md-line-input">
                                                                        <select class="form-control" id="ordenCampoOrigen" name="ordenCampoOrigen">
                                                                            <!-- <option value="0" disabled>Elija uno</option> -->
                                                                            <option value="9" selected >9</option>
                                                                            <option value="2" >2</option>
                                                                            <option value="3" >3</option>
                                                                            <option value="4" >4</option>
                                                                        </select>
                                                                        <!-- <label for="ordenCampoNumReserva">N° de orden</label> -->
                                                                    </div>
                                                                  </div>
                                                              </div>
                                                              <div class="row">
                                                                  <div class="col-xs-9">
                                                                      <div class="mg-b-0 pd-t-5 form-group form-md-line-input form-md-floating-label">
                                                                          <input type="text" disabled="disabled" class="form-control" id="campoDestino" name="campoDestino" value="Destino">
                                                                          <!-- <label for="campoNumReserva">Campo</label> -->
                                                                      </div>
                                                                  </div>
                                                                  <div class="col-xs-3">
                                                                      <div class="mg-b-0 pd-t-5 form-group form-md-line-input">
                                                                        <select class="form-control" id="ordenCampoDestino" name="ordenCampoDestino">
                                                                            <!-- <option value="0" disabled>Elija uno</option> -->
                                                                            <option value="10" selected >10</option>
                                                                            <option value="2" >2</option>
                                                                            <option value="3" >3</option>
                                                                            <option value="4" >4</option>
                                                                        </select>
                                                                        <!-- <label for="ordenCampoNumReserva">N° de orden</label> -->
                                                                    </div>
                                                                  </div>
                                                              </div>
                                                              <div class="row">
                                                                  <div class="col-xs-9">
                                                                      <div class="mg-b-0 pd-t-5 form-group form-md-line-input form-md-floating-label">
                                                                          <input type="text" disabled="disabled" class="form-control" id="campoPasajero" name="campoPasajero" value="Pasajero">
                                                                          <!-- <label for="campoNumReserva">Campo</label> -->
                                                                      </div>
                                                                  </div>
                                                                  <div class="col-xs-3">
                                                                      <div class="mg-b-0 pd-t-5 form-group form-md-line-input">
                                                                        <select class="form-control" id="ordenCampoPasajero" name="ordenCampoPasajero">
                                                                            <!-- <option value="0" disabled>Elija uno</option> -->
                                                                            <option value="11" selected >11</option>
                                                                            <option value="2" >2</option>
                                                                            <option value="3" >3</option>
                                                                            <option value="4" >4</option>
                                                                        </select>
                                                                        <!-- <label for="ordenCampoNumReserva">N° de orden</label> -->
                                                                    </div>
                                                                  </div>
                                                              </div>
                                                              <div class="row">
                                                                  <div class="col-xs-9">
                                                                      <div class="mg-b-0 pd-t-5 form-group form-md-line-input form-md-floating-label">
                                                                          <input type="text" disabled="disabled" class="form-control" id="campoSolicitante" name="campoSolicitante" value="Solicitante">
                                                                          <!-- <label for="campoNumReserva">Campo</label> -->
                                                                      </div>
                                                                  </div>
                                                                  <div class="col-xs-3">
                                                                      <div class="mg-b-0 pd-t-5 form-group form-md-line-input">
                                                                        <select class="form-control" id="ordenCampoSolicitante" name="ordenCampoSolicitante">
                                                                            <!-- <option value="0" disabled>Elija uno</option> -->
                                                                            <option value="12" selected >12</option>
                                                                            <option value="2" >2</option>
                                                                            <option value="3" >3</option>
                                                                            <option value="4" >4</option>
                                                                        </select>
                                                                        <!-- <label for="ordenCampoNumReserva">N° de orden</label> -->
                                                                    </div>
                                                                  </div>
                                                              </div>
                                                              <div class="row">
                                                                  <div class="col-xs-9">
                                                                      <div class="mg-b-0 pd-t-5 form-group form-md-line-input form-md-floating-label">
                                                                          <input type="text" disabled="disabled" class="form-control" id="campoCentroDeCostos" name="campoCentroDeCostos" value="Centro de Costos">
                                                                          <!-- <label for="campoNumReserva">Campo</label> -->
                                                                      </div>
                                                                  </div>
                                                                  <div class="col-xs-3">
                                                                      <div class="mg-b-0 pd-t-5 form-group form-md-line-input">
                                                                        <select class="form-control" id="ordenCampoCentroDeCostos" name="ordenCampoCentroDeCostos">
                                                                            <!-- <option value="0" disabled>Elija uno</option> -->
                                                                            <option value="13" selected >13</option>
                                                                            <option value="2" >2</option>
                                                                            <option value="3" >3</option>
                                                                            <option value="4" >4</option>
                                                                        </select>
                                                                        <!-- <label for="ordenCampoNumReserva">N° de orden</label> -->
                                                                    </div>
                                                                  </div>
                                                              </div>
                                                            </div>
                                                            <!--end profile-settings-->
                                                            <div class="margin-top-10 flex flex-j-between">
                                                                <button type="submit" href="#" class="btn green"> Guardar </button>
                                                                <button type="button" href="#" class="btn red"> Cancelar </button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <div class="tab-pane" id="tab_1_3">
                                                        <form action="#">
                                                          <!-- <div style="width: 50%;"> -->
                                                            <div class="form-group">
                                                                <label class="control-label">Contraseña actual</label>
                                                                <input type="password" class="form-control" /> </div>
                                                            <div class="form-group">
                                                                <label class="control-label">Nueva contraseña</label>
                                                                <input type="password" class="form-control" /> </div>
                                                            <div class="form-group">
                                                                <label class="control-label">Reingresar nueva contraseña</label>
                                                                <input type="password" class="form-control" /> </div>
                                                            <div class="margin-top-10 flex flex-j-between">
                                                                <button type="submit" href="#" class="btn green"> Cambiar </button>
                                                                <button type="button" href="#" class="btn red"> Cancelar </button>
                                                            </div>
                                                          <!-- </div> -->
                                                        </form>
                                                    </div>
                                                    <div class="tab-pane" id="tab_1_4">
                                                        <p> Podés cambiar la foto de perfil y si no tenés una podés cargarla. </p>
                                                        <form action="#" role="form">
                                                            <div class="form-group">
                                                                <div class="fileinput fileinput-new" data-provides="fileinput">
                                                                    <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
                                                                        <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt="" /> </div>
                                                                    <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"> </div>
                                                                    <div>
                                                                        <span class="btn default btn-file">
                                                                            <span class="fileinput-new"> Seleccionar imagen </span>
                                                                            <span class="fileinput-exists"> Cambiar </span>
                                                                            <input type="file" name="..."> </span>
                                                                        <a href="javascript:;" class="btn default fileinput-exists" data-dismiss="fileinput"> Eliminar </a>
                                                                    </div>
                                                                </div>
                                                                <!-- <div class="clearfix margin-top-10">
                                                                    <span class="label label-danger">NOTE! </span>
                                                                    <span>Attached image thumbnail is supported in Latest Firefox, Chrome, Opera, Safari and Internet Explorer 10 only </span>
                                                                </div> -->
                                                            </div>
                                                            <div class="margin-top-10 flex flex-j-between">
                                                                <button type="submit" href="#" class="btn green"> Cambiar </button>
                                                                <button type="button" href="#" class="btn red"> Cancelar </button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END PROFILE CONTENT -->
                        </div>
                    </div>
                </div>
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
            <!-- BEGIN QUICK SIDEBAR -->
            <!-- END QUICK SIDEBAR -->
        </div>
        <!-- END CONTAINER -->
        {% include "sistema/footer.html" %}

            <!-- SCRIPTS PROPIOS DE ESTA VISTA -->
            <script>
                $(document).ready(function(){

                    $('#tablaExportar').DataTable( {
                        responsive: true,
                        // scrollY: 200,
                        order: [[ 0, "asc" ]],
                        dom: 'lfBrtip',
                        buttons: [
                            'copy', 'excel', 'pdf', 'print'
                        ],
                        lengthMenu: [
                                        [ 100, 50, 25, 10, -1 ],
                                        [ '100', '50', '25', '10', 'Todos' ]
                                    ],
                        language: {
                            url: '//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json'
                        },
                        language: {
                            buttons: {
                                copy: "Copiar",
                                print: "Imprimir"
                            }
                        }
                    } );

                });

            </script>

        </div>
    </body>

</html>