/* ESTILOS PROPIOS */
/* NAV HEADER */
.page-header.navbar {
    height: 42px;
    min-height: 42px;
    .page-logo {
    	height: 42px;
    	width: 160px;
    	.logo-default {
			margin: 0 !important;
		}
    }
    .page-top {
    	height: 42px;
    }
    .top-menu .navbar-nav>li.dropdown {
    	height: 42px;
    }
    .top-menu .navbar-nav>li.dropdown-user .dropdown-toggle {
		padding: 11px 12px;
	}
	.top-menu .navbar-nav>li.dropdown .dropdown-menu {
    	margin-top: 0px;
	}
	.menu-toggler.responsive-toggler {
		margin: 11px 14px 0 6px;
	}
}

.page-header-fixed .page-container {
    margin-top: 42px;
}

@media (min-width: 992px) {
	.page-sidebar-reversed.page-sidebar-fixed .page-sidebar {
	    margin-left: -160px;
	}
	.page-sidebar {
		width: 160px;
	}

	body#operaciones.page-sidebar-reversed.page-sidebar-fixed .page-footer,
	body#asignaciones.page-sidebar-reversed.page-sidebar-fixed .page-footer {
		margin-right: 160px !important;
	}

	body#operaciones.page-sidebar-reversed .page-content-wrapper .page-content,
	body#asignaciones.page-sidebar-reversed .page-content-wrapper .page-content {
		margin-right: 160px !important;
	}
}


@media (max-width: 767px) {
	.page-header.navbar .top-menu .navbar-nav > li.dropdown-user .dropdown-toggle {
	    padding: 11px 13px;
	}
}



/* FORMULARIOS */
//Anulando la animacion de los labels
.form-group.form-md-line-input.form-md-floating-label .form-control~label {
	font-size: 14px;
	top: 0 !important;
	transition: none !important;
}

.form-group.form-md-line-input {
	padding-top: 15px;
}
span.select2.select2-container.select2-container--bootstrap {
	margin-top: 5px;
}

.form-group.form-md-line-input .form-control {
	font-size: 13px;
	padding-bottom: 0;
}

.portlet {
	margin-bottom: 6px;
}

.portlet.light .portlet-body {
    padding-top: 0px;
}

.portlet.light>.portlet-title {
    min-height: 0px;
    margin-bottom: 10px;
}

.portlet.light>.portlet-title>.caption {
    padding: 0;
}

.portlet-title {
	.caption {
		.btn.btn-outline {
			margin-bottom: 5px;
		}
	}
}

.table-scrollable {
	margin: 5px 0 !important;
}

.page-bar {
    margin-bottom: 5px;
}

hr {
    margin: 15px 0;
}

.input-group-addon {
    padding: 8px 6px 0 0;
}

.select2-container--bootstrap .select2-selection--single {
    height: 29px;
    padding: 4px 24px 3px 12px;
}

.select2-container--bootstrap .select2-selection--multiple {
    min-height: 28px;
    .select2-search--inline .select2-search__field {
		height: 28px;
    }
}

.form-control {
    height: 29px;
    padding: 4px 12px 3px 12px;
}

.input-daterange .input-group-addon {
	font-size: 10px;
	padding: 3px 5px;
}

@media (min-width: 992px) {
	.page-content-wrapper .page-content {
	    padding: 10px 15px 10px;
	}

	.page-sidebar-fixed .page-sidebar {
		top: 42px;
	}
}

@media (max-width: 991px) {
	.page-top .top-menu .navbar-nav>li.dropdown-user .dropdown-toggle .username.username-hide-on-mobile {
		display: none;
	}

	/* Para mejorar el desplegable en mobile */
	// .page-sidebar.navbar-collapse.in {
	// 	position: fixed;
	// }
	// .page-sidebar, .page-sidebar.navbar-collapse.in {
	// 	z-index: 1;
	// 	right: 0;
	// 	width: 200px;
	// }
}

/* USUARIO */
#configuracion {
	.form-group.form-md-line-input {
		margin: 0 0 0 0 !important;
	}
}


/* BOTONES VARIOS */
.dropdown-menu>li>a {
    padding: 0px 0px;
}

.multiselect-container>li>a>label {
    padding: 4px 30px 4px 30px;
}