@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}


/* Flexbox */
.flex {
  display: flex;
  flex-flow: row wrap;

  &.flex-grow {
    flex-grow: 1;
  }
  &.flex-flow-column {
    flex-flow: column;
  }
  &.flex-wrap {
    flex-wrap: wrap;
  }
  &.flex-flow-wrap {
    flex-flow: wrap;
  }
  &.flex-flow-wrap-reverse {
    flex-flow: wrap-reverse;
  }
  &.flex-j-between {
    justify-content: space-between;
  }
  &.flex-j-end{
    justify-content: flex-end;
  }
  &.flex-j-start {
    justify-content: flex-start;
  }
  &.flex-j-center{
    justify-content: center;
  }
  &.align-i-center{
   align-items: center;
  }
  &.align-i-start{
   align-items: start;
  }
  &.align-i-end{
   align-items: end;
  }
  &.align-center{
   align-self: center;
  }
  & .align-start{
   align-self: flex-start;
  }
  & .align-end{
   align-self: flex-end;
  }
}

.flex-row {
  flex-flow: row;
}

.flex-inline {
  display: inline-flex;
}


/* Helpers */

.hide {
  display: none !important;
}

.block {
  display: block !important;
}

.nowrap {
  white-space: nowrap;
}

.word-wrap {
  word-wrap: break-word;
}

.clearfix {
  &::before {
    content: " ";
    display: block;
    clear: both;
  }
  &::after {
    content: " ";
    display: block;
    clear: both;
  }
}

.hidden {
  visibility: hidden !important;
}
.pointer {
  cursor: pointer !important;
}
.no-pointer {
  cursor: default !important;
}
.no-events {
  pointer-events: none !important;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute !important;
}
.inline-block {
  display: inline-block;
}
.inline {
  display: inline;
}

body {
  background-color: transparent !important;
}

.page-header.navbar {
  .page-logo {/* Menú a la derecha */
    float: right;
      .logo-default {/* Logo unos px más abajo */
        margin: 30px 0 0;
    }
  }
  .top-menu {/* Menú usuario a la izquierda */
    float: left;
    .navbar-nav>li.dropdown .dropdown-menu:before {/* Flechita del Desplegable del menú de usuario tirada a la izquierda */
      right: 164px;
    }
    .navbar-nav>li.dropdown.dropdown-inbox .dropdown-menu:before {/* Flechita del Desplegable del menú de usuario tirada a la izquierda */
      right: auto;
    }
    .navbar-nav>li.dropdown .dropdown-menu:after {/* Flechita del Desplegable del menú de usuario tirada a la izquierda */
      top: -9px;
      right: 133px;
      border-bottom: 9px solid #9facac;
      border-left: 7px solid transparent;
    }
    .navbar-nav>li.dropdown.dropdown-inbox .dropdown-menu:after {/* Flechita del Desplegable del menú de usuario tirada a la izquierda */
      right: auto;
    }
    &~.flex a.btn {
      font-size: 11px;
      white-space: inherit;
    } 
  }
  .page-logo {/* Sin padding para que entre el logo y fondo acorde */
    padding-left: 0;
    padding-right: 0;
    background: #d79144;
  }
}

.nav.pull-right>li>.dropdown-menu,
.nav>li>.dropdown-menu.pull-right {/* Desplegable del menú usuario un toque a la derecha */
    left: 0;
    right: auto;
}

.page-title {/* Título de la página a la derecha */
    text-align: right;
}

/* Ubicacion del datepicker */
.datepicker {
  text-align: center;
  /* font-size: 20px; */
  font-family: helvetica;
  font-weight: 700;
  &.dropdown-menu {
    position: fixed;
    top: 103px !important;
    padding: 0px;
  }
}


/* DATATABLES */
table.dataTable tbody th,
table.dataTable tbody td,
table.dataTable thead th,
table.dataTable thead td {/* Mas angostas las rows */
    padding: 4px 8px;
}
table.dataTable tbody td {
  white-space: nowrap;
}

.table>thead:first-child>tr:first-child>th {
  white-space: nowrap;
}

/* PARA EL SELECCIONAR TODAS DE ADELANTOS */
// table.dataTable tr th.select-checkbox.selected::after {
//   content: "✔";
//   margin-top: -11px;
//   margin-left: -4px;
//   text-align: center;
//   text-shadow: rgb(176, 190, 217) 1px 1px, rgb(176, 190, 217) -1px -1px, rgb(176, 190, 217) 1px -1px, rgb(176, 190, 217) -1px 1px;
// }
table.dataTable td.select-checkbox:before {
  margin-top: unset;
  position: absolute;
  top: 35%;
}
table.dataTable tr.selected td.select-checkbox:after {
  margin-top: -13px;
  margin-left: -5px;
}

/* BOOTSTRAP TABLES */
.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {/* Elimino bordes y alineo al medio */
    vertical-align: middle;
    border-top: none;
}


/* FORMULARIOS */
// .form-viaje-cliente,
// .form-viaje-viaje,
// .form-datos-cliente,
// .form-datos-cliente-contactos,
// .form-datos-cliente-cc,
// .form-datos-cliente-facturacion,
// .form-datos-provedor,
// .form-datos-provedor-unidad,
// .form-datos-provedor-chofer,
// .form-datos-unidad {
//   label, input, select, textarea {
//     font-size: 14px !important;
//   }
//   .form-group.form-md-line-input {
//     margin: 0 0 10px;
//   }
// }

.form-group.form-md-line-input {
  margin: 0 0 10px 0 !important;
}

.form-viaje-viaje{
  .mt-repeater-delete {
    margin-top: 0.8em;
  }
}

.viaje_desde{
  padding-bottom: 4px;
  .col-md-3{
    padding-left: 3px;
    padding-right: 3px;
  }
  .form-control{
    height: 24px;
  }
}

.viaje_hasta{
  padding-bottom: 4px;
  .col-md-3{
    padding-left: 3px;
    padding-right: 3px;
  }
  .form-control{
    height: 24px;
  }
}

.form-titu-viaje{
    padding-bottom: 15px;
    h3{
      font-size: 19px;
      margin-top: 5px;
      margin-bottom: -5px;
      margin-left: -2px;
    }
}



/* CAMBIO DE COLORES */
// CAMBIO EL COLOR DE LA LINEA DE LOS INPUTS
.form-group.form-md-line-input .form-control.edited:not([readonly])~.form-control-focus:after,
.form-group.form-md-line-input .form-control.edited:not([readonly])~label:after,
.form-group.form-md-line-input .form-control:focus:not([readonly])~.form-control-focus:after,
.form-group.form-md-line-input .form-control:focus:not([readonly])~label:after {
  background: #3598dc;
}

// CAMBIO EL COLOR DE LA LINEA DE LAS TABS ACTIVE
.tabbable-line>.nav-tabs>li.active {
  border-bottom: 4px solid #3598dc;
}

// CAMBIO EL COLOR DE LA LINEA DE LAS TABS HOVER
.tabbable-line>.nav-tabs>li.open,
.tabbable-line>.nav-tabs>li:hover {
    border-bottom: 4px solid #abb0e8;
}

// CAMBIO EL BOTONCITO DE DATATABES PARA DESPLEGAR CELDAS OCULTAS
table.dataTable.dtr-column>tbody>tr.parent td.control:before,
table.dataTable.dtr-column>tbody>tr.parent th.control:before,
table.dataTable.dtr-inline.collapsed>tbody>tr.parent>td:first-child:before,
table.dataTable.dtr-inline.collapsed>tbody>tr.parent>th:first-child:before {
    background-color: #3598dc;
}

/* TABS */

// ELIMINO ESPACIO
.tabbable-line>.tab-content {
  padding: 0 0;
}

/* DROPDOWN MENU */
.page-header.navbar .top-menu .navbar-nav>li.dropdown-user {
  padding: 0 0 0 0;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown-user:not(.dropdown-inbox) .dropdown-menu>li>a:not(.btn) i {
  margin-right: 5px;
  top: 0;
}

//Menú notificaciones
.page-header.navbar .top-menu .navbar-nav>li.dropdown-extended .dropdown-menu>li.external {
  background-color: #9facac;
  &>a {
    display: inherit;
    padding: 5px;
    background: cornflowerblue;
    color: white;
    clear: inherit;
    font-size: 12px;
    font-weight: 700;
    position: relative;
    right: auto;
    border: inherit;
    margin-top: inherit;
  }
}

//Menú notificaciones
.page-header.navbar .top-menu .navbar-nav>li.dropdown-inbox>.dropdown-menu .dropdown-menu-list {
  max-height: 220px;
  overflow-x: hidden;
  overflow-y: scroll;
  &>li .subject {
    margin-left: 0;
  }
  &>li .message {
    margin-left: 0;
    height: 30px;
    overflow: hidden;
  }
}

//Menú notificaciones (notificacion en rojo)
.page-header.navbar .top-menu .navbar-nav>li.dropdown>.dropdown-toggle>.badge {
  top: 5px;
  right: 0px;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown-user:not(.dropdown-inbox)>.dropdown-menu {
    max-width: 195px;
    width: auto;
    &>li>a:not(.btn) {
      height: 50px;
      display: flex;
      align-items: center;
      padding: 0 0 0 10px;
    }
}

.dropdown-menu.dropdown-menu-default {
  li {
    position: relative;
    height: 50px;
    ul.sub-menu {
      list-style: none;
      display: none;
      li.nav-item {
        cursor: pointer;
        a.nav-link {
          padding-left: 10px;
          text-decoration: none;
          color: #555555;
          line-height: 3.5;
          display: block;
        }
      }
    }
    &:hover {
      ul.sub-menu {
        display: block;
        position: relative;
        left: 175px;
        top: -50px;
        width: 190px;
        padding: 0;
        background-color: #FFFFFF;
        box-shadow: 3px 3px 6px rgba(0,0,0,.16),1px 1px 6px rgba(0,0,0,.22)!important;
        li.nav-item:hover {
          background-color: #F6F6F6;
        }
      }
    }
  }
}

.page-sidebar-wrapper .page-sidebar .page-sidebar-menu > li:hover > a {
  background-color: transparent;
}

.box-shadow {
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.1), 0 1px 2px rgba(0,0,0,0.18) !important;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1), 0 1px 2px rgba(0,0,0,0.18) !important;
}

p.big {
  font-size: 2em;
}

//Margins y paddings de los iconos en el menú mobile
@media (max-width: 767px) {
  .page-header.navbar .top-menu .navbar-nav>li.dropdown-user {
    margin-right: 0;
  }
  .page-header.navbar .top-menu .navbar-nav>li.dropdown-user .dropdown-toggle {
    padding: 24px 13px;
  }

  // menu de notificaciones en mobile
  .page-header.navbar .top-menu .navbar-nav>li.dropdown-inbox .dropdown-menu {
    left: -150px;
  }
  .page-header.navbar .top-menu .navbar-nav>li.dropdown-inbox .dropdown-menu:after,
  .page-header.navbar .top-menu .navbar-nav>li.dropdown-inbox .dropdown-menu:before {
    margin-left: 155px;
  }

  .viajeDesde {
    border-right: none;
  }
}

.page-container {
  @extend .clearfix;
}


/* PARA ESCONDER LA BARRA LATERAL EN MOBILE */
@media (max-width: 991px) {
  body .page-sidebar-wrapper {
    display: none !important;
  }
  body#operaciones,
  body#asignaciones {
    .page-sidebar-wrapper {
      display: block !important;
      background-image: url('../img/panelOperaciones.png');
      background-size: cover;
      background-repeat: no-repeat;
      background-position-y: 20px;
      width: 160px;
      overflow: hidden;
      position: absolute;
      right: 0px;
      // top: -20px;
      z-index: 9999;
      .page-sidebar,
      .page-sidebar.navbar-collapse.in {
        margin: 0 0 0 0;
        background-color: transparent;
        .page-sidebar-menu > li:hover > a {
          background-color: transparent;
        }
      }
    }
  }
  body .page-header.navbar .menu-toggler.responsive-toggler {
    display: none !important;
  }
  body#operaciones,
  body#asignaciones {
    .page-header.navbar .menu-toggler.responsive-toggler {
      display: inline-block !important;
    }
  }
}

@media (max-width: 768px) {
  body#operaciones,
  body#asignaciones {
    .page-sidebar-wrapper {
      // position: absolute;
      // z-index: 9999;
      top: -42px;
      // right: 0px;
      .page-sidebar,
      .page-sidebar.in {
        margin: 0 0 0 0 !important;
      }
    }
  }
}

/* PARA ESCONDER LA BARRA LATERAL EN DESKTOP */
@media (min-width: 992px) {
  body.page-sidebar-reversed .page-content-wrapper .page-content {
    margin-right: 0 !important;
  }
  body.page-sidebar-reversed.page-sidebar-fixed .page-footer {
    margin-right: 0 !important;
  }
  body#operaciones.page-sidebar-reversed,
  body#asignaciones.page-sidebar-reversed {
    .page-content-wrapper .page-content {
      margin-right: 195px !important;
    }
  }
  body#operaciones.page-sidebar-reversed.page-sidebar-fixed,
  body#asignaciones.page-sidebar-reversed.page-sidebar-fixed {
    .page-footer {
      margin-right: 195px !important;
    }
  }
  body > .page-container > .page-sidebar-wrapper > .page-sidebar.navbar-collapse.collapse > .slimScrollDiv {
    display: none !important;
  }
  body#operaciones,
  body#asignaciones {
    & > .page-container > .page-sidebar-wrapper > .page-sidebar.navbar-collapse.collapse > .slimScrollDiv {
      display: block !important;
      background-image: url('../img/panelOperaciones.png');
      background-size: cover;
      background-repeat: no-repeat;
      background-position-y: 20px;
    }
  }
}

/* UBICAR LOS BOTONES DE EXPORTAR DE LAS DATATABLES */
.portlet.light {
  .dataTables_wrapper {
    .dt-buttons {
      margin-top: -1px;
      margin-right: 0;
      margin-left: 20px;
      // clear: both;
      float: left;
      a.dt-button {
        border-color: lightgrey;
        background-color: white;
        border-radius: 5px !important;
        &:hover {
          color: white;
          &.buttons-copy {
            background-color: #3598dc;
          }
          &.buttons-excel {
            background-color: #26c281;
          }
          &.buttons-pdf,
          &.botonDelPDF {
            background-color: #f36a5a;
          }
          &.buttons-print {
            background-color: #3598dc;
          }
          &.buttons-select-all {
            background-color: #3598dc;
          }
          &.buttons-select-none {
            background-color: #3598dc;
          }
        }
      }
    }
  }
}

.bootstrap-table {
  .fixed-table-toolbar {
    .bs-bars.pull-left {
      float: right !important;
    }
  }
}

span#estado_actual.label.label-info.estado-actual {
  font-size: 12px;
  padding: 6px 14px;
}

.modal-open .modal {
  padding-left: 0 !important;
}

/*TOAST*/
.toast {
  opacity: 1 !important;
}

.toast-top-right {
  top: 45px;
  right: 12px;
  // opacity: 1 !important;
}

// div.floatright {
//   display: inline;
//   float: right;
//   padding-left: 5px;
// }


/* LOADING */
/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   speak for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.preloader {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('../img/loader.gif') 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .preloader {
    display: block;
}

.page-content {
  background-image: url('../img/fondoBlancoLogin.png') !important;
  &>.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}


/* LOGIN */
.fondoLogin {
  height: 100vh; 
  background-image: url('../img/fondoBlancoLogin.png');
}

body.login {
  background-color: transparent !important;
  .logo {
    margin: 15px 0 15px 30px;
    text-align: left;
    h1 {
      padding-left: 5px;
      margin-top: 0;
    }
  }
  .content {
    padding: 10px 30px 0;
  }
}

/* FUENTES LOGIN */
// @font-face {
//   font-family: DINProRegular;
//   src: url('../fonts/DINProRegular.otf') format("opentype"),
//        local('DINProRegular');
//   font-stretch: condensed;
// }

@font-face {
  font-family: DINProBold;
  src: url('../fonts/DINProBold.otf') format("opentype"),
       local('DINProBold');
  font-stretch: condensed;
}

// .dinProRegularFont {
//   font-family: 'DINProRegular' !important;
// }

.dinProBoldFont {
  font-family: 'DINProBold' !important;
}

.naranja {
  background-color: #E87E04 !important;
}

.naranja-text {
  color: #E87E04 !important; 
}

#operaciones {
  .page-content {
    .portlet.light {
      font-size: 12px;
      padding: 7px 7px 0 7px;
      & > .portlet-title {
          margin-bottom: 0;
      }
    }
  }
  #cont_viajesEnProgreso table,
  #cont_futurosViajes table {
    border: 1px solid lightgrey;
    tbody,
    thead {
      tr {
        th,
        td {
          text-align: left;
          font-size: 10px;
          font-weight: 700;
          text-transform: uppercase;
          padding: 4px;
          white-space: nowrap;
          border-bottom: 1px solid lightgrey;
          border-top: none;
          & > .label:not(.md-skip) {
            text-transform: uppercase;
            padding: 2px 6px 2px;
            font-size: 10px;
            font-weight: 600;
            box-shadow: none;
          }
        }
        // td:nth-of-type(9),
        // td:nth-of-type(10) {
        //   text-align: left;
        // }
        th {
          padding: 4px 20px 4px 4px;
        }
      }
      tr:last-child {
        td {
          border-bottom: none;
        }
      }
    }
  }
  div.dataTables_wrapper div.dataTables_info {
    padding-top: 8px;
  }
  div.dataTables_wrapper div.dataTables_paginate {
    font-size: 10px;
    .pagination>.active>a,
    .pagination>.active>a:focus,
    .pagination>.active>a:hover,
    .pagination>.active>span,
    .pagination>.active>span:focus,
    .pagination>.active>span:hover {
      z-index: 1;
    }
  }
  .dataTables_wrapper .dataTables_length label {
    margin-bottom: 0;
  }
  .dataTables_wrapper .dataTables_filter label {
    margin-bottom: 0;
  }
  .dataTables_wrapper .dataTables_scroll {
    margin-bottom: 0;
  }
}

div.dataTables_wrapper div.dataTables_info {
  font-size: 12px;
  white-space: normal;
}